-# This is absolutely ridiculous, but I'm strapped for time.  We render the FORM, which we will then have to remove
-# in JS, *JUST* so we can get the damn nested attrribute names right.
- form_for(@collection, { :html => {:method => :put } }) do |f|
  = render :partial => 'collection_items/edit', :locals => { :collection_item => @collection_item, :item_type =>  en_type(@collection_item), :parent_form => f}
