- display ||= "block";
%fieldset{id: "collections_#{type}" , style:  "display: #{display};" }
  %ul
    = render 'collections_list_item', { :collection => current_user.watch_collection, :has_item => current_user.watch_collection.has_item?(@item) }
    - collections.reject {|c| c.id == current_user.watch_collection.id }.each do |collection|
      = render 'collections_list_item', { :collection => collection, :has_item => collection.has_item?(@item) }