%ul#collection_items.collection_names
  - @collection_items.each do |item|
    - item_type = en_type(item)
    - if ['image_map', 'map', 'image', 'video', 'sound', 'link', 'article'].include?(item_type) && ! item.is_hidden?
      %li{:class => item_type}
        = render 'collection_items/show', { collection_item: item, item_type: item_type, view_style: 'list' }
