- # FIXME: This is a placeholder view containing static markup directly from HashRocket use it as reference when creating the 'endorse a collection - choose community' functionality
#content
  .site_column
    #collections_endorse.article
      .header
        %h3 Which community should endorse this collection?
        = link_to "go back", "#"
      %ul
        - 10.times do
          %li
            = image_tag dummy_image(68, 68), alt: "Community avatar"
            %span.icon
            %h4= link_to "Mushroom Fanatics", "#"
            %p 32 members and 4 collections
