#sidebar
  .collection_contributors
    = render :partial => 'collections/managed_by', :locals => { :collection => @collection }
  - if @collection.collection_endorsements.count > 0
    .collection_contributors
      = render :partial => 'collections/endorsed_by', :locals => { :collection => @collection }

#collections.main_container
  - unless @collection_items.blank?
    .heading
      = render :partial => 'collections/sort_by_form'
    %ul.object_list
      - @collection_items.each do |item|
        = render :partial => 'collection_items/show', :locals => { :collection_item => item }
