%tr
  %td
    %strong
      =I18n.t(:published)
  %td
    = f.check_box :translated_active_translation
    =I18n.t(:must_be_checked_in_to_view)
%tr
  %td{ :valign => "top" }
    %strong
      =I18n.t(:title)
    %br
    %span#title_remaining_length
  %td
    = f.text_field :translated_title, :size => 50, :maxlength => 250, :onkeyup => "javascript:check_title_remaining();"
%tr
  %td{ :valign => "top" }
    %strong
      =I18n.t(:body)
    %br
    %span#body_remaining_length
  %td
    = cktext_area_tag(:news_item, :translated_body, :toolbarSet => 'Simple', :width => '100%', :height => '400px')
