<div id="demolist">
    <div class="toolbar">
        <h1>Poems</h1>
    </div>
    <h2>Options</h2>
    <ul class="rounded">
        <li><a href="#page1">Morning at the Window</a></li>
        <li><a href="#page2">Aunt Helen</a></li>
        <li><a href="#page3">Lucy's Song</a></li>
    </ul>
</div>
<div id="page1">
	<div class="toolbar">
        <h1>Morning at the Window</h1>
        <a class="back" href="#home">Poems</a>
    </div>
	<p>
	They are rattling breakfast plates in basement kitchens,<br/>
	And along the trampled edges of the street<br/>
	I am aware of the damp souls of housemaids<br/>
	Sprouting despondently at area gates.<br/>
	The brown waves of fog toss up to me<br/>
	Twisted faces from the bottom of the street,<br/>
	And tear from a passer-by with muddy skirts<br/>
	An aimless smile that hovers in the air<br/>
	And vanishes along the level of the roofs.	
	</p>
	<p>T. S. Eliot</p>
</div>
<div id="page2">
	<div class="toolbar">
        <h1>Aunt Helen</h1>
        <a class="back" href="#home">Poems</a>
    </div>
	<p>
	Miss Helen Slingsby was my maiden aunt,<br />
	And lived in a small house near a fashionable square<br />
	Cared for by servants to the number of four.<br />
	Now when she died there was silence in heaven<br />
	And silence at her end of the street.<br />
	The shutters were drawn and the undertaker wiped his feet--<br />
	He was aware that this sort of thing had occurred before.<br />
	The dogs were handsomely provided for,<br />
	But shortly afterwards the parrot died too.<br />
	The Dresden clock continued ticking on the mantelpiece,<br />
	And the footman sat upon the dining-table<br />
	Holding the second housemaid on his knees--<br />
	Who had always been so careful while her mistress lived.
	</p>
	<p>T. S. Eliot</p>
</div>
<div id="page3">
	<div class="toolbar">
        <h1>Lucy's Song</h1>
        <a class="back" href="#home">Poems</a>
    </div>
	<p>
	How beautiful at eventide<br />
	To see the twilight shadows pale,<br />
	Steal o'er the landscape, far and wide,<br />
	O'er stream and meadow, mound and dale!<br />
	</p>
	<p>
	How soft is Nature's calm repose<br />
	When ev'ning skies their cool dews weep:<br />
	The gentlest wind more gently blows,<br />
	As if to soothe her in her sleep!<br />
	</p>
	<p>
	The gay morn breaks,<br />
	Mists roll away,<br />
	All Nature awakes<br />
	To glorious day.<br />
	In my breast alone<br />
	Dark shadows remain;<br />
	The peace it has known<br />
	It can never regain.<br />
	</p>
	<p>Charles Dickens</p>
</div>