%div{"data-role" => "header"}
  %h1 Home

%h2 Taxa
%div{"data-role" => "content"}
  %ul{"data-role" => "listview"}
    %li.arrow= link_to "Nihileri voluptasus", mobile_taxon_path(9)
    %li.arrow= link_to "Dignissimosii inutes", mobile_taxon_path(10)

