- all_measurement_type_uris = KnownUri.all_measurement_type_uris
- cache('glossary_in_lang_' + current_language.iso_code, :expires_in => 10.minutes) do
  #content
    #known_uris.site_column.glossary
      = render 'shared/beta_warning'
      - a_to_z = ('A'..'Z').to_a
      - a_to_zero = a_to_z + [ '0' ]
      %h3
        = raw a_to_zero.collect{ |letter| link_to(letter == '0' ? '#' : letter, '#' + letter) }.join("&nbsp;&nbsp;")
      - a_to_zero.each do |letter|
        %a{ name: letter }
        .chapter_marker
          %h3= letter == '0' ? '#' : letter
        %ul.glossary
          - uris_for_this_chapter = @known_uris.select{ |ku| letter == '0' ? ( ! a_to_z.include?(ku.name.firstcap[0])) : ku.name.firstcap[0] == letter }
          - uris_for_this_chapter.sort_by { |ku| ku.name.downcase }.each do |ku|
            = render(partial: 'known_uris/definition', locals: { known_uri: ku, top_link: true, attribution: true, search_link: true })
