.copy
  - unless @references.blank?
    %p.help_text= I18n.t(:the_following_bibliography)
  %h3= I18n.t(:literature_header)
  - if @references.blank?
    .empty
      %p= I18n.t(:literature_empty)
  - else
    %ul.ref_list
      - @references.each do |ref|
        = render :partial => "refs/show_as_list_item", :locals => { :ref => ref }
