- content_for :social_sharing do
  = render 'shared/social_sharing'
#taxon_literature
  = render 'literature_menu'
  #taxon_detail
    #main.main_container
      %h3= I18n.t(:literature_links)
      .section
        - unless @literature_links_contents.blank?
          = render 'taxa/resources/link_objects', { content: @literature_links_contents }
