$('#content .site_column').prepend("<div class='literature restored' style='display: none'><%= escape_javascript(render('show')) %></div>");
EOL.restore_tab('literature', '<%= taxon_literature_path(@taxon_concept) %>');

