= javascript_include_tag 'admin-toc.js' # TODO - this should be moved to something merged.
%h2
  =I18n.t("table_of_contents_editor")
%br
=I18n.t(:please_ask_big_before_changing_toc)
%br
%br
= render('show_tree')
