= javascript_include_tag 'admin-toc.js' # TODO - this should be moved to something merged.
%h2
  Table of Contents Editor
%br
Please check with a member of the Biodiversity Informatics group before editing the table of contents. Some chapter names cannot be changed as the code look up certain chapters by label. InfoItems cannot be mapped in this interface - that must be done manually in the database.
%br
%br
= render(:partial => 'show_tree')
