%div{"data-role"=>"header"}
  =link_to "Home", "/mobile/contents", "data-icon"=>"home", "data-direction"=>"reverse"
  %h1=t "mobile.taxa.taxon_overview"

%div{"data-role"=>"content"}
  %h3=@taxon_concept.title unless @taxon_concept.title.blank?
  %div.image_container
    - first_image = @media.select {|m| m.image?}.first
    = image_tag first_image.blank? ? "/images/v2/icon_taxon.png" : first_image.original_image 

#taxonomy{"data-role"=>"content"}
  .snippet
    =render :partial => 'text_summary'
  .snippet
    = render :partial => 'classifications_summary'
  /.snippet
  /  = render :partial => 'curators_summary', :locals => {:curators => @taxon_concept.top_acting_curators}
  / .snippet
  /   = render :partial => 'taxa/media_summary'
  / .snippet
  /   = render :partial => 'taxa/iucn_status_summary'
  / .snippet
  /   = render :partial => 'taxa/collections_summary'
  / .snippet
  /   = render :partial => 'taxa/communities_summary'
  / .snippet
  /   = render :partial => 'feed_items/index', :locals => {:feed => @taxon_concept.feed}

#more_buttons{"data-role"=>"content"}
  =#link_to t("mobile.taxa.overview"), mobile_taxon_path(@taxon_concept.id), "data-role"=>"button", "data-role"=>"button"
  =link_to t("mobile.taxa.details"), mobile_taxon_details_path(@taxon_concept.id), "data-role"=>"button"
  =link_to t("mobile.taxa.media"), mobile_taxon_media_path(@taxon_concept.id), "data-role"=>"button"
  =#link_to t("mobile.taxa.maps"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.nomenclature"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.literature"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.community"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.resources"), "", "data-role"=>"button"
