<h1>New random_image</h1>

<%= error_messages_for :random_image %>

<% form_for(@random_image) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', random_images_path %>
