#media-maps.wrapper-mc.clearfix{ :style => "display: none;" }
  %input#map-taxon-concept-id{ :name => "map-taxon-concept-id", :type => "hidden", :value => @taxon_concept.gbif_map_id }
  %input#map-data-server-endpoint{ :name => "map-data-server-endpoint", :type => "hidden", :value => $MAP_DATA_SERVER_ENDPOINT }
  %input#map-gmap-key{ :name => "map-gmap-key", :type => "hidden", :value => $GOOGLE_MAP_API_KEY }
  %input#map-tile-server-1{ :name => "map-tile-server-1", :type => "hidden", :value => $MAP_TILE_SERVER_1 }
  %input#map-tile-server-2{ :name => "map-tile-server-2", :type => "hidden", :value => $MAP_TILE_SERVER_2 }
  %input#map-tile-server-3{ :name => "map-tile-server-3", :type => "hidden", :value => $MAP_TILE_SERVER_3 }
  %input#map-tile-server-4{ :name => "map-tile-server-4", :type => "hidden", :value => $MAP_TILE_SERVER_4 }
  #map-image{ :style => "display:none" }
/ end media-maps
