<div id="media-taxa-comments" class="wrapper-mc clearfix" style="display: none;">                                      
  <p id="loading-comments"><%= image_tag 'indicator_arrows_black.gif' %> Retrieving comments, please wait...</p>       
  <div id="taxaCommentsWrap" style="display: none;"></div>                                                             
</div>                                                                                                                 
