<div id="media-taxa-comments" class="wrapper-mc clearfix" style="display: <%= we_have_a_taxon_comment ? 'block' : 'none' %>;">
  <p id="loading-comments"><%= image_tag 'indicator_arrows_black.gif' %> Retrieving comments, please wait...</p>
  <div id="taxaCommentsWrap" style="display: none;"></div>
<% if(we_have_a_taxon_comment) %>
  <script type="text/javascript">
    taxon_comments_permalink(<%= @comment.id %>);
  </script>
<% end %>
</div>

