*.bundle
*.o
*.swo
*.swp
*eol_org.rb
*~
.DS_Store
config/database.yml
config/deploy
config/deploy.rb
config/environments/integration_local.rb
config/environments/labs1.rb
config/environments/staging_test.rb
config/environments/local.*
config/remi-deploy.rb
config/systems/
db/schema.rb
doc/app
lang/tmp.yml
log
public/feeds
public/javascripts/*-cached_packaged.js
public/opensearch.xml
public/search.xml
public/stylesheets/*-cached_packaged.css
public/uploads/datasets/*
solr/logs/*.*
solr/solr/data/index/*
solr/solr/eol-solr.pid
solr/work/*
tmp
vendor/eol_org
vendor/gems/json-1.1.6/bin/generator.bundle
vendor/gems/json-1.1.6/bin/parser.bundle
vendor/gems/json-1.1.6/ext/json/ext/generator/Makefile
vendor/gems/json-1.1.6/ext/json/ext/generator/generator.bundle
vendor/gems/json-1.1.6/ext/json/ext/generator/mkmf.log
vendor/gems/json-1.1.6/ext/json/ext/parser/Makefile
vendor/gems/json-1.1.6/ext/json/ext/parser/mkmf.log
vendor/gems/json-1.1.6/ext/json/ext/parser/parser.bundle
vendor/gems/json-1.4.3/ext/json/ext/generator/Makefile
vendor/gems/json-1.4.3/ext/json/ext/generator/mkmf.log
vendor/gems/json-1.4.3/ext/json/ext/parser/Makefile
vendor/gems/json-1.4.3/ext/json/ext/parser/mkmf.log
vendor/gems/libxml-ruby-1.1.3/ext/libxml/Makefile
vendor/gems/libxml-ruby-1.1.3/ext/libxml/extconf.h
vendor/gems/libxml-ruby-1.1.3/ext/libxml/mkmf.log
vendor/gems/nokogiri-1.4.2/ext/nokogiri/Makefile
vendor/gems/nokogiri-1.4.2/ext/nokogiri/conftest.dSYM
vendor/gems/nokogiri-1.4.2/ext/nokogiri/mkmf.log
vendor/gems/bmabey-email_spec-0.3.4/.specification
vendor/gems/composite_primary_keys-2.3.5.1/.specification
vendor/gems/email_spec-0.6.2/.specification
vendor/gems/eol_rackbox-1.1.7/.specification
vendor/gems/eol_scenarios-0.3.4/.specification
vendor/gems/escape-0.0.4/.specification
vendor/gems/ezcrypto-0.7.2/.specification
vendor/gems/factory_girl-1.2.4/.specification
vendor/gems/faker-0.3.1/.specification
vendor/gems/fastercsv-1.5.3/.specification
vendor/gems/haml-3.0.13/.specification
vendor/gems/json-1.4.3/.specification
vendor/gems/libxml-ruby-1.1.3/.specification
vendor/gems/macaddr-1.0.0/.specification
vendor/gems/metric_fu-1.1.6/.specification
vendor/gems/mislav-will_paginate-2.3.2/.specification
vendor/gems/mwmitchell-rsolr-0.9.6/.specification
vendor/gems/openrain-activerecord-comments-0.1.1/.specification
vendor/gems/optiflag-0.7/.specification
vendor/gems/rack-1.1.0/.specification
vendor/gems/ratom-0.6.3/.specification
vendor/gems/reek-1.2.8/.specification
vendor/gems/remi-activerecord-comments-0.1.1/.specification
vendor/gems/remi-indifferent-variable-hash-0.1.0/.specification
vendor/gems/remi-rackbox-1.1.2/.specification
vendor/gems/remi-rspec-custom-matchers-0.1.1/.specification
vendor/gems/remi-simplecli-0.1.5/.specification
vendor/gems/rspec-1.3.0/.specification
vendor/gems/rspec-custom-matchers-0.1.0/.specification
vendor/gems/rspec-rails-1.3.2/.specification
vendor/gems/ruby-yadis-0.3.4/.specification
vendor/gems/ruby2ruby-1.2.4/.specification
vendor/gems/solr-ruby-0.0.8/.specification
vendor/gems/thoughtbot-factory_girl-1.1.5/.specification
vendor/gems/uuid-2.3.1/.specification
vendor/gems/will_paginate-2.3.14/.specification
vendor/oldgem/json-1.1.6/ext/json/ext/generator/Makefile
vendor/oldgem/json-1.1.6/ext/json/ext/parser/Makefile
tags
