- current_hierarchy_id = nil
- for synonym in @content[:items]
  - if synonym.hierarchy_id != current_hierarchy_id
    - current_hierarchy_entry = synonym.hierarchy_entry
    %p
      %b
        = synonym.hierarchy.label
      %br
      =I18n.t("preferred_name_") 
      = synonym.hierarchy_entry.name.string
      - current_hierarchy_id = synonym.hierarchy_id
    %table.results_table
      %tr
        %th
          =I18n.t("name")
        %th
          =I18n.t("relationship")
      - for s in @content[:items]
        - next if s.hierarchy_id != current_hierarchy_id
        - row_class = cycle('odd', 'even')
        %tr
          %td{:class => row_class}
            = s.name.string
          %td{:class => row_class}
            = s.synonym_relation ? s.synonym_relation.label : 'synonym'
  %br
  %br
