-# NOTE - this should really be a form.  But we're already *in* a form, and putting that form at a lower level would, in fact, create a lot of duplication (I think), so I'm going to dodge the problem for now and embed URLs in the select values, which will be used by Ajax to send the proper request.
- url = url_for(:controller => 'taxa', :action => 'vet_common_name', :taxon_concept_id => @taxon_concept.id, :language_id => language_id, :name_id => name_id, :unique_id => unique_id, :vetted_id => 'REPLACE_ME')
-# I hate this.  Terribly ugly and slightly inefficient.  TODO - find a way to clean this up.
- current_value = url.sub(/REPLACE_ME/, vetted_id.to_s)
= select_tag(unique_id, options_for_select({'Trusted'[] => url.sub(/REPLACE_ME/, Vetted.trusted.id.to_s), 'Unreviewed'[] => url.sub(/REPLACE_ME/, Vetted.unknown.id.to_s), 'Untrusted'[] => url.sub(/REPLACE_ME/, Vetted.untrusted.id.to_s)}, current_value).gsub(/&amp;/, '&'))
