- taxon_concept = content[:items]
- for he in taxon_concept.published_hierarchy_entries
  - unless he.scientific_synonyms.blank?
    %p
      %b
        = he.hierarchy.label
      %br
      =I18n.t(:preferred_name_colon)
      = he.name.string
    %table.results_table
      %tr
        %th
          =I18n.t("name")
        %th
          =I18n.t("relationship")
      - for s in he.scientific_synonyms
        - row_class = cycle('odd', 'even')
        %tr
          %td{:class => row_class}
            = s.name.string
          %td{:class => row_class}
            = s.synonym_relation ? s.synonym_relation.label : 'synonym'
    %br
    %br
