#literature_references_wrapper.text_object
  - find_starting_nums = /^\s*(\d+)/
  - references = @content[:items].sort do |a,b| # This does something like a natural sort.  ...Kinda.  Only for starting digits.
    - a_num = nil
    - b_num = nil
    - if a.full_reference =~ find_starting_nums
      - a_num = $1.to_i
    - if b.full_reference =~ find_starting_nums
      - b_num = $1.to_i
    - if a_num and b_num
      - a_num <=> b_num
    - else
      - a.full_reference <=> b.full_reference
  - column_class = cycle('odd','even')
  -# Safari was being "nice" and widening the table to allow really long words... which ended up being links.  This
  -# "fix" changes the style to force the issue:
  %table.results_table{ :cellspacing => "0", :summary => "Literature References", :style => "table-layout:fixed; word-wrap:break-word; width:450px;" }
    %tr
      %th{ :scope => "col" }
        = "References"[]
    - references.each do |ref|
      %tr
        %td{:class => column_class}
          = allow_some_html ref.full_reference
