= javascript_include_tag 'navigation'
- unless @hierarchy
  =I18n.t("select_a_hierarchy_around_whic")
  %table.results_table
    %th
      =I18n.t("browsable_hierarchies")
    - @browsable_hierarchies.each do |h|
      - row_class = cycle("odd", "even")
      %tr
        %td{ :class => row_class}
          = link_to h.label, :hierarchy_id => h.id
- else
  %h3
    = @hierarchy.label
  = render('navigation/browse_stats')
