#report_from_eol
  %h2    
    = @page_header 

  The count represents the total number of published data objects under the respective SPM subject category.
  %br
    *Please take note that Wikipedia, Education and Barcode are EOL internal subjects and not part of the SPM.
  
  %table.results_table
    %tr
      %td{ :colspan => "5" }
        /= will_paginate @partner_curated_objects
    %thead{ :align => "center" }
      %tr{ :align => "center" }
        %th
          
        %th
          Species Profile Model
        %th
          No. of data objects

    %tbody
    
    = @arr["data_objects_count_per_category"]

    %tr
      %td{ :colspan => "5" }
        /= will_paginate @partner_curated_objects


