%stuff
  %foo>
    = h(@top_image.hierarchy.hierarchy_name.normal)
  %foo
    = h(@top_image.hierarchy.hierarchy_name.commonNameEN)
  %foo
    = h(@top_image.hierarchy.ancestry)
  %foo
    = h(@top_image.data_object.objectLink)