This comment will be <span style="color:red">visible</span>.
[<%= link_to_remote('undo', :url     => remove_comment_path(current_object),
                            :method  => :put,
                            :confirm => 'Are you sure you want this hidden again?',
                            :update  => "vis_cmnt_#{current_object.id}") %>]
