.text-comments-head
  %h3
    =I18n.t("comments_on_title", :title => @title)
  %hr
- if @type
  %img#comment-image{ :src => @parent.smart_image }
#comments-container
  - if current_objects.empty?
    %p
      =I18n.t("no_comments_have_been_left_yet")
    #comments
      -# ...So when they add a comment, it will go here.
  - unless current_objects.empty?
    = page_entries_info current_objects
    - paginated_section current_objects do
      #comments
        = render :partial => 'list'
  .new_comment
    = render :partial => 'new', :locals => { :length => 10 }
