<!DOCTYPE html>
<html>
<head>
  <title>Mobile EOL</title>
  <meta name="viewport" content="user-scalable=no, width=device-width" />
  <%= stylesheet_link_tag "/stylesheets/jqtouch.css", "/stylesheets/jqtouch-theme.css" %>
  <%= javascript_include_tag "/javascripts/jquery-1.4.2.min.js", "/javascripts/jqtouch.js" %>
</head>
<body>
  <div id="jqt">
    <%= yield %>
  </div>
</body>
</html>
