<!DOCTYPE html>
<html>
<head>
  <title>Mobile EOL</title>
  <meta name="viewport" content="user-scalable=no, width=device-width" />
  <%= stylesheet_link_tag "jqtouch.css", "jqtouch-theme.css" %>
  <%= javascript_include_tag "jquery-1.4.2.min.js", "jqtouch.js", "mobile.js" %>
  
</head>
<body>
  <div id="jqt">
    <%= yield %>
  </div>
</body>
</html>
