%p
  - if note.activity_id == Activity.collect.id
    - if note.collection_item.object.id == @user.id
      = t(".collection_activity_user_watching_recipient", :user_name => note.user.full_name)
    - else
      = t(".collection_activity_user_added_item", :user_name => note.user.full_name,
        :collection_item_type => note.collection_item.object_type,
        :collection_item_id => note.collection_item.object.id,
        :collection_name => note.collection.name)
  - else
    = t(".collection_activity_by_user", :user_name => note.user.full_name,
      :activity_name => note.activity.name, :collection_name => note.collection.name)
