%ul
  - [:index, :content_partners, :curators, :data_objects,
    :lifedesks, :marine, :page_richness, :users_data_objects].each do |report|
    - path_prefix = (report == :index) ? nil : report
    %li{:class => resource_is_active(:eol_statistics, report)}
      = link_to I18n.t(:menu_link, :scope => [:eol_statistics, report]),
        send([path_prefix, 'eol_statistics_path'].compact.join('_'))
