= render 'report', { :report_attributes => [[:content_partners],
  [:content_partners_with_published_resources,
  :content_partners_with_published_trusted_resources, :published_resources,
  :published_trusted_resources, :published_unreviewed_resources,
  :newly_published_resources_in_the_last_30_days]], :emphasize_indexes => [0] }

