= render 'report', { :report_attributes => [[:curators],
  [:curators_assistant, :curators_full, :curators_master, :active_curators,
  :pages_curated_by_active_curators, :objects_curated_in_the_last_30_days,
  :curator_actions_in_the_last_30_days]], :emphasize_indexes => [0] }

