= render 'report', { :report_attributes => [[:total_taxa_with_data],
  [:total_triples, :total_occurrences, :total_measurements, :total_associations,
   :total_measurement_types, :total_association_types, :total_user_added_data, :total_data_records]],
  :emphasize_indexes => [0] }

