= render :partial => 'report', :locals => { :report_attributes => [[:data_objects],
  [:data_objects_texts, :data_objects_images, :data_objects_videos,
  :data_objects_sounds, :data_objects_maps, :data_objects_trusted,
  :data_objects_unreviewed, :data_objects_untrusted,
  :data_objects_trusted_or_unreviewed_but_hidden]], :emphasize_indexes => [0] }

