= render :partial => 'report', :locals => { :report_attributes => [[:pages_count],
  [:pages_with_content,
  :rich_pages,
  :hotlist_pages,
  :rich_hotlist_pages,
  [ :rich_hotlist_pages_percentage, :percentage ],
  :redhotlist_pages,
  :rich_redhotlist_pages,
  [ :rich_redhotlist_pages_percentage, :percentage ],
  :pages_with_score_10_to_39,
  :pages_with_score_less_than_10]], :emphasize_indexes => [0] }
