- demo_object = DataObject.latest_published_version_of_guid('d72801627bf4adf1a38d9c5f10cc767f')
- url_with_guid = url_for(:controller => '/api', :action => 'data_objects', :version => '1.0', :id => demo_object.guid, :only_path => false)
- url_with_id = url_for(:controller => '/api', :action => 'data_objects', :version => '1.0', :id => demo_object.id, :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      %h3
        =I18n.t("request")
      %p
        %a{ :href => url_with_guid }
          = url_with_guid
        %br
        %a{ :href => url_with_id }
          = url_with_id
      %h3
        =I18n.t("parameters")
      %p
        %i
          =I18n.t("none")
      %h3
        =I18n.t("description")
      %p
        =I18n.t("data_object_api_description")
      %p
        =I18n.t("image_objects_will_contain_two_mediaurl_elements")
      %h3
        =I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <response
            xmlns="http://www.eol.org/transfer/content/0.3"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:dwc="http://rs.tdwg.org/dwc/dwcore/"
            xmlns:dcterms="http://purl.org/dc/terms/"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
            xsi:schemaLocation="http://www.eol.org/transfer/content/0.3 http://services.eol.org/schema/content_0_3.xsd">
            <taxon>
              <dc:identifier>1045608</dc:identifier>
              <dwc:ScientificName>Apis mellifera Linnaeus 1758</dwc:ScientificName>
              <dataObject>
                <dc:identifier>d72801627bf4adf1a38d9c5f10cc767f</dc:identifier>
                <dataType>http://purl.org/dc/dcmitype/StillImage</dataType>
                <mimeType>image/jpeg</mimeType>
                <agent homepage="http://www.flickr.com/groups/encyclopedia_of_life" role="provider">Flickr</agent>
                <agent homepage="http://www.flickr.com/photos/38875278@N08" role="photographer">John Baker</agent>
                <dcterms:created>2009-07-12 11:13:19</dcterms:created>
                <dcterms:modified>0000-00-00 00:00:00</dcterms:modified>
                <dc:title>Honey Bee on Mountain Mint</dc:title>
                <dc:language>en</dc:language>
                <license>http://creativecommons.org/licenses/by/2.0/</license>
                <dc:source>http://www.flickr.com/photos/38875278@N08/3730360050/</dc:source>
                <dc:description>A honey bee (Apis mellifera) visiting a mountain mint (Pycnanthemum muticum) blossom.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;The Pennsylvania Department of Agriculture is conducting a citizen scientist native bee monitoring project that will ultimately allow us ( The Pa Dept of Ag) to make reccommendations to gardeners as to what kind of plants they should plant in a garden to make it pollinator friendly.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;The project is in part funded by Haagen--Dazs.  For more information please visit:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.helpthehoneybees.com&quot; rel=&quot;nofollow&quot;&gt;www.helpthehoneybees.com&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;For information on the Penn State Master Gardeners, please visit:  &lt;/p&gt;&lt;p&gt;horticulture.psu.edu/extension/mg&amp;quot;</dc:description>
                <mediaURL>http://farm3.static.flickr.com/2619/3730360050_1336b71208.jpg</mediaURL>
                <mediaURL>http://content3.eol.org/content/2009/08/26/01/47113_large.jpg</mediaURL>
                <location>Yorklyn, Pennsylvania, United States</location>
                <geo:Point>
                  <geo:lat>39.989368</geo:lat>
                  <geo:long>-76.648567</geo:long>
                </geo:Point>
              </dataObject>
            </taxon>
          </response>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped
          {
              "taxonConcepts":
              [
                  {
                      "sourceIdentfier":"154396",
                      "nameAccordingTo":"Integrated Taxonomic Information System (ITIS)",
                      "scientificName":"Apis mellifera Linnaeus 1758",
                      "identifier":20451196
                  },
                  {
                      "sourceIdentfier":"1926761",
                      "nameAccordingTo":"Species 2000 & ITIS Catalogue of Life: Annual Checklist 2009",
                      "scientificName":"Apis mellifera Linnaeus 1758",
                      "identifier":25435626
                  },
                  {
                      "sourceIdentfier":"7460",
                      "nameAccordingTo":"NCBI Taxonomy",
                      "scientificName":"Apis mellifera",
                      "identifier":29080011
                  }
              ],
              "dataObjects":
              [
                  {
                      "mediaURL":"http://farm3.static.flickr.com/2619/3730360050_1336b71208.jpg",
                      "modified":"0000-00-00 00:00:00",
                      "latitude":"39.989368",
                      "location":"Yorklyn,
                       Pennsylvania,
                       United States",
                      "title":"Honey Bee on Mountain Mint",
                      "license":"http://creativecommons.org/licenses/by/2.0/",
                      "mimeType":"image/jpeg",
                      "eolMediaURL":"http://content7.eol.org/content/2009/08/26/01/47113_large.jpg",
                      "language":"en",
                      "dataType":"http://purl.org/dc/dcmitype/StillImage",
                      "agents":
                      [
                          {
                              "role":"provider",
                              "homepage":"http://www.flickr.com/groups/encyclopedia_of_life",
                              "full_name":"EOL Images Group on Flickr"
                          },
                          {
                              "role":"photographer",
                              "homepage":"http://www.flickr.com/photos/38875278@N08",
                              "full_name":"John Baker"
                          }
                      ],
                      "eolThumbnailURL":"http://content8.eol.org/content/2009/08/26/01/47113_medium.jpg",
                      "longitude":"-76.648567",
                      "description":"A honey bee (Apis mellifera) visiting a mountain mint (Pycnanthemum muticum) blossom.&nbsp;&nbsp;The Pennsylvania Department of Agriculture is conducting a citizen scientist native bee monitoring project that will ultimately allow us ( The Pa Dept of Ag) to make reccommendations to gardeners as to what kind of plants they should plant in a garden to make it pollinator friendly.&nbsp;&nbsp;The project is in part funded by Haagen--Dazs.  For more information please visit:&nbsp;<a href=\"http://www.helpthehoneybees.com\" rel=\"nofollow\">www.helpthehoneybees.com</a>&nbsp;&nbsp;For information on the Penn State Master Gardeners,
                       please visit:  &nbsp;horticulture.psu.edu/extension/mg&quot;",
                      "source":"http://www.flickr.com/photos/38875278@N08/3730360050/",
                      "identifier":"d72801627bf4adf1a38d9c5f10cc767f",
                      "references":
                      [
                      ],
                      "created":"2009-07-12 11:13:19"
                  }
              ],
              "scientificName":"Apis mellifera Linnaeus 1758",
              "identifier":1045608,
              "vernacularNames":
              [
              ]
          }
