= render(:partial=>'uservoice')
- url = url_for(:controller => '/api', :action => 'hierarchy_entries', :version => '1.0', :id => '34345892', :only_path => false)
#content
  #page-separator-general
  #page-title
    %h1
      EOL API: Hierarchy Entries
    %hr
  #page-content.clearfix
    #full-page-content
      = render(:partial=>'jump_to_nav')
      %h3
        Request
      %p.indent
        %a{ :href => url }
          = url
      %h3
        Parameters
      %p.indent
        %i
          none
      %h3
        Description
      %p.indent
        The Encyclopedia of Life does not have a singular taxonomic hierarchy upon which it creates its pages. Rather EOL indexes many hierarchies and compares them against each other. As a result any EOL page may relate to several nodes from various hierarchies. This API gives access to a single hierarchy and its internal relationships. Refer to the documentation on the pages API for information on accessing other hierarchies which correspond to a particular EOL page. The taxonConceptID field contains the EOL page identifier which can be used in the pages API.
      %p.indent
        The JSON response for this method returns more information than the XML response. The JSON response includes several statistics about this node and its taxonomic descendants. For example there is a returned field "total_descendants" which list the number of nodes which are descendants of the given node according to this hierarchy; "total_trusted_text" includes the total number of unique text data objects linked to this taxon or any of its descendants.
      %h3
        XML Response
      .formatted_code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <dwr:DarwinRecordSet xmlns:dcterms="http://purl.org/dc/terms/" xmlns:dwc="http://rs.tdwg.org/dwc/terms/" xsi:schemaLocation="http://rs.tdwg.org/dwc/dwcrecord/  http://rs.tdwg.org/dwc/xsd/tdwg_dwc_classes.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dwr="http://rs.tdwg.org/dwc/dwcrecord/" xmlns:dc="http://purl.org/dc/elements/1.1/">
            <dwc:Taxon>
              <dc:identifier>2248411</dc:identifier>
              <dwc:taxonID>33311700</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>1</dwc:taxonConceptID>
              <dwc:scientificName>Animalia</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2248810</dc:identifier>
              <dwc:taxonID>34288062</dwc:taxonID>
              <dwc:parentNameUsageID>33311700</dwc:parentNameUsageID>
              <dwc:taxonConceptID>694</dwc:taxonConceptID>
              <dwc:scientificName>Chordata</dwc:scientificName>
              <dwc:taxonRank>phylum</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2249574</dc:identifier>
              <dwc:taxonID>34336276</dwc:taxonID>
              <dwc:parentNameUsageID>34288062</dwc:parentNameUsageID>
              <dwc:taxonConceptID>1905</dwc:taxonConceptID>
              <dwc:scientificName>Actinopterygii</dwc:scientificName>
              <dwc:taxonRank>class</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2251554</dc:identifier>
              <dwc:taxonID>34343310</dwc:taxonID>
              <dwc:parentNameUsageID>34336276</dwc:parentNameUsageID>
              <dwc:taxonConceptID>5184</dwc:taxonConceptID>
              <dwc:scientificName>Perciformes</dwc:scientificName>
              <dwc:taxonRank>order</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2251592</dc:identifier>
              <dwc:taxonID>34345891</dwc:taxonID>
              <dwc:parentNameUsageID>34343310</dwc:parentNameUsageID>
              <dwc:taxonConceptID>5258</dwc:taxonConceptID>
              <dwc:scientificName>Pomatomidae</dwc:scientificName>
              <dwc:taxonRank>family</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2285164</dc:identifier>
              <dwc:taxonID>34345892</dwc:taxonID>
              <dwc:parentNameUsageID>34345891</dwc:parentNameUsageID>
              <dwc:taxonConceptID>24805</dwc:taxonConceptID>
              <dwc:scientificName>Pomatomus</dwc:scientificName>
              <dwc:taxonRank>Genus</dwc:taxonRank>
              <dwc:kingdom>Pomatomus</dwc:kingdom>
              <dwc:nameAccordingTo>Species 2000 &amp; ITIS Catalogue of Life: Annual Checklist 2010</dwc:nameAccordingTo>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>7578170</dc:identifier>
              <dwc:taxonID>34345893</dwc:taxonID>
              <dwc:parentNameUsageID>34345892</dwc:parentNameUsageID>
              <dwc:taxonConceptID>205264</dwc:taxonConceptID>
              <dwc:scientificName>Pomatomus saltatrix (Linnaeus, 1766)</dwc:scientificName>
              <dwc:taxonRank>species</dwc:taxonRank>
            </dwc:Taxon>
          </dwr:DarwinRecordSet>
      %h3
        JSON Response
      .formatted_code<
        :escaped
          {
              "total_unreviewed_text":1,
              "ancestors":
              [
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":1,
                      "sourceIdentifier":"2248411",
                      "taxonID":33311700,
                      "scientificName":"Animalia",
                      "parentNameUsageID":0
                  },
                  {
                      "taxonRank":"phylum",
                      "taxonConceptID":694,
                      "sourceIdentifier":"2248810",
                      "taxonID":34288062,
                      "scientificName":"Chordata",
                      "parentNameUsageID":33311700
                  },
                  {
                      "taxonRank":"class",
                      "taxonConceptID":1905,
                      "sourceIdentifier":"2249574",
                      "taxonID":34336276,
                      "scientificName":"Actinopterygii",
                      "parentNameUsageID":34288062
                  },
                  {
                      "taxonRank":"order",
                      "taxonConceptID":5184,
                      "sourceIdentifier":"2251554",
                      "taxonID":34343310,
                      "scientificName":"Perciformes",
                      "parentNameUsageID":34336276
                  },
                  {
                      "taxonRank":"family",
                      "taxonConceptID":5258,
                      "sourceIdentifier":"2251592",
                      "taxonID":34345891,
                      "scientificName":"Pomatomidae",
                      "parentNameUsageID":34343310
                  }
              ],
              "total_descendants_with_images":1,
              "taxonRank":"Genus",
              "taxonConceptID":24805,
              "synonyms":
              [
              ],
              "total_descendants_with_text":2,
              "total_trusted_images":6,
              "sourceIdentifier":"2285164",
              "total_unreviewed_images":4,
              "taxonID":34345892,
              "children":
              [
                  {
                      "taxonRank":"species",
                      "taxonConceptID":205264,
                      "sourceIdentifier":"7578170",
                      "taxonID":34345893,
                      "scientificName":"Pomatomus saltatrix (Linnaeus,
                       1766)",
                      "parentNameUsageID":34345892
                  }
              ],
              "nameAccordingTo":
              [
                  "Species 2000 & ITIS Catalogue of Life: Annual Checklist 2010"
              ],
              "total_trusted_text":46,
              "total_descendants":1,
              "scientificName":"Pomatomus",
              "parentNameUsageID":34345891,
              "vernacularNames":
              [
              ]
          }
