- url = url_for(:controller => '/api', :action => 'hierarchies', :version => '1.0', :id => Hierarchy.default.id, :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      %h3
        =I18n.t("request")
      %p
        %a{ :href => url }
          = url
      %h3
        =I18n.t("parameters")
      %p
        %i
          =I18n.t("none")
      %h3
        =I18n.t("description")
      %p
        =I18n.t("hierarchies_description")
      %h3
        =I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <response xmlns:dwc="http://rs.tdwg.org/dwc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
            <metadata>
              <dc:title>Species 2000 &amp; ITIS Catalogue of Life: Annual Checklist 2010</dc:title>
              <dc:contributor>Catalogue of Life</dc:contributor>
              <dc:dateSubmitted>2010-08-09 11:26:22</dc:dateSubmitted>
              <dc:source>http://www.catalogueoflife.org/</dc:source>
            </metadata>
            <dwc:Taxon>
              <dc:identifier>2248411</dc:identifier>
              <dwc:taxonID>33311700</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>1</dwc:taxonConceptID>
              <dwc:scientificName>Animalia</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2253831</dc:identifier>
              <dwc:taxonID>34786662</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>7920</dwc:taxonConceptID>
              <dwc:scientificName>Archaea</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2248578</dc:identifier>
              <dwc:taxonID>34703233</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>288</dwc:taxonConceptID>
              <dwc:scientificName>Bacteria</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2251203</dc:identifier>
              <dwc:taxonID>34723315</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>3352</dwc:taxonConceptID>
              <dwc:scientificName>Chromista</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2251834</dc:identifier>
              <dwc:taxonID>34735128</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>5559</dwc:taxonConceptID>
              <dwc:scientificName>Fungi</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2248573</dc:identifier>
              <dwc:taxonID>34425376</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>281</dwc:taxonConceptID>
              <dwc:scientificName>Plantae</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2249795</dc:identifier>
              <dwc:taxonID>34714978</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>4651</dwc:taxonConceptID>
              <dwc:scientificName>Protozoa</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
            <dwc:Taxon>
              <dc:identifier>2251450</dc:identifier>
              <dwc:taxonID>34732632</dwc:taxonID>
              <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
              <dwc:taxonConceptID>5006</dwc:taxonConceptID>
              <dwc:scientificName>Viruses</dwc:scientificName>
              <dwc:taxonRank>kingdom</dwc:taxonRank>
            </dwc:Taxon>
          </response>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped
          {
              "title":"Species 2000 & ITIS Catalogue of Life: Annual Checklist 2010",
              "contributor":"Catalogue of Life",
              "dateSubmitted":"2010-08-09 11:26:22",
              "roots":
              [
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":"1",
                      "sourceIdentifier":"2248411",
                      "taxonID":"33311700",
                      "scientificName":"Animalia",
                      "parentNameUsageID":"0"
                  },
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":"7920",
                      "sourceIdentifier":"2253831",
                      "taxonID":"34786662",
                      "scientificName":"Archaea",
                      "parentNameUsageID":"0"
                  },
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":"288",
                      "sourceIdentifier":"2248578",
                      "taxonID":"34703233",
                      "scientificName":"Bacteria",
                      "parentNameUsageID":"0"
                  },
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":"3352",
                      "sourceIdentifier":"2251203",
                      "taxonID":"34723315",
                      "scientificName":"Chromista",
                      "parentNameUsageID":"0"
                  },
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":"5559",
                      "sourceIdentifier":"2251834",
                      "taxonID":"34735128",
                      "scientificName":"Fungi",
                      "parentNameUsageID":"0"
                  },
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":"281",
                      "sourceIdentifier":"2248573",
                      "taxonID":"34425376",
                      "scientificName":"Plantae",
                      "parentNameUsageID":"0"
                  },
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":"4651",
                      "sourceIdentifier":"2249795",
                      "taxonID":"34714978",
                      "scientificName":"Protozoa",
                      "parentNameUsageID":"0"
                  },
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":"5006",
                      "sourceIdentifier":"2251450",
                      "taxonID":"34732632",
                      "scientificName":"Viruses",
                      "parentNameUsageID":"0"
                  }
              ],
              "source":"http://www.catalogueoflife.org/"
          }
