- taxon_concept = TaxonConcept.find(205264)
- url = url_for(:controller => '/api', :action => 'hierarchy_entries', :version => '1.0', :id => taxon_concept.entry.id, :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      %h3
        =I18n.t("request")
      %p
        %a{ :href => url }
          = url
      %h3
        =I18n.t("parameters")
      %table
        %col.name
        %col.values
        %col.default
        %col.notes
        %thead
          %tr
            %th
              =I18n.t("name")
            %th
              =I18n.t("values")
            %th
              =I18n.t("default")
            %th
              =I18n.t("notes")
        %tbody
          %tr
            %td
              common_names
            %td
              0 or 1
            %td
              1
            %td
              =I18n.t("return_all_common_names_for_this_taxon")
          %tr
            %td
              synonyms
            %td
              0 or 1
            %td
              1
            %td
              =I18n.t("return_all_synonyms_for_this_taxon")
      %h3
        =I18n.t("description")
      %p
        =I18n.t("hierarchies_entries_description")
      %p
        =I18n.t("the_json_response_for_this_method")
      %h3
        =I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <dwr:DarwinRecordSet xmlns:dcterms="http://purl.org/dc/terms/" xmlns:dwc="http://rs.tdwg.org/dwc/terms/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dwr="http://rs.tdwg.org/dwc/dwcrecord/" xmlns:dc="http://purl.org/dc/elements/1.1/" xsi:schemaLocation="http://rs.tdwg.org/dwc/dwcrecord/  http://rs.tdwg.org/dwc/xsd/tdwg_dwc_classes.xsd">
              <dwc:Taxon>
                  <dc:identifier>2248411</dc:identifier>
                  <dwc:taxonID>33311700</dwc:taxonID>
                  <dwc:parentNameUsageID>0</dwc:parentNameUsageID>
                  <dwc:taxonConceptID>1</dwc:taxonConceptID>
                  <dwc:scientificName>Animalia</dwc:scientificName>
                  <dwc:taxonRank>kingdom</dwc:taxonRank>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dc:identifier>2248810</dc:identifier>
                  <dwc:taxonID>34288062</dwc:taxonID>
                  <dwc:parentNameUsageID>33311700</dwc:parentNameUsageID>
                  <dwc:taxonConceptID>694</dwc:taxonConceptID>
                  <dwc:scientificName>Chordata</dwc:scientificName>
                  <dwc:taxonRank>phylum</dwc:taxonRank>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dc:identifier>2249574</dc:identifier>
                  <dwc:taxonID>34336276</dwc:taxonID>
                  <dwc:parentNameUsageID>34288062</dwc:parentNameUsageID>
                  <dwc:taxonConceptID>1905</dwc:taxonConceptID>
                  <dwc:scientificName>Actinopterygii</dwc:scientificName>
                  <dwc:taxonRank>class</dwc:taxonRank>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dc:identifier>2251554</dc:identifier>
                  <dwc:taxonID>34343310</dwc:taxonID>
                  <dwc:parentNameUsageID>34336276</dwc:parentNameUsageID>
                  <dwc:taxonConceptID>5184</dwc:taxonConceptID>
                  <dwc:scientificName>Perciformes</dwc:scientificName>
                  <dwc:taxonRank>order</dwc:taxonRank>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dc:identifier>2251592</dc:identifier>
                  <dwc:taxonID>34345891</dwc:taxonID>
                  <dwc:parentNameUsageID>34343310</dwc:parentNameUsageID>
                  <dwc:taxonConceptID>5258</dwc:taxonConceptID>
                  <dwc:scientificName>Pomatomidae</dwc:scientificName>
                  <dwc:taxonRank>family</dwc:taxonRank>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dc:identifier>2285164</dc:identifier>
                  <dwc:taxonID>34345892</dwc:taxonID>
                  <dwc:parentNameUsageID>34345891</dwc:parentNameUsageID>
                  <dwc:taxonConceptID>24805</dwc:taxonConceptID>
                  <dwc:scientificName>Pomatomus</dwc:scientificName>
                  <dwc:taxonRank>genus</dwc:taxonRank>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dc:identifier>7578170</dc:identifier>
                  <dwc:taxonID>34345893</dwc:taxonID>
                  <dwc:parentNameUsageID>34345892</dwc:parentNameUsageID>
                  <dwc:taxonConceptID>205264</dwc:taxonConceptID>
                  <dwc:scientificName>Pomatomus saltatrix (Linnaeus, 1766)</dwc:scientificName>
                  <dwc:taxonRank>Species</dwc:taxonRank>
                  <dwc:genus>Pomatomus</dwc:genus>
                  <dwc:specificEpithet>saltatrix</dwc:specificEpithet>
                  <dwc:vernacularName xml:lang="pt">Xidzukudzuana</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Xidanakata</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Xidama</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Tonina</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ar">Tekwaya</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="fr">Tassergal</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ar">Tekwa</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pl">Tasergal</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ca">Tallahams</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Tailor run</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Tailor</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="hr">Strijelka</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="sr">Strijelka skakusa</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Snapping mackerel</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Snap mackerel</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Skipmackerel</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Skipjack</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="">Skakavka</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="fi">Sinikala</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="af">Shad</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Shad</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="mt">Serragsirra imperjali</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="mt">Serra tas-snien</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Serra</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="tr">Sarikanat baligi</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Salmon bluefish</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="wo">Sakö</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Razorbacks</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="wo">Rakk</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Rasania</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="so">Qayac</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="sr">Plitica</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Pisci serra</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Pisci schiavu</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Piquitinga</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="es">Pez azul</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Pesce serra</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Pesce bianco</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ja">Okisuzuki</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="wo">Ngot</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="wo">N'got</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="wo">Ngal-ngal</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="wo">Nalnol</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Marisqueira</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Marine piranha</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ar">Magres</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="tr">Lüfer baligi</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="tr">Lüfer</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ru">Lufar</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="">Lufar</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Limun</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Limone</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="">Kouta</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="tr">Kofana baligi</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Jumbos</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Horsemackerel</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="nl">Haring</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Greenfish</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="sq">Gofe</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="el">Gofári</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="el">Gofari</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Fatback</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Enxoveta</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Enxova</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Enchovinha</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Enchoveta-baeta</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Enchoveta</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Enchova-baeta</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Enchova</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="af">Elwe</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Elf</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="af">Elf</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Dzolhwa</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="no">Dyphavsabbor</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Dichova</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="tr">Defne yapragi baligi</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="fr">Coupe-fil</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="tr">Çinekop baligi</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Choppers</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Chova</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Bluefish</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Blue fish</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="de">Blaufisch</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="de">Blaubarsch</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="da">Blåbars</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Atum</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="es">Anjova</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Anxova</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="it">Ancioia</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Anchoveta</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Anchovinha</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="es">Anchova de banco</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Anchova</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="">Anchova</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="es">Anchoa de banco</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="es">Anchoa</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="en">Ancho</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ja">Amikiri</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="pt">Albacora</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="">Ach'ked</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="el">Λουφάρι</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="el">Γοφάρι</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="el">Γουφάρι</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="">鯥</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ar">ﺱﺮﻐﻣ</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="zh">鯥</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="">扁鲹</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="">扁鰺</dwc:vernacularName>
                  <dwc:vernacularName xml:lang="ru">луфарь</dwc:vernacularName>
                  <dwc:nameAccordingTo>Species 2000 &amp; ITIS Catalogue of Life: Annual Checklist 2010</dwc:nameAccordingTo>
                  <dwc:nameAccordingTo>R Froese &amp; D Pauly (eds)</dwc:nameAccordingTo>
                  <dwc:nameAccordingTo>FishBase</dwc:nameAccordingTo>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Sparactodon nalnal Rochebrune, 1880</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Pomatomix saltatrix (Linnaeus, 1766)</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Pomatomus pedica Whitley, 1931</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Pomatomus skib Lacepède, 1802</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Pomatomus saltator (Linnaeus, 1766)</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Perca lophar Forsskål, 1775</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Cheilodipterus saltatrix (Linnaeus, 1766)</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Chromis epicurorum Gronow, 1854</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Cheilodipterus heptacanthus Lacepède, 1801</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Lopharis mediterraneus Rafinesque, 1810</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Scomer sypterus Pallas, 1814</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Temnodon tubulus Saville-Kent, 1893</dwc:scientificName>
                  <dwc:taxonomicStatus>ambiguous synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Sypterus pallasii Eichwald, 1831</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Temnodon saltator (Linnaeus, 1766)</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Temnodon conidens Castelnau, 1861</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Gonenion serra Rafinesque, 1810</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
              <dwc:Taxon>
                  <dwc:parentNameUsageID>34345893</dwc:parentNameUsageID>
                  <dwc:scientificName>Gasterosteus saltatrix Linnaeus, 1766</dwc:scientificName>
                  <dwc:taxonomicStatus>synonym</dwc:taxonomicStatus>
              </dwc:Taxon>
          </dwr:DarwinRecordSet>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped
          {
              "total_unreviewed_text":1,
              "ancestors":
              [
                  {
                      "taxonRank":"kingdom",
                      "taxonConceptID":1,
                      "sourceIdentifier":"2248411",
                      "taxonID":33311700,
                      "scientificName":"Animalia",
                      "parentNameUsageID":0
                  },
                  {
                      "taxonRank":"phylum",
                      "taxonConceptID":694,
                      "sourceIdentifier":"2248810",
                      "taxonID":34288062,
                      "scientificName":"Chordata",
                      "parentNameUsageID":33311700
                  },
                  {
                      "taxonRank":"class",
                      "taxonConceptID":1905,
                      "sourceIdentifier":"2249574",
                      "taxonID":34336276,
                      "scientificName":"Actinopterygii",
                      "parentNameUsageID":34288062
                  },
                  {
                      "taxonRank":"order",
                      "taxonConceptID":5184,
                      "sourceIdentifier":"2251554",
                      "taxonID":34343310,
                      "scientificName":"Perciformes",
                      "parentNameUsageID":34336276
                  },
                  {
                      "taxonRank":"family",
                      "taxonConceptID":5258,
                      "sourceIdentifier":"2251592",
                      "taxonID":34345891,
                      "scientificName":"Pomatomidae",
                      "parentNameUsageID":34343310
                  },
                  {
                      "taxonRank":"genus",
                      "taxonConceptID":24805,
                      "sourceIdentifier":"2285164",
                      "taxonID":34345892,
                      "scientificName":"Pomatomus",
                      "parentNameUsageID":34345891
                  }
              ],
              "total_descendants_with_images":1,
              "taxonRank":"Species",
              "taxonConceptID":205264,
              "synonyms":
              [
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Sparactodon nalnal Rochebrune,
                       1880",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Pomatomix saltatrix (Linnaeus,
                       1766)",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Pomatomus pedica Whitley,
                       1931",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Pomatomus skib Lacep\u00e8de,
                       1802",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Pomatomus saltator (Linnaeus,
                       1766)",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Perca lophar Forssk\u00e5l,
                       1775",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Cheilodipterus saltatrix (Linnaeus,
                       1766)",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Chromis epicurorum Gronow,
                       1854",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Cheilodipterus heptacanthus Lacep\u00e8de,
                       1801",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Lopharis mediterraneus Rafinesque,
                       1810",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Scomer sypterus Pallas,
                       1814",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"ambiguous synonym",
                      "scientificName":"Temnodon tubulus Saville-Kent,
                       1893",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Sypterus pallasii Eichwald,
                       1831",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Temnodon saltator (Linnaeus,
                       1766)",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Temnodon conidens Castelnau,
                       1861",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Gonenion serra Rafinesque,
                       1810",
                      "parentNameUsageID":34345893
                  },
                  {
                      "taxonomicStatus":"synonym",
                      "scientificName":"Gasterosteus saltatrix Linnaeus,
                       1766",
                      "parentNameUsageID":34345893
                  }
              ],
              "total_descendants_with_text":1,
              "total_trusted_images":6,
              "sourceIdentifier":"7578170",
              "total_unreviewed_images":4,
              "taxonID":34345893,
              "children":
              [
              ],
              "nameAccordingTo":
              [
                  "Species 2000 & ITIS Catalogue of Life: Annual Checklist 2010",
                  "R Froese & D Pauly (eds)",
                  "FishBase"
              ],
              "total_trusted_text":41,
              "total_descendants":0,
              "scientificName":"Pomatomus saltatrix (Linnaeus,
               1766)",
              "parentNameUsageID":34345892,
              "vernacularNames":
              [
                  {
                      "vernacularName":"Xidzukudzuana",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Xidanakata",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Xidama",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Tonina",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Tekwaya",
                      "language":"ar"
                  },
                  {
                      "vernacularName":"Tassergal",
                      "language":"fr"
                  },
                  {
                      "vernacularName":"Tekwa",
                      "language":"ar"
                  },
                  {
                      "vernacularName":"Tasergal",
                      "language":"pl"
                  },
                  {
                      "vernacularName":"Tallahams",
                      "language":"ca"
                  },
                  {
                      "vernacularName":"Tailor run",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Tailor",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Strijelka",
                      "language":"hr"
                  },
                  {
                      "vernacularName":"Strijelka skakusa",
                      "language":"sr"
                  },
                  {
                      "vernacularName":"Snapping mackerel",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Snap mackerel",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Skipmackerel",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Skipjack",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Skakavka",
                      "language":""
                  },
                  {
                      "vernacularName":"Sinikala",
                      "language":"fi"
                  },
                  {
                      "vernacularName":"Shad",
                      "language":"af"
                  },
                  {
                      "vernacularName":"Shad",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Serragsirra imperjali",
                      "language":"mt"
                  },
                  {
                      "vernacularName":"Serra tas-snien",
                      "language":"mt"
                  },
                  {
                      "vernacularName":"Serra",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Sarikanat baligi",
                      "language":"tr"
                  },
                  {
                      "vernacularName":"Salmon bluefish",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Sak\u00f6",
                      "language":"wo"
                  },
                  {
                      "vernacularName":"Razorbacks",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Rakk",
                      "language":"wo"
                  },
                  {
                      "vernacularName":"Rasania",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Qayac",
                      "language":"so"
                  },
                  {
                      "vernacularName":"Plitica",
                      "language":"sr"
                  },
                  {
                      "vernacularName":"Pisci serra",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Pisci schiavu",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Piquitinga",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Pez azul",
                      "language":"es"
                  },
                  {
                      "vernacularName":"Pesce serra",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Pesce bianco",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Okisuzuki",
                      "language":"ja"
                  },
                  {
                      "vernacularName":"Ngot",
                      "language":"wo"
                  },
                  {
                      "vernacularName":"N'got",
                      "language":"wo"
                  },
                  {
                      "vernacularName":"Ngal-ngal",
                      "language":"wo"
                  },
                  {
                      "vernacularName":"Nalnol",
                      "language":"wo"
                  },
                  {
                      "vernacularName":"Marisqueira",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Marine piranha",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Magres",
                      "language":"ar"
                  },
                  {
                      "vernacularName":"L\u00fcfer baligi",
                      "language":"tr"
                  },
                  {
                      "vernacularName":"L\u00fcfer",
                      "language":"tr"
                  },
                  {
                      "vernacularName":"Lufar",
                      "language":"ru"
                  },
                  {
                      "vernacularName":"Lufar",
                      "language":""
                  },
                  {
                      "vernacularName":"Limun",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Limone",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Kouta",
                      "language":""
                  },
                  {
                      "vernacularName":"Kofana baligi",
                      "language":"tr"
                  },
                  {
                      "vernacularName":"Jumbos",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Horsemackerel",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Haring",
                      "language":"nl"
                  },
                  {
                      "vernacularName":"Greenfish",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Gofe",
                      "language":"sq"
                  },
                  {
                      "vernacularName":"Gof\u00e1ri",
                      "language":"el"
                  },
                  {
                      "vernacularName":"Gofari",
                      "language":"el"
                  },
                  {
                      "vernacularName":"Fatback",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Enxoveta",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Enxova",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Enchovinha",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Enchoveta-baeta",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Enchoveta",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Enchova-baeta",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Enchova",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Elwe",
                      "language":"af"
                  },
                  {
                      "vernacularName":"Elf",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Elf",
                      "language":"af"
                  },
                  {
                      "vernacularName":"Dzolhwa",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Dyphavsabbor",
                      "language":"no"
                  },
                  {
                      "vernacularName":"Dichova",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Defne yapragi baligi",
                      "language":"tr"
                  },
                  {
                      "vernacularName":"Coupe-fil",
                      "language":"fr"
                  },
                  {
                      "vernacularName":"\u00c7inekop baligi",
                      "language":"tr"
                  },
                  {
                      "vernacularName":"Choppers",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Chova",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Bluefish",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Blue fish",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Blaufisch",
                      "language":"de"
                  },
                  {
                      "vernacularName":"Blaubarsch",
                      "language":"de"
                  },
                  {
                      "vernacularName":"Bl\u00e5bars",
                      "language":"da"
                  },
                  {
                      "vernacularName":"Atum",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Anjova",
                      "language":"es"
                  },
                  {
                      "vernacularName":"Anxova",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Ancioia",
                      "language":"it"
                  },
                  {
                      "vernacularName":"Anchoveta",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Anchovinha",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Anchova de banco",
                      "language":"es"
                  },
                  {
                      "vernacularName":"Anchova",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Anchova",
                      "language":""
                  },
                  {
                      "vernacularName":"Anchoa de banco",
                      "language":"es"
                  },
                  {
                      "vernacularName":"Anchoa",
                      "language":"es"
                  },
                  {
                      "vernacularName":"Ancho",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Amikiri",
                      "language":"ja"
                  },
                  {
                      "vernacularName":"Albacora",
                      "language":"pt"
                  },
                  {
                      "vernacularName":"Ach'ked",
                      "language":""
                  },
                  {
                      "vernacularName":"\u039b\u03bf\u03c5\u03c6\u03ac\u03c1\u03b9",
                      "language":"el"
                  },
                  {
                      "vernacularName":"\u0393\u03bf\u03c6\u03ac\u03c1\u03b9",
                      "language":"el"
                  },
                  {
                      "vernacularName":"\u0393\u03bf\u03c5\u03c6\u03ac\u03c1\u03b9",
                      "language":"el"
                  },
                  {
                      "vernacularName":"\u9be5",
                      "language":""
                  },
                  {
                      "vernacularName":"\ufeb1\ufeae\ufed0\ufee3",
                      "language":"ar"
                  },
                  {
                      "vernacularName":"\u9be5",
                      "language":"zh"
                  },
                  {
                      "vernacularName":"\u6241\u9cb9",
                      "language":""
                  },
                  {
                      "vernacularName":"\u6241\u9c3a",
                      "language":""
                  },
                  {
                      "vernacularName":"\u043b\u0443\u0444\u0430\u0440\u044c",
                      "language":"ru"
                  }
              ]
          }