#content.cms_page
  #api_methods.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      %h3
        =I18n.t(:methods)
      %table
        %thead
          %tr
            %th
              =I18n.t(:method)
            %th
              =I18n.t(:description)
        %tbody
          -# DON'T TRANSLATE WORDS THAT *MUST* BE PRESERVED.  A path of "data_objects" *must* be written
          -# "data_objects", since it's part of a URL. ...so you cannot translate it!
          - EOL::Api::METHODS.each do |method|
            - method_version = EOL::Api.default_version_of(method)
            - unless method_version.nil?
              %tr
                %td
                  = link_to method, :controller => 'api/docs', :action => method, :version => method_version::VERSION
                %td
                  = raw(method_version.brief_description)
      %h3
        =I18n.t(:response_formats)
      %p
        =I18n.t(:all_apis_return_by_default_an_xml_response)
        %code<
          :escaped
            http://eol.org/api/search/Robin
        %code<
          :escaped
            http://eol.org/api/search/Robin.xml
      %p
        =I18n.t(:every_method_can_also_return_json_response)
        %code<
          :escaped
            http://eol.org/api/search/Robin.json
      %p
        =I18n.t(:jsonp_by_adding_a_callback_parameter)
        %code<
          :escaped
            http://eol.org/api/search/Robin.json?callback=some_neat_function
      %p#api_key_section.indent
        =I18n.t(:you_can_identify_yourself_to_eol)
        %code<
          ="http://eol.org/api/search/Robin?key=1111111111111111111111111111111111"
      %p
        =I18n.t(:each_method_documentation_page_has_formatted_responses)
