- url = url_for(:controller => '/api', :action => 'pages', :version => '1.0', :id => '1045608', :images => 2, :text => 2, :subjects => 'all', :details => 1, :common_names => 1, :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = @navigation_menu
    .article.copy
      %h3
        =I18n.t("request")
      %p
        %a{ :href => url }
          = url
      %h3
        =I18n.t("parameters")
      %table
        %col.name
        %col.values
        %col.default
        %col.notes
        %thead
          %tr
            %th
              =I18n.t("name")
            %th
              =I18n.t("values")
            %th
              =I18n.t("default")
            %th
              =I18n.t("notes")
        %tbody
          %tr
            %td
              images
            %td
              0-75
            %td
              1
            %td
              =I18n.t("limits_the_number_of_returned_image_objects")
          %tr
            %td
              videos
            %td
              0-75
            %td
              1
            %td
              =I18n.t("limits_the_number_of_returned_video_objects")
          %tr
            %td
              text
            %td
              0-75
            %td
              1
            %td
              =I18n.t("limits_the_number_of_returned_text_objects")
          %tr
            %td
              =I18n.t("subject")
            %td
              %i
                =I18n.t("see_notes")
            %td
              -# NOTE this is not translated because these are options that MUST be in en:
              TaxonBiology|GeneralDescription|Description
            %td
              =I18n.t("a_pipe_delimited_list_of_spm_info_item_subject_names")
          %tr
            %td
              licenses
            %td
              = "cc-by, cc-by-nc, cc-by-sa, cc-by-nc-sa, pd ["+ I18n.t("public_domain") +"], na ["+ I18n.t("not_applicable") +"], all"
            %td
              all
            %td
              =I18n.t("a_pipe_delimited_list_of_licenses")
              = link_to I18n.t("creative_commons"), "http://creativecommons.org/licenses/", :rel => :nofollow
              =I18n.t("more_information_on_the_various_licenses")
          %tr
            %td
              details
            %td
              =I18n.t("0_or_1")
            %td
              0
            %td
              =I18n.t("include_all_metadata")
          %tr
            %td
              common_names
            %td
              =I18n.t("0_or_1")
            %td
              0
            %td
              =I18n.t("return_common_names_for_the_page_taxon")
          %tr
            %td
              vetted
            %td
              =I18n.t("0_1_or_2")
            %td
              0
            %td
              =I18n.t("return_content_by_vettedness")
          %tr
            %td
              version
            %td
              0.4, 1.0
            %td
              0.4
            %td
              =I18n.t("version_1_0_uses_fields_from_the_latest_version", :link => link_to(I18n.t("darwin_core"), 'http://rs.tdwg.org/dwc/terms/index.htm'))

      %h3
        =I18n.t("description")
      %p
        =I18n.t("page_method_description")
      %p
        =I18n.t("the_darwin_core_taxon_elements")
        =I18n.t("for_example_for_the_taxon_element_for_a_node", :link => link_to("hierarchy_entries", :action => "hierarchy_entries"))
        =I18n.t("there_is_no_singular_eol", :link =>link_to("hierarchy_entries", :action => "hierarchy_entries"))
      %p
        =I18n.t("if_the_details_parameter_is_not_set", :linka => link_to(I18n.t("dublin_core"), 'http://dublincore.org/documents/dcmi-type-vocabulary/'), :linkb=> link_to(I18n.t("species_profile_model"), 'http://rs.tdwg.org/ontology/voc/SPMInfoItems'))
      %h3
        =I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <response xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dwc="http://rs.tdwg.org/dwc/terms/" xmlns="http://www.eol.org/transfer/content/1.0" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xsi:schemaLocation="http://www.eol.org/transfer/content/1.0 http://services.eol.org/schema/content_1_0.xsd">
              <taxonConcept>
                  <taxonConceptID>1045608</taxonConceptID>
                  <dwc:ScientificName>Apis mellifera Linnaeus 1758</dwc:ScientificName>
                  <commonName eol_preferred="true">honeybee</commonName>
                  <commonName>Cabbage-tree palm</commonName>
                  <commonName>Caucasian honeybee</commonName>
                  <commonName>European Honeybee</commonName>
                  <commonName>European honey bee</commonName>
                  <commonName>Mexican Fan Palm</commonName>
                  <commonName>Mexican Washingtonia</commonName>
                  <commonName>Sunshine Wattle</commonName>
                  <commonName>cabbage palm</commonName>
                  <commonName eol_preferred="true" xml:lang="bg">Медоносна пчела</commonName>
                  <commonName eol_preferred="true" xml:lang="cs">Včela medonosná</commonName>
                  <commonName eol_preferred="true" xml:lang="da">Honningbi</commonName>
                  <commonName eol_preferred="true" xml:lang="de">Honigbiene</commonName>
                  <commonName xml:lang="de">Westliche Honigbiene</commonName>
                  <commonName eol_preferred="true" xml:lang="en">Western Honeybee</commonName>
                  <commonName xml:lang="en">Queen honeybee</commonName>
                  <commonName xml:lang="en">honey bee</commonName>
                  <commonName xml:lang="en">honey bee (German: Biene)</commonName>
                  <commonName eol_preferred="true" xml:lang="es">Apis mellifera</commonName>
                  <commonName eol_preferred="true" xml:lang="es">abeja de la miel</commonName>
                  <commonName eol_preferred="true" xml:lang="fi">Tarhamehiläinen</commonName>
                  <commonName eol_preferred="true" xml:lang="fr">abeille domestique</commonName>
                  <commonName eol_preferred="true" xml:lang="fy">Huningbij</commonName>
                  <commonName eol_preferred="true" xml:lang="he">דבורת הדבש</commonName>
                  <commonName eol_preferred="true" xml:lang="hu">Mézelő méh</commonName>
                  <commonName eol_preferred="true" xml:lang="is">Alibýfluga</commonName>
                  <commonName eol_preferred="true" xml:lang="it">ape del miele</commonName>
                  <commonName eol_preferred="true" xml:lang="ja">セイヨウミツバチ</commonName>
                  <commonName eol_preferred="true" xml:lang="lv">Eiropas medus bite</commonName>
                  <commonName eol_preferred="true" xml:lang="nn">Europeisk honningbie</commonName>
                  <commonName eol_preferred="true" xml:lang="pl">Pszczoła miodna</commonName>
                  <commonName eol_preferred="true" xml:lang="pt">abelha do mel</commonName>
                  <commonName eol_preferred="true" xml:lang="ru">Медоносная пчела</commonName>
                  <commonName eol_preferred="true" xml:lang="sk">Včela medonosná</commonName>
                  <commonName eol_preferred="true" xml:lang="uk">Бджола медоносна</commonName>
                  <additionalInformation>
                      <taxon>
                          <dc:identifier>7460</dc:identifier>
                          <dwc:taxonID>29080011</dwc:taxonID>
                          <dwc:scientificName>Apis mellifera</dwc:scientificName>
                          <dwc:nameAccordingTo>NCBI Taxonomy</dwc:nameAccordingTo>
                      </taxon>
                      <taxon>
                          <dc:identifier>6845885</dc:identifier>
                          <dwc:taxonID>33876482</dwc:taxonID>
                          <dwc:scientificName>Apis mellifera Linnaeus 1758</dwc:scientificName>
                          <dwc:nameAccordingTo>Species 2000 &amp; ITIS Catalogue of Life: Annual Checklist 2010</dwc:nameAccordingTo>
                      </taxon>
                      <taxon>
                          <dc:identifier>154396</dc:identifier>
                          <dwc:taxonID>36693149</dwc:taxonID>
                          <dwc:scientificName>Apis mellifera Linnaeus 1758</dwc:scientificName>
                          <dwc:nameAccordingTo>Integrated Taxonomic Information System (ITIS)</dwc:nameAccordingTo>
                      </taxon>
                  </additionalInformation>
              </taxonConcept>
              <dataObject>
                  <dataObjectID>dbf789a66a7a9a622dc55c240bfd3619</dataObjectID>
                  <taxonConceptID>1045608</taxonConceptID>
                  <dataType>http://purl.org/dc/dcmitype/Text</dataType>
                  <mimeType>text/html</mimeType>
                  <dc:title>Description</dc:title>
                  <dc:language>en</dc:language>
                  <license>http://creativecommons.org/licenses/by-nc-sa/3.0/</license>
                  <dc:rights>Copyright Wildscreen 2003-2008</dc:rights>
                  <dcterms:rightsHolder>Wildscreen</dcterms:rightsHolder>
                  <dc:source>http://www.arkive.org/honey-bee/apis-mellifera/</dc:source>
                  <subject>http://rs.tdwg.org/ontology/voc/SPMInfoItems#GeneralDescription</subject>
                  <dc:description>The honey bee is probably one of the best-known of all insects in the world (3); it performs a vital role in the pollination of flowering plants, including our crop species (4) . There are three 'castes' within a bee hive, a 'queen' (the reproductive female), the 'drones' (reproductive males) and 'workers' (non-reproductive females) (3). All three castes are broadly similar in appearance; the body is covered in short hairs, and is divided into a head, a thorax and an abdomen, the head features two large eyes and a pair of antennae. The thorax bears two pairs of wings above, and three pairs of legs below and there is a slender 'waist' between the thorax and abdomen (5). The queen has a much longer and slender abdomen than the workers, and the drones can be identified by their broader abdomens and much larger eyes (5).</dc:description>
                  <additionalInformation>
                      <vettedStatus>Trusted</vettedStatus>
                      <dataRating>4.0</dataRating>
                  </additionalInformation>
              </dataObject>
              <dataObject>
                  <dataObjectID>8ad9be27871b41c112353d179130cf27</dataObjectID>
                  <taxonConceptID>1045608</taxonConceptID>
                  <dataType>http://purl.org/dc/dcmitype/Text</dataType>
                  <mimeType>text/html</mimeType>
                  <dc:title>Biology</dc:title>
                  <dc:language>en</dc:language>
                  <license>http://creativecommons.org/licenses/by-nc-sa/3.0/</license>
                  <dc:rights>Copyright Wildscreen 2003-2008</dc:rights>
                  <dcterms:rightsHolder>Wildscreen</dcterms:rightsHolder>
                  <dc:source>http://www.arkive.org/honey-bee/apis-mellifera/</dc:source>
                  <subject>http://rs.tdwg.org/ontology/voc/SPMInfoItems#TaxonBiology</subject>
                  <dc:description>The hive structure consists of wax 'honeycombs', each honeycomb is made of small cells, which are used to store food or to rear the brood. Bees feed on nectar and pollen taken from flowers; stores of honey (regurgitated nectar) and pollen (gathered on the legs in special 'pollen baskets') see them through the winter (5). Honey bees have a complex system of communication; when a good supply of flowers has been discovered, a returning forager can convey the location of the food to other workers by means of special dances. The discovery of a good foraging location is announced by the 'round dance' in which the forager circles around rapidly, while the 'waggle dance', involving a rapid movement of the tail, contains information on the distance and direction of the flowers in relation to the hive, using the sun as a compass (5).&amp;nbsp;The queen is the only bee within the colony to lay eggs, the workers care for the brood, and carry out many other duties for the hive, including foraging and cleaning (5). The queen mates just once, on a 'nuptial flight' during spring, and stores enough sperm inside her body to allow her to fertilise her eggs for the rest of her life. Eggs are laid from March to October; each egg is deposited into a cell, and a small, white larva emerges after around 3 days. Workers provide the larva with food; after 6 days the pupal stage will develop, and the workers cap the cells containing fully developed larvae with wax. The adult bee will climb out of the cell 12 days later.  Drones (males) are produced from unfertilised eggs, and appear in the colony during spring and early summer; they take three days longer to develop into adults than workers, and are ejected from the colony later in the year by the workers (5). Both worker and queen bee larvae are fed on a rich liquid known as 'royal jelly' in the first days of life. Workers are then fed on pollen and nectar, but larvae that continue to be given royal jelly develop into queens. The first new queen to emerge may sting the other developing queens to death. After mating she may either take the place of her mother (who may have departed the hive in a swarm, taking half of the workers with her), or establish a new colony (5).</dc:description>
                  <additionalInformation>
                      <vettedStatus>Trusted</vettedStatus>
                      <dataRating>2.5</dataRating>
                  </additionalInformation>
              </dataObject>
              <dataObject>
                  <dataObjectID>d72801627bf4adf1a38d9c5f10cc767f</dataObjectID>
                  <taxonConceptID>1045608</taxonConceptID>
                  <dataType>http://purl.org/dc/dcmitype/StillImage</dataType>
                  <mimeType>image/jpeg</mimeType>
                  <agent role="photographer" homepage="http://www.flickr.com/photos/38875278@N08">John Baker</agent>
                  <dcterms:created>2009-07-12 11:13:19 UTC</dcterms:created>
                  <dc:title>Honey Bee on Mountain Mint</dc:title>
                  <dc:language>en</dc:language>
                  <license>http://creativecommons.org/licenses/by/2.0/</license>
                  <dc:source>http://www.flickr.com/photos/38875278@N08/3730360050/</dc:source>
                  <dc:description>A honey bee (Apis mellifera) visiting a mountain mint (Pycnanthemum muticum) blossom.&amp;nbsp;&amp;nbsp;The Pennsylvania Department of Agriculture is conducting a citizen scientist native bee monitoring project that will ultimately allow us ( The Pa Dept of Ag) to make reccommendations to gardeners as to what kind of plants they should plant in a garden to make it pollinator friendly.&amp;nbsp;&amp;nbsp;The project is in part funded by Haagen--Dazs.  For more information please visit:&amp;nbsp;&lt;a href="http://www.helpthehoneybees.com" rel="nofollow"&gt;www.helpthehoneybees.com&lt;/a&gt;&amp;nbsp;&amp;nbsp;For information on the Penn State Master Gardeners, please visit:  &amp;nbsp;horticulture.psu.edu/extension/mg&amp;quot;</dc:description>
                  <mediaURL>http://farm3.static.flickr.com/2619/3730360050_1336b71208.jpg</mediaURL>
                  <mediaURL>http://content2.eol.org/content/2009/08/26/01/47113_orig.jpg</mediaURL>
                  <location>Yorklyn, Pennsylvania, United States</location>
                  <geo:Point>
                      <geo:lat>39.989368</geo:lat>
                      <geo:long>-76.648567</geo:long>
                  </geo:Point>
                  <additionalInformation>
                      <vettedStatus>Trusted</vettedStatus>
                      <dataRating>3.0</dataRating>
                  </additionalInformation>
              </dataObject>
              <dataObject>
                  <dataObjectID>e70cb321fd2933d4db48b6c41271068b</dataObjectID>
                  <taxonConceptID>1045608</taxonConceptID>
                  <dataType>http://purl.org/dc/dcmitype/MovingImage</dataType>
                  <mimeType>video/x-flv</mimeType>
                  <agent role="photographer" homepage="http://www.flickr.com/photos/58213213@N00">Valter Jacinto</agent>
                  <dcterms:created>2009-01-24 11:44:09 UTC</dcterms:created>
                  <dc:title>Abelhas numa Azinheira // Honey Bees on a Holm Oak (Apis mellifera)</dc:title>
                  <dc:language>en</dc:language>
                  <license>http://creativecommons.org/licenses/by-nc-sa/2.0/</license>
                  <dc:source>http://www.flickr.com/photos/valter/3236419704/</dc:source>
                  <dc:description>&lt;b&gt;Location&lt;/b&gt;: Azinhal &amp;gt; Castro Marim &amp;gt; Algarve &amp;gt; Portugal&amp;nbsp;&amp;nbsp;&lt;b&gt;Recording Date&lt;/b&gt;: January 24, 2009&amp;nbsp;</dc:description>
                  <mediaURL>http://www.flickr.com/apps/video/stewart.swf?v=71377&amp;photo_id=3236419704&amp;photo_secret=68be62ac11</mediaURL>
                  <location>Faro, Portugal</location>
                  <geo:Point>
                      <geo:lat>37.287574</geo:lat>
                      <geo:long>-7.500743</geo:long>
                  </geo:Point>
                  <additionalInformation>
                      <vettedStatus>Unknown</vettedStatus>
                      <dataRating>2.5</dataRating>
                  </additionalInformation>
              </dataObject>
              <dataObject>
                  <dataObjectID>5bd05f95cc663ef658a6cbd33e8f3e8d</dataObjectID>
                  <taxonConceptID>1045608</taxonConceptID>
                  <dataType>http://purl.org/dc/dcmitype/StillImage</dataType>
                  <agent role="photographer" homepage="http://commons.wikimedia.org/wiki/User:Ken_Thomas">Ken Thomas</agent>
                  <dc:title>File:Honeybee-27527-1.jpg</dc:title>
                  <dc:language>en</dc:language>
                  <license>http://creativecommons.org/licenses/publicdomain/</license>
                  <dc:source>http://commons.wikimedia.org/wiki/File:Honeybee-27527-1.jpg</dc:source>
                  <dc:description>&lt;a href='http://en.wikipedia.org/wiki/Apis mellifera ligustica'&gt;Italian honeybee&lt;/a&gt; (&lt;i&gt;Apis mellifera ligustica&lt;/i&gt;) &lt;a href='http://en.wikipedia.org/wiki/Worker_bee'&gt;worker&lt;/a&gt;.&lt;br&gt;Photo taken with a &lt;a href='http://en.wikipedia.org/wiki/Panasonic_Lumix_DMC-FZ50'&gt;Panasonic Lumix DMC-FZ50&lt;/a&gt; (with a &lt;a href='http://en.wikipedia.org/wiki/Tiffen'&gt;Tiffen&lt;/a&gt; +4 &lt;a href='http://en.wikipedia.org/wiki/Close-up_lens'&gt;Dioptic Lens&lt;/a&gt;) in &lt;a href='http://en.wikipedia.org/wiki/Caldwell_County%2C_North_Carolina'&gt;Caldwell County, NC, USA&lt;/a&gt;.</dc:description>
                  <mediaURL>http://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Honeybee-27527-1.jpg/460px-Honeybee-27527-1.jpg</mediaURL>
                  <mediaURL>http://content3.eol.org/content/2009/09/15/14/65086_orig.jpg</mediaURL>
                  <additionalInformation>
                      <vettedStatus>Trusted</vettedStatus>
                      <dataRating>3.0</dataRating>
                  </additionalInformation>
              </dataObject>
          </response>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped
          {
              "taxonConcepts":
              [
                  {
                      "sourceIdentfier":"7460",
                      "nameAccordingTo":"NCBI Taxonomy",
                      "scientificName":"Apis mellifera",
                      "identifier":29080011
                  },
                  {
                      "sourceIdentfier":"6845885",
                      "nameAccordingTo":"Species 2000 & ITIS Catalogue of Life: Annual Checklist 2010",
                      "scientificName":"Apis mellifera Linnaeus 1758",
                      "identifier":33876482
                  },
                  {
                      "sourceIdentfier":"154396",
                      "nameAccordingTo":"Integrated Taxonomic Information System (ITIS)",
                      "scientificName":"Apis mellifera Linnaeus 1758",
                      "identifier":36693149
                  }
              ],
              "dataObjects":
              [
                  {
                      "vettedStatus":"Trusted",
                      "title":"Description",
                      "rights":"Copyright Wildscreen 2003-2008",
                      "license":"http://creativecommons.org/licenses/by-nc-sa/3.0/",
                      "mimeType":"text/html",
                      "language":"en",
                      "dataType":"http://purl.org/dc/dcmitype/Text",
                      "agents":
                      [
                      ],
                      "subject":"http://rs.tdwg.org/ontology/voc/SPMInfoItems#GeneralDescription",
                      "rightsHolder":"Wildscreen",
                      "description":"The honey bee is probably one of the best-known of all insects in the world (3); it performs a vital role in the pollination of flowering plants,
                       including our crop species (4) . There are three 'castes' within a bee hive,
                       a 'queen' (the reproductive female),
                       the 'drones' (reproductive males) and 'workers' (non-reproductive females) (3). All three castes are broadly similar in appearance; the body is covered in short hairs,
                       and is divided into a head,
                       a thorax and an abdomen,
                       the head features two large eyes and a pair of antennae. The thorax bears two pairs of wings above,
                       and three pairs of legs below and there is a slender 'waist' between the thorax and abdomen (5). The queen has a much longer and slender abdomen than the workers,
                       and the drones can be identified by their broader abdomens and much larger eyes (5).",
                      "dataRating":4.0,
                      "source":"http://www.arkive.org/honey-bee/apis-mellifera/",
                      "identifier":"dbf789a66a7a9a622dc55c240bfd3619",
                      "references":
                      [
                      ]
                  },
                  {
                      "vettedStatus":"Trusted",
                      "title":"Biology",
                      "rights":"Copyright Wildscreen 2003-2008",
                      "license":"http://creativecommons.org/licenses/by-nc-sa/3.0/",
                      "mimeType":"text/html",
                      "language":"en",
                      "dataType":"http://purl.org/dc/dcmitype/Text",
                      "agents":
                      [
                      ],
                      "subject":"http://rs.tdwg.org/ontology/voc/SPMInfoItems#TaxonBiology",
                      "rightsHolder":"Wildscreen",
                      "description":"The hive structure consists of wax 'honeycombs',
                       each honeycomb is made of small cells,
                       which are used to store food or to rear the brood. Bees feed on nectar and pollen taken from flowers; stores of honey (regurgitated nectar) and pollen (gathered on the legs in special 'pollen baskets') see them through the winter (5). Honey bees have a complex system of communication; when a good supply of flowers has been discovered,
                       a returning forager can convey the location of the food to other workers by means of special dances. The discovery of a good foraging location is announced by the 'round dance' in which the forager circles around rapidly,
                       while the 'waggle dance',
                       involving a rapid movement of the tail,
                       contains information on the distance and direction of the flowers in relation to the hive,
                       using the sun as a compass (5).&nbsp;The queen is the only bee within the colony to lay eggs,
                       the workers care for the brood,
                       and carry out many other duties for the hive,
                       including foraging and cleaning (5). The queen mates just once,
                       on a 'nuptial flight' during spring,
                       and stores enough sperm inside her body to allow her to fertilise her eggs for the rest of her life. Eggs are laid from March to October; each egg is deposited into a cell,
                       and a small,
                       white larva emerges after around 3 days. Workers provide the larva with food; after 6 days the pupal stage will develop,
                       and the workers cap the cells containing fully developed larvae with wax. The adult bee will climb out of the cell 12 days later.  Drones (males) are produced from unfertilised eggs,
                       and appear in the colony during spring and early summer; they take three days longer to develop into adults than workers,
                       and are ejected from the colony later in the year by the workers (5). Both worker and queen bee larvae are fed on a rich liquid known as 'royal jelly' in the first days of life. Workers are then fed on pollen and nectar,
                       but larvae that continue to be given royal jelly develop into queens. The first new queen to emerge may sting the other developing queens to death. After mating she may either take the place of her mother (who may have departed the hive in a swarm,
                       taking half of the workers with her),
                       or establish a new colony (5).",
                      "dataRating":2.5,
                      "source":"http://www.arkive.org/honey-bee/apis-mellifera/",
                      "identifier":"8ad9be27871b41c112353d179130cf27",
                      "references":
                      [
                      ]
                  },
                  {
                      "mediaURL":"http://farm3.static.flickr.com/2619/3730360050_1336b71208.jpg",
                      "latitude":39.989368,
                      "location":"Yorklyn,
                       Pennsylvania,
                       United States",
                      "vettedStatus":"Trusted",
                      "title":"Honey Bee on Mountain Mint",
                      "license":"http://creativecommons.org/licenses/by/2.0/",
                      "mimeType":"image/jpeg",
                      "eolMediaURL":"http://content2.eol.org/content/2009/08/26/01/47113_orig.jpg",
                      "language":"en",
                      "dataType":"http://purl.org/dc/dcmitype/StillImage",
                      "agents":
                      [
                          {
                              "role":"photographer",
                              "homepage":"http://www.flickr.com/photos/38875278@N08",
                              "full_name":"John Baker"
                          }
                      ],
                      "eolThumbnailURL":"http://content3.eol.org/content/2009/08/26/01/47113_medium.jpg",
                      "longitude":-76.648567,
                      "description":"A honey bee (Apis mellifera) visiting a mountain mint (Pycnanthemum muticum) blossom.&nbsp;&nbsp;The Pennsylvania Department of Agriculture is conducting a citizen scientist native bee monitoring project that will ultimately allow us ( The Pa Dept of Ag) to make reccommendations to gardeners as to what kind of plants they should plant in a garden to make it pollinator friendly.&nbsp;&nbsp;The project is in part funded by Haagen--Dazs.  For more information please visit:&nbsp;<a href=\"http://www.helpthehoneybees.com\" rel=\"nofollow\">www.helpthehoneybees.com</a>&nbsp;&nbsp;For information on the Penn State Master Gardeners,
                       please visit:  &nbsp;horticulture.psu.edu/extension/mg&quot;",
                      "dataRating":3.0,
                      "source":"http://www.flickr.com/photos/38875278@N08/3730360050/",
                      "identifier":"d72801627bf4adf1a38d9c5f10cc767f",
                      "references":
                      [
                      ],
                      "created":"2009-07-12T11:13:19Z"
                  },
                  {
                      "mediaURL":"http://www.flickr.com/apps/video/stewart.swf?v=71377&photo_id=3236419704&photo_secret=68be62ac11",
                      "latitude":37.287574,
                      "location":"Faro,
                       Portugal",
                      "vettedStatus":"Unknown",
                      "title":"Abelhas numa Azinheira // Honey Bees on a Holm Oak (Apis mellifera)",
                      "license":"http://creativecommons.org/licenses/by-nc-sa/2.0/",
                      "mimeType":"video/x-flv",
                      "language":"en",
                      "dataType":"http://purl.org/dc/dcmitype/MovingImage",
                      "agents":
                      [
                          {
                              "role":"photographer",
                              "homepage":"http://www.flickr.com/photos/58213213@N00",
                              "full_name":"Valter Jacinto"
                          }
                      ],
                      "longitude":-7.500743,
                      "description":"<b>Location</b>: Azinhal &gt; Castro Marim &gt; Algarve &gt; Portugal&nbsp;&nbsp;<b>Recording Date</b>: January 24,
                       2009&nbsp;",
                      "dataRating":2.5,
                      "source":"http://www.flickr.com/photos/valter/3236419704/",
                      "identifier":"e70cb321fd2933d4db48b6c41271068b",
                      "references":
                      [
                      ],
                      "created":"2009-01-24T11:44:09Z"
                  },
                  {
                      "mediaURL":"http://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Honeybee-27527-1.jpg/460px-Honeybee-27527-1.jpg",
                      "vettedStatus":"Trusted",
                      "title":"File:Honeybee-27527-1.jpg",
                      "license":"http://creativecommons.org/licenses/publicdomain/",
                      "eolMediaURL":"http://content4.eol.org/content/2009/09/15/14/65086_orig.jpg",
                      "language":"en",
                      "dataType":"http://purl.org/dc/dcmitype/StillImage",
                      "agents":
                      [
                          {
                              "role":"photographer",
                              "homepage":"http://commons.wikimedia.org/wiki/User:Ken_Thomas",
                              "full_name":"Ken Thomas"
                          }
                      ],
                      "eolThumbnailURL":"http://content5.eol.org/content/2009/09/15/14/65086_medium.jpg",
                      "description":"<a href='http://en.wikipedia.org/wiki/Apis mellifera ligustica'>Italian honeybee</a> (<i>Apis mellifera ligustica</i>) <a href='http://en.wikipedia.org/wiki/Worker_bee'>worker</a>.<br>Photo taken with a <a href='http://en.wikipedia.org/wiki/Panasonic_Lumix_DMC-FZ50'>Panasonic Lumix DMC-FZ50</a> (with a <a href='http://en.wikipedia.org/wiki/Tiffen'>Tiffen</a> +4 <a href='http://en.wikipedia.org/wiki/Close-up_lens'>Dioptic Lens</a>) in <a href='http://en.wikipedia.org/wiki/Caldwell_County%2C_North_Carolina'>Caldwell County,
                       NC,
                       USA</a>.",
                      "dataRating":3.0,
                      "source":"http://commons.wikimedia.org/wiki/File:Honeybee-27527-1.jpg",
                      "identifier":"5bd05f95cc663ef658a6cbd33e8f3e8d",
                      "references":
                      [
                      ]
                  }
              ],
              "scientificName":"Apis mellifera Linnaeus 1758",
              "identifier":1045608,
              "vernacularNames":
              [
                  {
                      "vernacularName":"honeybee",
                      "language":"",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Cabbage-tree palm",
                      "language":""
                  },
                  {
                      "vernacularName":"Caucasian honeybee",
                      "language":""
                  },
                  {
                      "vernacularName":"European Honeybee",
                      "language":""
                  },
                  {
                      "vernacularName":"European honey bee",
                      "language":""
                  },
                  {
                      "vernacularName":"Mexican Fan Palm",
                      "language":""
                  },
                  {
                      "vernacularName":"Mexican Washingtonia",
                      "language":""
                  },
                  {
                      "vernacularName":"Sunshine Wattle",
                      "language":""
                  },
                  {
                      "vernacularName":"cabbage palm",
                      "language":""
                  },
                  {
                      "vernacularName":"\u041c\u0435\u0434\u043e\u043d\u043e\u0441\u043d\u0430 \u043f\u0447\u0435\u043b\u0430",
                      "language":"bg",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"V\u010dela medonosn\u00e1",
                      "language":"cs",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Honningbi",
                      "language":"da",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Honigbiene",
                      "language":"de",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Westliche Honigbiene",
                      "language":"de"
                  },
                  {
                      "vernacularName":"Western Honeybee",
                      "language":"en",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Queen honeybee",
                      "language":"en"
                  },
                  {
                      "vernacularName":"honey bee",
                      "language":"en"
                  },
                  {
                      "vernacularName":"honey bee (German: Biene)",
                      "language":"en"
                  },
                  {
                      "vernacularName":"Apis mellifera",
                      "language":"es",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"abeja de la miel",
                      "language":"es",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Tarhamehil\u00e4inen",
                      "language":"fi",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"abeille domestique",
                      "language":"fr",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Huningbij",
                      "language":"fy",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"\u05d3\u05d1\u05d5\u05e8\u05ea \u05d4\u05d3\u05d1\u05e9",
                      "language":"he",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"M\u00e9zel\u0151 m\u00e9h",
                      "language":"hu",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Alib\u00fdfluga",
                      "language":"is",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"ape del miele",
                      "language":"it",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"\u30bb\u30a4\u30e8\u30a6\u30df\u30c4\u30d0\u30c1",
                      "language":"ja",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Eiropas medus bite",
                      "language":"lv",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Europeisk honningbie",
                      "language":"nn",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"Pszczo\u0142a miodna",
                      "language":"pl",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"abelha do mel",
                      "language":"pt",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"\u041c\u0435\u0434\u043e\u043d\u043e\u0441\u043d\u0430\u044f \u043f\u0447\u0435\u043b\u0430",
                      "language":"ru",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"V\u010dela medonosn\u00e1",
                      "language":"sk",
                      "eol_preferred":true
                  },
                  {
                      "vernacularName":"\u0411\u0434\u0436\u043e\u043b\u0430 \u043c\u0435\u0434\u043e\u043d\u043e\u0441\u043d\u0430",
                      "language":"uk",
                      "eol_preferred":true
                  }
              ]
          }

