- url = url_for(:controller => '/api', :action => 'ping', :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      %h3
        = I18n.t("request")
      %p
        = link_to url, url
      %h3
        = I18n.t("parameters")
      %p
        %i
          =I18n.t("none")
      %h3
        =I18n.t("description")
      %p
        =I18n.t("ping_method_description")
      %h3
        =I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <response>
            <message>Success</message>
          </response>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped
          {
              "response":
              {
                  "message":"Success"
              }
          }
