- url = url_for(:controller => '/api', :action => 'provider_hierarchies', :version => '1.0', :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = @navigation_menu
    .article.copy
      %h3
        =I18n.t("request")
      %p
        %a{ :href => url }
          = url
      %h3
        =I18n.t("parameters")
      %p
        %i
          =I18n.t("none")
      %h3
        =I18n.t("description")
      %p
        =I18n.t("provider_hierarchies_method_description")
      %h3
        =I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <results>
            <hierarchy id="121">AntWeb (Ant Species)</hierarchy>
            <hierarchy id="123">WORMS Species Information (Marine Species)</hierarchy>
            <hierarchy id="143">FishBase (Fish Species)</hierarchy>
            <hierarchy id="144">IUCN Red List (Species Assessed for Global Conservation)</hierarchy>
            <hierarchy id="441">NCBI Taxonomy</hierarchy>
            <hierarchy id="529">Species 2000 &amp; ITIS Catalogue of Life: Annual Checklist 2010</hierarchy>
            <hierarchy id="596">Index Fungorum</hierarchy>
            <hierarchy id="627">Integrated Taxonomic Information System (ITIS)</hierarchy>
            <hierarchy id="683">Metalmark Moths of the World</hierarchy>
          </results>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped
          [
              {
                  "label":"AntWeb (Ant Species)",
                  "id":121
              },
              {
                  "label":"WORMS Species Information (Marine Species)",
                  "id":123
              },
              {
                  "label":"FishBase (Fish Species)",
                  "id":143
              },
              {
                  "label":"IUCN Red List (Species Assessed for Global Conservation)",
                  "id":144
              },
              {
                  "label":"NCBI Taxonomy",
                  "id":441
              },
              {
                  "label":"Species 2000 & ITIS Catalogue of Life: Annual Checklist 2010",
                  "id":529
              },
              {
                  "label":"Index Fungorum",
                  "id":596
              },
              {
                  "label":"Integrated Taxonomic Information System (ITIS)",
                  "id":627
              },
              {
                  "label":"Metalmark Moths of the World",
                  "id":683
              }
          ]
