- url = url_for(:controller => '/api', :action => 'search_by_provider', :version => '1.0', :id => '180542', :hierarchy_id => Hierarchy.itis.id, :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      %h3
        =I18n.t("request")
      %p
        %a{ :href => url }
          = url
      %h3
        =I18n.t("parameters")
      %table
        %col.name
        %col.values
        %col.default
        %col.notes
        %thead
          %tr
            %th
              =I18n.t("name")
            %th
              =I18n.t("values")
            %th
              =I18n.t("default")
            %th
              =I18n.t("notes")
        %tbody
          %tr
            %td
              hierarchy_id
            %td
              %i
                =I18n.t("any_integer")
            %td
              %i
                =I18n.t("none")
            %td
              = raw(I18n.t("the_id_of_provider_hierarchy_you_are_searching", :link => link_to('provider_hierarchies', :controller => 'api/docs', :action => 'provider_hierarchies')))

      %h3
        =I18n.t("description")
      %p
        = raw(I18n.t("this_method_takes_an_integer_or_string",
          :link_provider => link_to("provider_hierarchies", :action => "provider_hierarchies"),
          :link_url => link_to(url, url),
          :itis_id => Hierarchy.itis.id))
      %h3
        =I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <results>
            <eol_page_id>11508631</eol_page_id>
          </results>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped
          [
              {
                  "eol_page_id":328580
              }
          ]
