= render(:partial=>'uservoice')
- url = url_for(:controller => '/api', :action => 'search', :version => '1.0', :id => 'Ursus', :only_path => false)
#content
  #page-separator-general
  #page-title
    %h1
      EOL API: Search
    %hr
  #page-content.clearfix
    #full-page-content
      %h3
        Request
      %p.indent
        %a{ :href => url }
          = url
      %h3
        Parameters
      %table.results_table
        %tr
          %th
            Name
          %th
            Values
          %th
            Default
          %th
            Notes
        %tr
          %td.odd.strong
            page
          %td.odd
            %i
              any integer
          %td.odd
            1
          %td.odd
        %tr
          %td.even.strong
            exact
          %td.even
            0 or 1
          %td.even
            0
          %td.even
            will find taxon pages if the preferred name or any synonym or common name exactly matches the search term
      %br
      %h3
        Description
      %p.indent
        The XML search response implements the OpenSearch response format using Atom 1.0. See
        = link_to 'http://www.opensearch.org/Specifications/OpenSearch/1.1', 'http://www.opensearch.org/Specifications/OpenSearch/1.1'
        for the full OpenSearch specification
      %p.indent
        There is currently no exact match parameter. Given the vast number of scientific and common names (nearly 20 million in total) it is a difficult task to provide a user with exactly the species they are hoping to find. For example there are several bird species of named Robin (American Robin, Alpine Robin, Smoky Robin), and several fish species named Robin, and taxonomist named Robin has named dozens of new species. We are continuously trying to improve the relevancy of our search results so expect some improvements to search ordering in the future.
      %h3
        XML Response
      .formatted_code<
        :escaped
          <?xml version="1.0" encoding="UTF-8"?>
          <feed xmlns:os="http://a9.com/-/spec/opensearch/1.1/" xmlns="http://www.w3.org/2005/Atom">
            <title>Encyclopedia of Life search: Ursus</title>
            <link href="http://www.eol.org/search?q=Ursus"/>
            <updated/>
            <author>
              <name>Encyclopedia of Life</name>
            </author>
            <id>http://www.eol.org/search?q=Ursus</id>
            <os:totalResults>30</os:totalResults>
            <os:startIndex>1</os:startIndex>
            <os:itemsPerPage>30</os:itemsPerPage>
            <os:Query searchTerms="Ursus" role="request" startPage="1"/>
            <link type="application/atom+xml" href="/api/search/Ursus" rel="alternate"/>
            <link type="application/atom+xml" href="/api/search/Ursus?page=1" rel="first"/>
            <link type="application/atom+xml" href="/api/search/Ursus?page=1" rel="self"/>
            <link type="application/atom+xml" href="/api/search/Ursus?page=1" rel="last"/>
            <link type="application/opensearchdescription+xml" href="/opensearchdescription.xml" rel="search"/>
            <entry>
              <title>Ursus</title>
              <link href="http://www.eol.org/pages/14349"/>
              <id>14349</id>
              <updated>2003-12-13T18:30:02Z</updated>
              <content type="text">Ursus</content>
            </entry>
            <entry>
              <title>Ursus americanus Pallis, 1780</title>
              <link href="http://www.eol.org/pages/328582"/>
              <id>328582</id>
              <updated>2003-12-13T18:30:02Z</updated>
              <content type="text">Ursus americanus Pallis, 1780</content>
            </entry>
            <entry>
              <title>Ursus arctos Linnaeus, 1758</title>
              <link href="http://www.eol.org/pages/328581"/>
              <id>328581</id>
              <updated>2003-12-13T18:30:02Z</updated>
              <content type="text">Ursus arctos Linnaeus, 1758</content>
            </entry>
          </feed>
      %h3
        JSON Response
      .formatted_code<
        :escaped
          {
              "results":
              [
                  {
                      "title":"Ursus",
                      "id":14349,
                      "content":"Ursus Linnaeus, 1758",
                      "link":"http://www.eol.org/pages/14349"
                  },
                  {
                      "title":"Megathymus ursus ursus Poling 1902",
                      "id":2683230,
                      "content":"Megathymus ursus ursus Poling 1902,
                       Megathymus ursus ursus\n\n",
                      "link":"http://www.eol.org/pages/2683230"
                  },
                  {
                      "title":"Ursus arctor",
                      "id":10695434,
                      "content":"Ursus arctor\n\n",
                      "link":"http://www.eol.org/pages/10695434"
                  },
                  {
                      "title":"Ursus ingressus",
                      "id":12136362,
                      "content":"Ursus ingressus\n\n",
                      "link":"http://www.eol.org/pages/12136362"
                  }
              ],
              "totalResults":126,
              "self":"http://www.eol.org/api/search/Ursus.json?page=1",
              "itemsPerPage":30,
              "last":"http://www.eol.org/api/search/Ursus.json?page=5",
              "startIndex":1,
              "first":"http://www.eol.org/api/search/Ursus.json?page=1",
              "next":"http://www.eol.org/api/search/Ursus.json?page=2"
          }