- url = url_for(:controller => '/api', :action => 'search', :version => '1.0', :id => 'Ursus', :only_path => false)
#content.cms_page
  #api_doc.site_column
    .nav
      = raw(@navigation_menu)
    .article.copy
      %h3
        =I18n.t("request")
      %p
        %a{ :href => url }
          = url
      %h3
        =I18n.t("parameters")
      %table
        %col.name
        %col.values
        %col.default
        %col.notes
        %thead
          %tr
            %th
              =I18n.t("name")
            %th
              =I18n.t("values")
            %th
              =I18n.t("default")
            %th
              =I18n.t("notes")
        %tbody
          %tr
            %td
              page
            %td
              %i
                =I18n.t("any_integer")
            %td
              1
            %td
          %tr
            %td
              exact
            %td
              =I18n.t("0_or_1")
            %td
              0
            %td
              =I18n.t("will_find_taxon_pages_matching_the_search_term")

      %h3
        =I18n.t("description")
      %p
        = raw(I18n.t("the_xml_search_response_implements", :link => link_to("http://www.opensearch.org/Specifications/OpenSearch/1.1", "http://www.opensearch.org/Specifications/OpenSearch/1.1")))
      %p
        =I18n.t("given_the_vast_number")
      %h3
        =I18n.t("xml_response")
      %code<
        :escaped
          <?xml version="1.0" encoding="UTF-8"?>
          <feed xmlns:os="http://a9.com/-/spec/opensearch/1.1/" xmlns="http://www.w3.org/2005/Atom">
            <title>Encyclopedia of Life search: Ursus</title>
            <link href="http://eol.org/search?q=Ursus"/>
            <updated/>
            <author>
              <name>Encyclopedia of Life</name>
            </author>
            <id>http://eol.org/search?q=Ursus</id>
            <os:totalResults>30</os:totalResults>
            <os:startIndex>1</os:startIndex>
            <os:itemsPerPage>30</os:itemsPerPage>
            <os:Query searchTerms="Ursus" role="request" startPage="1"/>
            <link type="application/atom+xml" href="/api/search/Ursus" rel="alternate"/>
            <link type="application/atom+xml" href="/api/search/Ursus?page=1" rel="first"/>
            <link type="application/atom+xml" href="/api/search/Ursus?page=1" rel="self"/>
            <link type="application/atom+xml" href="/api/search/Ursus?page=1" rel="last"/>
            <link type="application/opensearchdescription+xml" href="/opensearchdescription.xml" rel="search"/>
            <entry>
              <title>Ursus</title>
              <link href="http://eol.org/pages/14349"/>
              <id>14349</id>
              <updated>2003-12-13T18:30:02Z</updated>
              <content type="text">Ursus</content>
            </entry>
            <entry>
              <title>Ursus americanus Pallis, 1780</title>
              <link href="http://eol.org/pages/328582"/>
              <id>328582</id>
              <updated>2003-12-13T18:30:02Z</updated>
              <content type="text">Ursus americanus Pallis, 1780</content>
            </entry>
            <entry>
              <title>Ursus arctos Linnaeus, 1758</title>
              <link href="http://eol.org/pages/328581"/>
              <id>328581</id>
              <updated>2003-12-13T18:30:02Z</updated>
              <content type="text">Ursus arctos Linnaeus, 1758</content>
            </entry>
          </feed>
      %h3
        =I18n.t("json_response")
      %code<
        :escaped
          {
              "results":
              [
                  {
                      "title":"Ursus",
                      "id":14349,
                      "content":"Ursus Linnaeus, 1758",
                      "link":"http://eol.org/pages/14349"
                  },
                  {
                      "title":"Megathymus ursus ursus Poling 1902",
                      "id":2683230,
                      "content":"Megathymus ursus ursus Poling 1902,
                       Megathymus ursus ursus\n\n",
                      "link":"http://eol.org/pages/2683230"
                  },
                  {
                      "title":"Ursus arctor",
                      "id":10695434,
                      "content":"Ursus arctor\n\n",
                      "link":"http://eol.org/pages/10695434"
                  },
                  {
                      "title":"Ursus ingressus",
                      "id":12136362,
                      "content":"Ursus ingressus\n\n",
                      "link":"http://eol.org/pages/12136362"
                  }
              ],
              "totalResults":126,
              "self":"http://eol.org/api/search/Ursus.json?page=1",
              "itemsPerPage":30,
              "last":"http://eol.org/api/search/Ursus.json?page=5",
              "startIndex":1,
              "first":"http://eol.org/api/search/Ursus.json?page=1",
              "next":"http://eol.org/api/search/Ursus.json?page=2"
          }
