#tabs_sidebar
  %ul.tabs
    %li{:class => resource_is_active('index')}
      = link_to I18n.t(:classifications_with_count, :count => @taxon_page.hierarchy_entries.length),
        taxon_names_path(@taxon_page)
    %li{:class => resource_is_active('related_names')}
      = link_to I18n.t(:related_names_with_count, :count => @taxon_page.related_names_count),
        related_names_taxon_names_path(@taxon_page)
    %li{:class => resource_is_active('common_names')}
      = link_to I18n.t(:common_names_with_count, :count => @common_names_count),
        common_names_taxon_names_path(@taxon_page)
    %li{:class => resource_is_active('synonyms')}
      = link_to I18n.t(:synonyms_with_count, :count => @taxon_page.count_of_viewable_synonyms),
        synonyms_taxon_names_path(@taxon_page)
