$('#content .site_column').prepend("<div class='names restored' style='display: none'><%= escape_javascript(render('index')) %></div>");
EOL.reveal_tab('names', '<%= taxon_names_path(@taxon_concept) %>');
