- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon_names
  = render :partial => 'menu'
  .main_container
    - if current_user.min_curator_level?(:assistant)
      = render :partial => 'common_names_edit'
    - else
      = render :partial => 'common_names'
