=I18n.t("dear_") + @user.username + ","
=""
=I18n.t("welcome_to_the_encyclopedia_of")
="(http://www.eol.org/faq) and read our newsletter (http://www.eol.org/content/page/newsletter)."
=""
=I18n.t("enjoy_exploring_the_diversity_")
=""
=I18n.t("__the_encyclopedia_of_life_tea")
