= I18n.t(:greeting_dear_name_with_comma, :name => @user.full_name, :species_pages_group_email => $SPECIES_PAGES_GROUP_EMAIL_ADDRESS, :scope => :notifier)
:plain
= t('.message', :members_username => @user.username,
  :species_pages_group_email => $SPECIES_PAGES_GROUP_EMAIL_ADDRESS,
  :curator_activity_log => render('curator_activity_log', {:actions => @activity[:actions]}),
  :data_object_comments =>  render('comments', {:comments => @activity[:object_comments]}),
  :page_comments =>  render('comments', {:comments => @activity[:page_comments]}))
:plain
= I18n.t(:signature_with_species_pages_group_contact, :species_pages_group_email => $SPECIES_PAGES_GROUP_EMAIL_ADDRESS,
  :scope => :notifier)
