="Subject: " + @contact.subject
="Name: " + @contact.name
="Email Address: " + @contact.email
=I18n.t("comment_")
=""
= @contact.comment
=""
=I18n.t("partner_information")
="--------------------------"
="ID#: " + @agent.id.to_s
="Username: " + @agent.username
="E-mail: " + @agent.email
=""
="Project Name: " + @agent.project_name
="Project Abbreviation: " + @agent.project_abbreviation
="URL: " + @agent.url
=I18n.t("partner_description_")
= @agent.project_description
