The following content partner has now agreed to licensing, roles, and attribution:
=""
Partner Information
="--------------------------"
="ID#: " + @agent.id.to_s
="Username: " + @agent.username
="E-mail: " + @agent.email
="Project Name: " + @agent.full_name
="Date: " + Time.now.to_s
=""
="http://www.eol.org/administrator/content_partner_report/show/" + @agent.id.to_s
