=I18n.t("the_following_content_partner_")
=""
=I18n.t("partner_information")
="--------------------------"
="ID#: " + @agent.id.to_s
="Username: " + @agent.username
="E-mail: " + @agent.email
="Project Name: " + @agent.full_name
="Date: " + Time.now.to_s
=""
="http://www.eol.org/administrator/content_partner_report/show/" + @agent.id.to_s
