=I18n.t("the_following_content_partner_")
=""
=I18n.t("partner_information")
="--------------------------"
=I18n.t("id___") + @agent.id.to_s
=I18n.t("username_____") + @agent.username
=I18n.t("e_mail___") + @agent.email
=I18n.t("project_name___") + @agent.full_name
=I18n.t("date__") + Time.now.to_s
=""
="http://www.eol.org/administrator/content_partner_report/show/" + @agent.id.to_s
