=I18n.t("eol_contact_us_form")
="--------------------------"
=I18n.t(:name_colon) + @contact.name
=I18n.t("email__") + @contact.email
=I18n.t("subject___") + @contact.contact_subject.title
- if(@contact.taxon_group)
  =I18n.t("taxon_group__") + @contact.taxon_group
=I18n.t("comments__")
=""
= @contact.comments
