=I18n.t("eol_contact_us_form")
="--------------------------"
="Name: " + @contact.name
="Email: " + @contact.email
="Subject: " + @contact.contact_subject.title
- if(@contact.taxon_group)
  ="Taxon Group: " + @contact.taxon_group
="Comments: "
=""
= @contact.comments
