="Dear " + @user.full_name + ","
=""
- name = @user.curator_hierarchy_entry.nil? ? '' : @user.curator_hierarchy_entry.name
="This email is to notify you that your curator privileges for " + name + " have been removed."
="
="- The Encyclopedia of Life Team"
