="Dear " + @user.full_name + ","
=""
- name = @user.curator_hierarchy_entry.nil? ? '' : @user.curator_hierarchy_entry.name
="Thank you for requesting curator privileges for " + name  + "."
=""
=I18n.t("your_request_has_been_approved")
=""
="- The Encyclopedia of Life Team"
