= I18n.t("dear_") + @user.full_name + ","
=""
- name = @user.curator_hierarchy_entry.nil? ? '' : @user.curator_hierarchy_entry.name
=I18n.t("thank_you_for_requesting_curat") + name  + "."
=""
=I18n.t("your_request_has_been_approved")
=""
=I18n.t("__the_encyclopedia_of_life_tea")
