=I18n.t("dear_") + @user.full_name + ","
=""
- name = @user.curator_hierarchy_entry.nil? ? '' : @user.curator_hierarchy_entry.name
=I18n.t("this_email_is_to_notify_you_th") + name + I18n.t("_have_been_removed")
=""
=I18n.t("__the_encyclopedia_of_life_tea")
