=I18n.t("new_eol_donation")
="------------------------------------------"
=I18n.t("first_name__") + @donation.firstname
=I18n.t("last_name__") + @donation.lastname
=I18n.t("email___") + @donation.email
=I18n.t("address__") + @donation.address
=I18n.t("city__") + @donation.city
=I18n.t("state__") + @donation.state
= I18n.t("postal_code__") + @donation.postal_code
=I18n.t("phone__") + @donation.phone
=""
=I18n.t("amount__") + number_to_currency(@donation.amount)
