= I18n.t(:dear_user_with_comma, :users_short_name => @user.short_name)
=""
=I18n.t("a_request_to_reset_your_passwo")
=I18n.t("if_you_did_not_make_this_reque")
=I18n.t("if_you_did_make_this_request_j")
=""
= reset_password_url(:host => $SITE_DOMAIN_OR_IP, :user_id => @user, :id => @reset_password_token )
=""
=I18n.t("if_the_above_url_does_not_work")
=I18n.t("if_you_continue_to_have_proble")
