=I18n.t("dear_var__contact__full_name__", :var__contact__full_name__ => @contact['full_name'])
=""
=I18n.t("this_is_an_automated_e_mail_no")
=I18n.t("you_can_now_check_last_month_s")
=""
=I18n.t("please_login_to_your_account_i")
=I18n.t("login_here__http___www_eol_org")
=""
=I18n.t("this_is_the_link_to_your_web_s")
= "http://" + @SITE_DOMAIN_OR_IP + "/content_partner/reports/monthly_page_stats?agent_id=" + @contact["agent_id"] + "&month=" + @month + "&year=" + @year
=""
=I18n.t("contact_eli_eol_org_for_any_co")
=I18n.t("thank_you_")
=""
=I18n.t("_encyclopedia_of_life")
