=I18n.t("thanks_for_registering_with_th")
=""
= register_confirm_url(:host => $SITE_DOMAIN_OR_IP, :username => @user.username, :validation_code => @user.validation_code)
=""
=I18n.t("__the_encyclopedia_of_life_tea")
