=I18n.t("thanks_for_registering_with_th")
=I18n.t("program_does_not_support_follo")
=""
="http://www.eol.org/account/confirm/" + @user.username + "?validation_code=" + @user.validation_code
=""
="- The Encyclopedia of Life Team"
