= I18n.t(:greeting_dear_name_with_comma, :name => @user.full_name, :scope => :notifier)
:plain
= t('.message', :verification_url => @verify_user_url)
:plain
= I18n.t(:signature_with_support_contact, :support_email => $SUPPORT_EMAIL_ADDRESS, :scope => :notifier)
