= I18n.t(:greeting_dear_name_with_comma, :name => @user.full_name, :scope => :notifier)
:plain
= t('.message', :oauth_provider => @translated_oauth_provider, :profile_url => user_url(@user, :host => $SITE_DOMAIN_OR_IP))
:plain
= I18n.t(:signature_basic, :scope => :notifier)
