= t('.message', :user_full_name => @user_after_update.full_name,
  :user_profile_url => user_url(@user_after_update, :host => $IP_ADDRESS_OF_SERVER),
  :previous_email => @user_before_update.email,
  :previous_mailing_list_preference => @user_before_update.mailing_list,
  :updated_email => @user_after_update.email,
  :updated_mailing_list_preference => @user_after_update.mailing_list,
  :updated_at => @user_after_update.updated_at)
