=I18n.t("the_following_eol_user_just_ch")
=""
=I18n.t("id____") + @new_user.id.to_s
=I18n.t("username______") + @new_user.username
=I18n.t(:name_colon) + @new_user.full_name
=I18n.t("date_changed__") + Time.now.to_s
=I18n.t("date_registered__") + @new_user.created_at.to_s
=""
=I18n.t("initial_email_address__") + @old_user.email
=I18n.t("new_email_address__") + @new_user.email
=""
=I18n.t("initial_mail_setting__") + @old_user.mailing_list.to_s
=I18n.t("new_mail_setting__") + @new_user.mailing_list.to_s
