<%= render :partial => '/admin/content_top', :locals => {:name => 'EOL Administration Console'} %>

  <h1>Welcome</h1>
  <p>Welcome to the EOL Administration Console.  Please select a function from the left-hand navigation.</p>
  <br />
  <h1>Google Analytics</h1>
  <p>If you already have access to the Google Analytics reports,  <%=link_to('view them here','https://www.google.com/analytics/settings/?et=reset&hl=en#scid=3298646',:target=>'_blank')%>.  If you do not have access, contact the 
    Biodiversity Informatics Group to have your Google account enabled (you will first need to have a valid Google account, which
    can be <%=link_to('created here','https://www.google.com/accounts/accounts/NewAccount?service=analytics&continue=https%3A%2F%2Fwww.google.com%2Fanalytics%2Fsettings%2Fhome%3Fet%3Dreset',:target=>'_blank')%>).</p>
    
<%= render :partial => '/admin/content_bottom' %>