%style{:type => "text/css", :media => "screen"}
  :plain
    #content_pages_div ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      display: block;
      background-color:#999;
      
    }
    #content_pages_div ul ul {
      display: list-item;
      padding-left: 20px;
      background-color:#CCC;
      list-style-type: none;
      }
    #content_pages_div li {
      display:list-item;
      list-style-position: outside;
      }
    #content_pages_div .div_temp {
      border: 1px solid #00F;
      float: right;
      width: 200px;
      display: inline;
    }

#content_pages_div
  %ul
    - for content_section in @content_sections
      %li
        = content_section.name
        = link_to(I18n.t("add_page"),:action=>'new', :content_section_id=>content_section.id)
      - content_pages = ContentPage.find_all_by_content_section_id(content_section.id)
      - if content_pages.count > 0
        %ul
          - for content_page in content_pages
            = render (:partial => 'content_page_list', :locals => {:content_page => content_page})
          
           
             
