%style{:type => "text/css", :media => "screen"}
  :plain
    #content_pages_div ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none !important;
      display: block;
      background-color:#CCC;  
      }
    #content_pages_div ul ul {
      /*border: 1px solid #DDD;*/
      display: list-item;
      padding-left: 10px !important;
      background-color:#EEE;
      list-style-type: none !important;
      }
    #content_pages_div li {
      border-bottom:1px solid #FFF;
      display:list-item;
      list-style-type: none !important;
      height: 25px;
      }
    #content_pages_div .div_holder {
      /*border: 1px solid #00F;*/
      float: right;
      display: inline;
      direction: ltr;
    }
    
    #content_pages_div .div_holder div {
      /*border: 1px solid #00F;*/
      float: left;
      display: inline;
      margin-right: 10px;
    }

#content_pages_div
  %ul
    - for content_section in @content_sections
      %li
        = content_section.name
        = link_to(I18n.t("add_page"),:action=>'new', :content_section_id=>content_section.id)
      - content_pages = ContentPage.find_all_by_content_section_id(content_section.id)
      - if content_pages.count > 0
        %ul
          - for content_page in content_pages
            = render (:partial => 'content_page_list', :locals => {:content_page => content_page})
          
           
             
