#show-instructions{:class => 'linky'}
  = I18n.t(:instructions) 
#instructions{ :style => "display:none;" }
  %ol
    %li
      =I18n.t("you_should_be_comfortable_with")
    %li
      =I18n.t("you_can_reference_images_with_")
    %li
      =I18n.t("pages_items_created_in_the__ab")
    %li
      =I18n.t("pages_items_created_in_the__fo")
    %li
      =I18n.t("pages_created_in_the__other__s")
    %li
      =I18n.t("changes_are_made_immediately_a")
    %li
      =I18n.t("if_you_make_a_mistake__use_the")
    %li
      =I18n.t("if_you_need_to_upload_an_image", :link => link_to(I18n.t("upload_content"),:controller=>'administrator/content_upload',:action=>'index'))
%form#content_section_select
  =I18n.t("to_administer_site_content__pl")
  = collection_select(:content_section,:id,@content_sections,:id,:name,{})
#content_page_list
  = render(:partial=>'content_page_list')
.divider
  #content_page
    = render(:partial=>'form')
:javascript
  $('#show-instructions').toggle(function() {$('#instructions').slideDown();}, function() {$('#instructions').slideUp();});
