#content
  .site_column
    - # TODO: This view assumes a basic HashRocket CMS page which only has one column
    - # we should figure out whether that is appropriate for all cases of content being passed
    - # through the content_controller page method
    = #@navigation_tree_breadcrumbs
    .article.copy.cms_page
      = params[:page][:translated_main_content]
      %a{ :href => "#", :onclick => "javascript:window.close();return false;" }
        =I18n.t("close_this_window_to_return_to_edit_window")
