.container
  #control_panel
    #merge_concepts.control_subpanel
      merge concepts
    #split_concepts.control_subpanel
      split into new concept
  %br
  #left_panel.lookup_panel
    TaxonConceptID:
    %input#tc1{:type => 'text', :size => 30}
    %input{:type => 'button', :value => 'Lookup TC'}
    %br
    HierarachyEntryID:
    %input#he1{:type => 'text', :size => 30}
    %input{:type => 'button', :value => 'Lookup HE'}
    %hr
    .entries
  #right_panel.lookup_panel
    TaxonConceptID:
    %input#tc2{:type => 'text', :size => 30}
    %input{:type => 'button', :value => 'Lookup TC'}
    %br
    HierarachyEntryID:
    %input#he2{:type => 'text', :size => 30}
    %input{:type => 'button', :value => 'Lookup HE'}
    %hr
    .entries
#dragging_div