%p
  = link_to raw(item.best_title), taxon_worklist_data_object_path(@taxon_concept.id, item.id, params.merge({ :current => item.id }))
  - if !item.data_supplier_agent.blank?
    = I18n.t(:article_from)
    = item.data_supplier_agent.full_name