- @data_object = @current_data_object
- # TODO = we need to reload the JS here to get events on the AJAX loaded content ... just using a JS include WILL NOT WORK, don't do it.  You need to trigger an event.
= render :partial => "/data_objects/show", :locals => { :for_worklist => true }
