- @data_object = @current_data_object
- # NOTE = just using a JS include WILL NOT WORK here, don't do it.  You need to trigger an event.
= render :partial => "/data_objects/show", :locals => { :for_worklist => true }
