$('#content .site_column').prepend("<div class='worklist restored' style='display: none'><%= escape_javascript(render('show')) %></div>");
EOL.reveal_tab('worklist', '<%= taxon_worklist_path(@taxon_concept) %>');

