= content_for :head do
  = javascript_include_merged 'worklist'
  %link{:href=>"/javascripts/jplayer/skin/jplayer.blue.monday.css", :rel=>"stylesheet", :type=>"text/css"}
#content
  #worklist.site_column
    = render :partial => "main_content"
