@import "mixins"
= screenreader_accessible
  position: absolute
  left: -999em

.assistive, #header .assistive
  +screenreader_accessible

$logo_size_standout: 88
$logo_size_primary: 68
$logo_size_secondary: 48
$logo_size_tertiary: 35

= max_dimensions($width, $height)
  max-width: #{$width}px
  max-height: #{$height}px
  width: expression(this.width > #{$width} ? "#{$width}px" : true)
  height: expression(this.height > #{$height} ? "#{$height}px" : true)
/**
 * Changes required for HR sass files:
 *   - replace /images/<image name> with /images/v2/<image name>
 *   - replace #profile_edit with form.edit_user
 *
 *
 * Temporary placement of needed CSS for V2
 * I don't want to edit/add to HashRocket's SASS files until they are done making changes
 * so I am temporarily adding some CSS here needed for V2 demo. This CSS should be integrated
 * into HashRocket SASS if it is still needed when design work is complete.
 */

/* Use the ~30K JPG form on the homepage image instead of the ~500K transparent PNG */
body.home
  > #header
    background: transparent url("/images/v2/bg_home_earth.jpg") 50% 100% no-repeat


/** Busy indicator for JS submitted forms e.g. exemplar image **/
.busy
  cursor: wait
/** adding facebook icon to social media **/
body > #footer ul.social_media li
  a.facebook
    background-position: 0px -25px
  a.tumblr
    background-position: 0px -75px
  a.flickr
    background-position: 0px -100px
/** Override for layout on users edit - we have extra nested div so we need to remove padding,
  * we added extra fieldset - but check HR might give us an update for the fieldset */
#profile_edit
  &.article
    padding: 0 0 25px 0
  fieldset
    &.curation
      width: 320px
      textarea
        width: 282px
        height: 120px
/** Content partner various **/
#sidebar
  .content_partner_managers
    margin: 0 0 20px 0
    li
      overflow: hidden
      padding: 0 0 20px 0
      line-height: 140%
    img
      float: left
      margin: 0 10px 0 0
      border: 1px solid #394651
    h4
      a
        color: inherit
        text-decoration: none
        &:hover
          text-decoration: underline
#profile_content_partner
  form
    dt
      clear: both
    dd.managed_by
      overflow: hidden
      img
        float: left
        margin: 0 10px 0 0
        border: 1px solid #394651
        +max_dimensions($logo_size_secondary, $logo_size_secondary)
      .details
        padding: 5px 0 0 0
        overflow: hidden
form
  fieldset.dataset
    legend.required
      font-weight: bold
      background: url("/images/v2/icon_required.png") 0 45% no-repeat
      padding-left: 10px
      margin-left: -10px
/** Styles for form required (HR overrides) and form validation errors (custom no equivalent from HR)  **/
form
  dt
    &.required
      label
        background: url("/images/v2/icon_required.png") 0 45% no-repeat
        padding-left: 10px
        margin-left: -10px

  fieldset
    &#errors
      width: 100%
      position: relative
      background: #ffeae6
      border: 1px solid #F2D2CC
      padding: 20px 0
      margin: 0 0 20px 0
      legend
        position: absolute
        left: 20px
        background: transparent
        font-weight: bold
      ul
        margin: 30px 20px 0 40px
      li
        font-weight: normal
        display: block
        float: none
        margin-bottom: 5px
    &.radio
      margin: 20px 0
      legend
        font-weight: bold
        padding-bottom: 10px
      label
        margin: 10px
        display: block
        clear: both
        line-height: 1.2em

  label, span
    &.errors
      color: #e84226
  span
    &.errors
      font-weight: normal
  input, textarea
    &.errors
      border-color: #f2d2cc !important
/** switching hierarchy entries form when js disabled want button to be inline if possible **/
form#switch_hierarchy_entry
  fieldset
    display: inline

/** Making lanugage switcher accessible on overview and details pages **/
.learn_more
  fieldset.actions
    display: inline
/** Getting rid of the dodgy dot **/
.meta.learn_more
  p, form
    &:before
      content: '•'
      margin: 0 10px 0 0
    &:after
      content: '' !important
      margin: 0 !important
  p
    text-transform: lowercase
    &:first-child
      &:before
        content: ''
        margin: 0 !important
/** pending eol user account **/
#content.session
  form
    &.terms_agreement
      padding: 75px 69px
      width: 500px
  .pending
    width: 320px
    min-height: 225px
    padding: 75px 159px
    margin: 0 auto
    border: 1px solid #CAD3DB
    background: #F0F4F7 url("/images/v2/bg_sign-in.gif") 0 0 no-repeat
/** recaptcha **/
#new_user
  iframe
    width: 320px
    overflow: auto
/** will_paginate styling **/
.pagination
  text-align: right
  a
    text-decoration: none
    font-weight: bold
  a, span.current
    display: inline-block
    padding: 0 3px
  .prev_page
    float: left
  .next_page
    margin-left: 10px
  .disabled
    color: #616e7a
#taxon_literature
  .pagination
    margin-bottom: 15px
#main
  .footer
    clear: both
    border-top: 1px solid #000
    padding: 10px 0
    margin: 20px 0 0 0
#main, .cms_page
  .header
    text-align: center
    .pagination
      position: relative
      top: 5px
      left: 0
      width: 100%
      a
        position: relative !important /* Override HR */
        top: 0 !important /* Override HR */
        left: 0 !important /* Override HR */

/** Static pages **/
.exemplars
  ul
    img
      clear: both
      float: left
      margin: 0 20px 30px 30px
/** cms page styles for public content partners listing **/
.cms_page
  .header
    border-bottom: 1px solid #CAD3DB
    padding-bottom: 1em
    margin-bottom: 30px
  .footer
    border-top: 1px solid #CAD3DB
    padding-top: 1em
  ul.object_list
    list-style_type: none
    li
      img
        max-width: 68px
      h4
        margin-bottom: 0.5em
        a
          color: #195184
          text-decoration: underline
      p
        clear: none
/** content partners overrides/additions **/
.cms_page
  #content_partners
    #sidebar
      input[type="text"]
        width: 118px
#new_content_partner_agreement
  dl
    clear: both
    dd
      margin: 0 0 10px 0
      input[type="text"]
        +input
#content_partner_show
  .empty
    font-size: 1em
  .agreement
    dl
      margin: 0 40px 15px 40px
      line-height: 170%
      dt
        font-weight: bold
      dd
        margin: 0 0 10px 0
    address
      display: block
      width: 40%
      line-height: 170%
      &.partner
        float: left
      &.eol
        float: right
  dl.agreement
    line-height: 140%
    dt
      font-weight: bold
    dd
      margin: 0 0 5px 20px
#content_partner_edit, #content_partner_new
  &.site_column
    width: 640px

ul.content_partner_contacts
  li
    margin: 0 0 20px 0
#content_partner_statistics
  .main_container
    border: none
    padding: 0
  .heading
    text-align: center
    fieldset, input[type="submit"]
      display: inline
      margin: 0
  table
    margin-top: 20px
/** warning messages - check HR commits for updates to this **/
p.status.error
  border: 1px solid #f2d2cc
  background: #ffeae6
/** move to home.css once HR involvement ceases **/
.home
  p.status
    &.notice, &.error, &.warning
      clear: both
      padding: 7px 10px
      margin: 0
      line-height: 140%
      font-size: 1.08em
      font-weight: bold
      text-align: center
      color: #394651
      border: 1px solid #C7D471
      background: #EDF6B2
    &.error
      border: 1px solid #f2d2cc
      background: #ffeae6
  #content
    .section
      .stats
        p.meta
          padding: 40px 0 15px 40px
          font-size: 0.83em
          font-weight: bold
          text-transform: uppercase
          color: #82919E

/** HR change permalink class to text, but use article elsewhere for text objects so we are still using
 * article as that's what en_type is returning... at some point we should go through and change all 'article'
 * classes that mean data_object text to text, as article clashes with the HR generic article class but right
 * now we have I18n keys and various classes around the site depending on 'article' for text data object.
 */
#permalink
  &.article
    padding: 0
  #sidebar
    ul.review_status
      p
        &.unknown /*should match unreviewed*/
          border: 1px solid #677682
          background: #8695A1
        &.untrusted
          border: 1px solid #f2d2cc
          background: #ffeae6
          color: #677682
  /* added float non to video as description box wasn't showing up properly on DO page */
  .media
    float: none
    img
      max-width: 540px
      width: expression(this.width > 540 ? "540px" : true)
/** I say we standardise form tips everywhere **/
form
  p.tip
    background: #F3F7FA
    border: 1px solid #CAD3DB
    padding: 10px
    margin: 0 40px 20px 0
    line-height: 140%
    img
      margin: -2px 5px 0 5px
/** Add article interface we have error fieldset and a textarea box in information fieldset that HR didn't expect **/
form#new_data_object, form.edit_data_object
  fieldset
    dt
      font-size: 1.08em
    &.content
      width: 640px
      input[type="text"]
        width: 308px
      textarea
        width: 580px
        height: 200px
    &.information
      width: 300px
      input[type="text"]
        width: 288px
      textarea
        width: 282px
        height: 80px

/** Adjustments for when missing exemplar image **/
#media_list, #taxon_detail
  #sidebar
    img
      margin: auto
    h3
      margin-top: 20px
    h4
      a
        color: #667309
        text-decoration: none
/** Special styles for layering audio description on top of audio thumbnail **/
#media_list
  #main>ul
    >li
      .figure
        width: 160px
        height: 125px
        margin-bottom: 5px
        .audio
          position: relative
          background: #394651 url('/images/v2/icon_sound_tabs.png') no-repeat 50% 20%
          width: 160px
          height: 123px
          margin: 0 0 5px 0
          text-align: center
          overflow: hidden
          p
            padding: 50px 5px 40px
            a
              color: #e2e9ef
          audio
            position: absolute
            left: 0
            bottom: 0
            width: 160px
            z-index: 1
        .video_overlay
          background: url('/images/v2/video_play.png') no-repeat 50% 50% transparent
          width: 160px
          height: 125px
          z-index: 300
          position: absolute
        .video
          border: 1px solid #CAD3DB
          width: 158px
          height: 123px
      >a
        display: inline-block
        overflow: hidden
      form
        display: block
        clear: both
/** style for vetted status flags - various locations **/
p.flag
  color: white
  padding: 1px 2px
  text-transform: uppercase
  font-size: 0.75em
  &.trusted
    border: 1px solid #6B7910
    background: #849513
  &.unknown /*should match unreviewed*/
    border: 1px solid #677682
    background: #8695A1
  &.untrusted
    border: 1px solid #f2d2cc
    background: #ffeae6
    color: #677682 !important

/** We share rating partial across many pages so need extra styles here. **/
#taxon_detail
  .rating
    h5
      float: left
      margin: 0 10px 0 0
      text-transform: lowercase
      font-size: 0.83em
    ul
      display: inline
  .average_rating
    h5
      float: left
      margin: 0 10px 0 0
      text-transform: lowercase
      small
        font-size: 1em

.rating
  ul
    li
      &.current_rating_0
        position: absolute
        top: 0
        left: 0
        height: 13px
        font-size: 0
        text-indent: -8685px
        overflow: hidden
        width: 0
        background: transparent url("/images/v2/icon_stars.png") 0 100% repeat-x

/** We don't want border on EOL abbr tags in the shared join partial **/
.join
  abbr
    border: none

/** HR z-indexes were messed up in header, also we're putting session partial on home page for logged in users **/
body
  &.home
    >#header
      .session.join
        text-align: center !important
        a
          color: white !important
  >#header
    .section
      .actions
        z-index: 5 /* otherwise language list goes behind logo */
      .session.join
        float: right
        text-align: right
        color: #fff
        p
          line-height: 1.4em
        a
          color: #90bce4

/** IUCN styles, we use a h3 header instead of just a paragraph so its easier to find with screenreaders. **/
#iucn_status
  border: 1px solid #cad3db
  background: #f1f4f7
  text-align: center
  padding: 7px 10px
  font-size: 1.16em
  margin-bottom: 20px
  color: #394651
  h3, p
    display: inline
  a
    color: #195184
  &.positive
    border-color: #c7d471
    background: #edf6b2
    a
      color: #809203
  &.negative
    border-color: #f2d2cc
    background: #ffeae6
    a
      #E84226

/** we share attribution across multiple pages so we need some overrides of HR here **/
#text_summary
  p.flag
    float: left
  .attribution
    clear: none
    font-size: 0.92em
    img
      float: left
      margin: 0 10px
#taxon
  .gallery
    .images
      height: 380px
      .image
        padding-bottom: 60px
      .details
        position: absolute
        top: 320px
        width: 430px
        p
          line-height: 120%
          margin: 0
          &.flag
            float: left
            margin-top: 1px
        .caption
          font-size: 0.92em
          padding: 0 0 0 5em
        .attribution
          margin-top: 5px
          padding-bottom: 5px
          position: relative
          top: 0
          left: 0
          .copy
            padding: 0 0 0 90px
/** taxon disclaimer **/
.disclaimer
  clear: both
  border-top: 1px solid #CAD3DB
  padding-top: 10px
  p
    text-align: center
    font-size: 0.9em
    color: #394651
    margin: 0

/** Our classification summary is a hierarchichal list whereas HR was just links without hierarchy
  * so we override the styles here **/
#classifications_summary
  h4
    padding-bottom: 15px !important
  li
    li
      p
        font-weight: bold
        float: left
      li
        p
          padding-left: 23px !important
          margin-left: 10px
          background: transparent url('/images/v2/icon_classification_arrow.png') 0 0 no-repeat
  .empty p
    font-size: 1em !important
/** classification tree **/
#classification_tree
  padding: 0
  #browser-text
    width: 360px
    margin: 0 -10px
    overflow: auto
    border: 1px solid #cad3db
    ul.classification
      margin: 10px
      li
        white-space: nowrap
/** overides for empty text styles - various **/
.updates
  .empty
    p
      padding: 0 0 15px 0 !important
#taxon_maps
  .empty
    p
      margin: 0 !important
/** Add to my collection button is a form not an a tag as assumed by HR so we have to add some styles **/
#taxon_detail
  div.actions
    clear: both
    margin: 0 0 20px 0
  form
    &#new_collection_item
      input[type="submit"]
        padding: 7px 20px
        font-size: 1em
      display: inline-block
      fieldset
        display: inline-block
#taxon
  #collections_summary
    form
      margin-top: 0
      fieldset.actions
        margin-top: 0
.empty
  fieldset.actions
    input.button
      font-size: 0.82em
      padding: 5px 10px 6px 10px
/** HR styles assume text descriptions are nicely wrapped in p tags - in reality they may or may not be so we add
  * extra div.description and assign styles to the div - check this, particularly line-height as we probably need
  * to remove some HR styles from nested p. Check latest HR and remove the table styles here if possible.
  * if we keep this we should DRY it out - same for whole file actually **/
#taxon_detail
  #main
    .article
      .copy, .references
        margin: 0 0 15px 0
        line-height: 170%
#text_summary.article
  .copy
    margin: 0 0 15px 0
    line-height: 170%
/** Recognized by is looking too cramped **/
.recognized
  ul
    li
      padding: 5px 0

/* TODO: this hasn't been really thought out and should be changed: */
#sidebar
  &.filters
    dd
      li
        &.no_results
          label
            color: #6F7E8B
/** page heading actions, making header group narrow to fit actions in **/
#page_heading
  &.with_image
    .hgroup
      width: 630px
  .page_actions
    padding-top: 10px
    fieldset.actions
      margin: 0
      input[type="submit"]
        margin: 0
/** CMS pages **/
.cms_page
  table
    border-collapse: collapse
    width: 100%
    margin: 0 0 15px 0
    line-height: 170%
    thead
      tr
        border: 1px solid #CAD3DB
        th
          background: #EFF2F4
          padding: 5px 20px
          font-weight: bold
          text-align: left
    tbody
      tr
        border: 1px solid #CAD3DB
        td
          padding: 5px 20px

/** collections overides **/
.object_list
  div.checkbox
    margin: 0
#collections
  .heading
    fieldset
      display: inline
      margin: 0
// set the height of the GBIF map viewer
#map_image
  height: 350px

#media_summary
  .image
    > a img
      +max_dimensions(430, 310)
ul.feed
  li
    >a
      >img
        +max_dimensions($logo_size_secondary, $logo_size_secondary)
#header
  .session
    img
      +max_dimensions($logo_size_secondary, $logo_size_secondary)
#collections_summary, #communities_summary, #curators_summary
  ul
    li
      >a
        >img
          +max_dimensions($logo_size_secondary, $logo_size_secondary)
#collections
  .collections
    .article
      >.header
        >a
          >img
            +max_dimensions($logo_size_secondary, $logo_size_secondary)
#community
  .article.list
    img
      +max_dimensions($logo_size_secondary, $logo_size_secondary)
#page_heading
  &.with_image, &.profile
    img
      +max_dimensions($logo_size_standout, $logo_size_standout)
#collections
  &.main_container
    .taxon>img
      +max_dimensions($logo_size_standout, $logo_size_standout)
#sidebar
  .collection_list, .collection_contributors, .content_partner_managers
    img
      +max_dimensions($logo_size_tertiary, $logo_size_tertiary)
#taxon
  .gallery
    ul.thumbnails
      li
        &
          text-align: center
        img
          +max_dimensions(98, 68)
          width: auto
          height: auto
          display: inline !important
#media_list
  #main
    ul
      li
        img
          +max_dimensions(160, 125)
          margin-left: auto
          margin-right: auto
  #sidebar
    &.filters
      img
        max-width: 220px
#taxon_detail
  #sidebar
    img
      max-width: 260px
ul
  &.object_list
    li
      img
        +max_dimensions($logo_size_primary, $logo_size_primary)
form
  &.comment
    img
      +max_dimensions($logo_size_secondary, $logo_size_secondary)
#header
  .thumbnails
    ul
      li
        width: 140px
        height: 140px

// Tiny Link below Ajax fields
.editable_link
  font-size: 0.8em
// Buttons are too far over (and this is only in English!):
.edit_collection #sidebar fieldset.actions
  padding: 0
table.standard
  td.nowrap
    white-space: nowrap
// Collections newsfeed was never mocked up:
#collections
  .article.updates
    padding: 0 0 25px 0
    li
      overflow: hidden
      padding: 20px
      .details
        img
          margin: 0 8px 0 0
          border: 1px solid #394651
// Choose collection hasn't been completed by HR yet:
#collections_choose
  h2
    font-size: 1.3em
    margin: 2em 0 0.5em
  input[type="text"]
    // Sorry, not taking the time to find the right way to do this.
    background-color: white
    background-image: -moz-linear-gradient(100% 100% 90deg, white, #F0F4F7)
    border: 1px solid #CAD3DB
    font: 1em Helvetica,Arial,sans-serif
    height: 22px
    padding: 2px 5px
    width: 248px
  ul
    border-top: 1px solid #394651
  li img
    float: left
    // ACK!  Sorry.  No time to fix the important thing.  TODO
    margin-right: 2em !important
// pagination for news feeds
.article .pagination
  margin-top: 1em
// The application sass wants the first node of the classification tree to be bold, ALWAYS.  This doesn't work for
// the overview tab anymore (besides, it's given the "bold" class anyway):
ul.classification
  > li
    > a
      font-weight: normal
// The "bold" class on tree nodes is not honored for some reason:
ul.classification a.bold
  font-weight: bold
// Classification browser for summary needs to be bumped over slightly:
ul.classification.summary
  margin-left: 1em
// Classification summary needs breathing space:
#classifications_summary > ul > li
  margin-bottom: 1em
// Stealing this from #classification_tree #browser-text ... should be generalized:
ul#taxonomictext #taxonomic-text-container
  width: 315px
  margin: 1em -1em
  overflow: auto
  border: 1px solid #cad3db
  ul.classification
    margin: 10px
    li
      white-space: nowrap
// This is specified incorrectly in the application sass, and caused buttons to touch.  This keeps them apart:
#page_heading .page_actions li + li
  margin: 10px 0
// Using this when a community or collection has been removed, for now:
h1.notice
  font-size: 2em
  text-align: center
  padding: 4em
// image sizes too large from the DB:
.column.curators, .column.collections, .column.communities
  img
    +max_dimensions($logo_size_secondary, $logo_size_secondary)
#worklist #task #sidebar
  width: auto
  float: none
  padding: 0px !important
#worklist
  #tasks
    ul
      li
        z-index: 300
        img
          +max_dimensions($logo_size_secondary, $logo_size_secondary)
//sidebar paragraphs need space after them:
#sidebar p
  padding-bottom: 1em
#task .media img
  margin: 0 auto
  display: block
.invisible
  opacity: 0
#worklist .filters fieldset
  &.actions
    padding: 0
    line-height: 22px
    color: #667309
    text-transform: uppercase
    font-weight: bold
  dl
    padding: 0 30px 0 0
#worklist #tasks li:hover
  background-color: #ffffff !important
#taxon_updates
  .update_feed .header, .page_statistics .header
    position: relative
    padding: 10px 0
    text-align: center
    border-bottom: 1px solid #394651
    h3
      font-size: 1.33em
  .page_statistics
    dl
      float: right
      line-height: 140%
      width: 200px
      padding: 50px 30px 30px 0
      dt
        font-size: 1.8em
        margin: 0 0 10px 0
        & + dd
          font-size: 2em
          & + dt
            font-size: 1.2em
            & + dd
              font-size: 1.6em
      dd
        font-weight: bold
        margin: 0 0 20px 0
    .copy
      float: left
      width: 380px
      margin-top: 30px
      background: #f3f7fa
      border: 1px solid #cad3db
      padding: 20px 20px 0 20px

// Wanted to add a link to the modal collect dialogue:
a.other_actions
  float: right
  margin-top: 1em
// "Modal" static page (this is a copy/paste, sigh):
.site_column > #choose_collections
  h2
    font-size: 1.33em
    margin: 0 0 10px 0
  fieldset.new_collection
    overflow: hidden
    margin: 0 0 20px 0
    input[type="text"]
      float: left
      +input(210px)
      margin: 0 10px 0 0
  input[type="submit"]
    padding-left: 20px
    padding-right: 20px
    font-size: 1.08em
    padding: 5px 10px 6px 10px
  ul
    border: 1px solid #cad3db
    height: 230px
    overflow-y: scroll
    margin: 0 0 20px 0
    li
      font-weight: bold
      padding: 5px 10px
      &.collected
        background: #f4f4f4
      input[type="checkbox"]
        margin: 0 5px 0 0
      a
        font-size: .95em
      span
        font-size: .95em
      & + li
        border-top: 1px solid #cad3db

#search_results ul.object_list li
  white-space: nowrap
#taxon_maps #media_list
  padding: 0
// Trying (again) to center and size the sidebar image (this time including markup changes, yuck.):
#taxon_detail #sidebar
  padding: 0
  padding-bottom: 20px
  width: 260px
  #toc
    margin: 0px 20px
#media_list #sidebar
  padding: 0
  padding-bottom: 20px
  width: 220px
  #filters
    margin: 0px 20px
// Smaller font for "view in classification" links (following pattern for choose collection):
#recognized_by span
  font-size: 0.95em
#taxon_updates form.comment
  margin: 0 0 15px
  border-bottom: 1px solid #D4DCE2
  textarea
    width: 580px
