$('div#suggestions').html(
<% if @known_uris.empty? %>
  '<p><%= escape_javascript I18n.t(:known_uris_empty_sorry) %></p>'
<% else %>
  '<h3><%= @category.label %></h3><ul><li class="attribute"><%= escape_javascript(raw(@known_uris.map { |ku| "#{ku.name}<small>#{ku.uri}</small>" }.join('</li><li class="attribute">'))) %></li></ul>'
<% end %>
  + '<%= escape_javascript link_to(I18n.t(:cancel), categories_known_uris_url, :remote => true, :class => 'cancel') %>'
);
$('li.attribute').click(function() {
  $('#user_added_data_predicate').val($(this).find('small').html());
  $('#suggetions').hide();
});
