%li
  %ul.branch
    - for child in children
      %li
        - tc  = TaxonConcept.find child[:id] rescue nil
        = link_to  child[:scientific_name], taxon_overview_path(child[:id])
        - unless child['children'].blank?
          = link_to( "+" , "",
                     "ng-click" => "expand($event)")
          %div{ "ng-bind-html" => "getHtml(children)"}

