=# javascript_include_tag 'tree'
= stylesheet_link_tag 'tree'
#content{ "ng-app" => "eol", "ng-controller" => "navigate"}

  %ul.branch
    - for branch in @tree
      %li
        - tc  = TaxonConcept.find branch[:id] rescue nil
        = link_to  branch[:scientific_name], taxon_overview_path(branch[:id])
        - unless branch['children'].blank?
          = link_to( "+" , "",
             "ng-click" => "expand($event)")
          %div{ "ng-bind-html" => "getHtml(children)"}


