/* For the details, see: http: //flowplayer.org/tools/dateinput/index.html#skinning */
.date {
  border: 1px solid #cccccc;
  font-size: 18px;
  padding: 4px;
  text-align: center;
  width: 194px;
  -moz-box-shadow: 0 0 10px #eeeeee inset;
  -webkit-box-shadow: 0 0 10px #eeeeee inset; }

/* calendar root element */
/* place on top of other elements. set a higher value if nessessary */
#calroot {
  z-index: 9000;
  margin-top: -1px;
  width: 198px;
  padding: 2px;
  background-color: white;
  font-size: 11px;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 15px #666666;
  -webkit-box-shadow: 0 0 15px #666666; }

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
  padding: 2px 0;
  height: 22px; }

#caltitle {
  font-size: 14px;
  color: #0150d1;
  float: left;
  text-align: center;
  width: 155px;
  line-height: 20px;
  text-shadow: 0 1px 0 #dddddd; }

#calnext, #calprev {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url(images/arrow_left.gif) no-repeat scroll center center;
  float: left;
  cursor: pointer; }

#calnext {
  background-image: url(images/arrow_right.gif);
  float: right; }

#calprev.caldisabled, #calnext.caldisabled {
  visibility: hidden; }

/* year/month selector */
#caltitle select {
  font-size: 10px; }

/* names of the days */
#caldays {
  height: 14px;
  border-bottom: 1px solid #dddddd; }

#caldays span {
  display: block;
  float: left;
  width: 28px;
  text-align: center; }

/* container for weeks */
#calweeks {
  background-color: white;
  margin-top: 4px; }

/* single week */
.calweek {
  clear: left;
  height: 22px; }

/* single day */
.calweek a {
  display: block;
  float: left;
  width: 27px;
  height: 20px;
  text-decoration: none;
  font-size: 11px;
  margin-left: 1px;
  text-align: center;
  line-height: 20px;
  color: #666666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

/* different states */
.calweek a:hover, .calfocus {
  background-color: #dddddd; }

/* sunday */
a.calsun {
  color: red; }

/* offmonth day */
a.caloff {
  color: #cccccc; }

a.caloff:hover {
  background-color: #f5f5fa; }

/* unselecteble day */
a.caldisabled {
  background-color: #efefef !important;
  color: #cccccc !important;
  cursor: default; }

/* current day */
#calcurrent {
  background-color: #498ce2;
  color: white; }

/* today */
#caltoday {
  background-color: #333333;
  color: white; }
