.pagination {
  text-align: center; }

.image_rating {
  padding-bottom: 1em; }

.results_table {
  width: 100%; }

ul#toc li a {
  width: 200px;
  display: block;
  padding-left: 36px;
  line-height: 21px;
  color: #959595;
  text-decoration: none;
  background: url(/images/toc.gif) 20px 1px no-repeat; }
  ul#toc li a.bold {
    font-weight: 700; }
  ul#toc li a:hover, ul#toc li a.active {
    text-decoration: none;
    color: #666666;
    background: url(/images/toc_hover.gif) 20px 1px no-repeat; }
