body {
  font: normal 12px Helvetica, Arial, sans-serif;
  color: #394651;
  padding: 10px;
  margin: 0px; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0; }

p, h2, h3 {
  margin: 0 0 15px 0; }

h3, h4, h5, h6 {
  padding-top: 20px; }

p {
  line-height: 170%; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.33em; }

h4, h5, h6 {
  font-size: 1em;
  font-weight: bold; }

a {
  color: #195184; }

img {
  float: right;
  padding: 10px;
  border: 1px solid #cad3db;
  margin: 0 0 20px 20px; }

a img, :link img, :visited img {
  border: none; }

ul, ol {
  margin: 0 40px 15px 40px;
  line-height: 170%; }
  ul li, ol li {
    margin: 0 0 10px 0; }

ul li {
  list-style-type: disc; }

blockquote {
  background: #eff2f4;
  border: 1px solid #cad3db;
  margin: 0 0 25px 0;
  padding: 15px 20px 0 20px; }

address {
  font-style: normal; }

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 15px 0;
  line-height: 170%;
  font-size: 1em; }
  table thead th {
    background: #eff2f4;
    padding: 5px 20px;
    font-weight: bold;
    text-align: left; }
  table tr {
    border: 1px solid #cad3db; }
    table tr td {
      padding: 5px 20px; }
