/*
Syntax error: The line was indented 2 levels deeper than the previous line.
        on line 35 of /Users/lwalley/Sites/eol/public/stylesheets/sass/fckcustom.sass

30:   border: 1px solid #CAD3DB
31:   margin: 0 0 20px 20px
32: a img, :link img, :visited img
33:   border: none
34: code
35:     clear: both
36:     display: block
37:     font-family: "courier new", courier, monospace
38:     line-height: 1.3
39:     margin-top: 5px
40:     margin-bottom: 15px

Backtrace:
/Users/lwalley/Sites/eol/public/stylesheets/sass/fckcustom.sass:35
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/lib/sass/../sass/engine.rb:434:in `tree'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/lib/sass/../sass/engine.rb:322:in `_to_tree'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/lib/sass/../sass/engine.rb:291:in `_render'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/lib/sass/../sass/engine.rb:239:in `render'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/lib/sass/../sass/util.rb:298:in `silence_sass_warnings'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/lib/sass/../sass/engine.rb:239:in `render'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin/compiler.rb:175:in `each'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin/compiler.rb:173:in `each'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin.rb:54:in `check_for_updates'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/sass-3.1.1/rails/../lib/sass/plugin/rack.rb:51:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/actionpack-2.3.8/lib/action_controller/string_coercion.rb:25:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/head.rb:9:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/actionpack-2.3.8/lib/action_controller/params_parser.rb:15:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/actionpack-2.3.8/lib/action_controller/session/cookie_store.rb:99:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/activesupport-2.3.8/lib/active_support/cache/strategy/local_cache.rb:25:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/actionpack-2.3.8/lib/action_controller/failsafe.rb:26:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:114:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/actionpack-2.3.8/lib/action_controller/reloader.rb:34:in `run'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:108:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rails-2.3.8/lib/rails/rack/static.rb:31:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/urlmap.rb:47:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `each'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rails-2.3.8/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/handler/webrick.rb:48:in `service'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/lwalley/.rvm/rubies/ruby-1.8.7-p352/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rack-1.1.0/lib/rack/handler/webrick.rb:14:in `run'
/Users/lwalley/.rvm/gems/ruby-1.8.7-p352@eol/gems/rails-2.3.8/lib/commands/server.rb:111
script/server:3:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: The line was indented 2 levels deeper than the previous line.\A         on line 35 of /Users/lwalley/Sites/eol/public/stylesheets/sass/fckcustom.sass\A \A 30:   border: 1px solid #CAD3DB\A 31:   margin: 0 0 20px 20px\A 32: a img, :link img, :visited img\A 33:   border: none\A 34: code\A 35:     clear: both\A 36:     display: block\A 37:     font-family: \"courier new\", courier, monospace\A 38:     line-height: 1.3\A 39:     margin-top: 5px\A 40:     margin-bottom: 15px"; }
