ul, ol {list-style: none}
h1, h2, h3, h4, h5, h6, pre, code {font-size: 1em}
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd {margin: 0; padding: 0}
a img, :link img, :visited img, fieldset {border: none}
address {font-style: normal}
header, section, article, nav, footer, hgroup {display: block}
body {font-family: Helvetica, Arial, sans-serif; font-size: 75%; color: #394651; border-top: 32px solid #28323a; min-width: 940px}
body, html {background: #394651}
a {color: #195184}
.site_column, body > #header .section, body > #footer .section, .thumbnails ul, #content .section {width: 940px; margin: 0 auto}
body > #header a {color: white}
body > #header p.status {clear: both; padding: 7px 10px; margin: 10px 0; font-weight: bold; text-align: center; color: #394651; border: 1px solid #c7d471; background: #edf6b2}
body > #header p.status.error {border-color: #f2d2cc; background: #ffeae6}
body > #header h1 {position: absolute; left: 0; top: 20px; z-index: 2}
body > #header h1 a {display: block; width: 125px; height: 78px; text-indent: -8685px; overflow: hidden; background: transparent url("/images/v2/logo.png") 0 0 no-repeat}
body > #header .section {position: relative}
body > #header .section ul.nav {position: absolute; right: 0; top: -25px; z-index: 1}
body > #header .section ul.nav li {display: inline; padding: 0 0 0 7px; text-transform: uppercase}
body > #header .section ul.nav li:before {padding: 0 7px 0 0; font-size: 1.33em; vertical-align: -2px; content: "•"; list-style: disc; color: #4c5155}
body > #header .section ul.nav li:first-of-type:before {display: none}
body > #header .section ul.nav li a {text-decoration: none}
body > #header .section .actions {position: absolute; left: 0; top: -27px; z-index: 3; font-size: 0.92em; text-transform: uppercase}
body > #header .section .actions a {display: block; text-decoration: none}
body > #header .section .actions p {padding: 1px; border: 1px solid #444749}
body > #header .section .actions p a {padding: 1px 5px 1px 18px}
body > #header .section .actions p a span {display: block; padding: 0 0 0 5px; border-left: 1px solid #444749}
body > #header .section .actions p.print {float: left}
body > #header .section .actions p.print a {background: transparent url("/images/v2/icon_paper.png") 5px 2px no-repeat}
body > #header .section .actions .language {float: left; position: relative; margin: 0 10px 0 0}
body > #header .section .actions .language a {background: transparent url("/images/v2/icon_dropdown.png") 5px 6px no-repeat}
body > #header .section .actions .language ul {display: none; position: absolute; left: 0; top: 100%; z-index: 5; width: 100%; background: #0a0f13}
body > #header .section .actions .language ul li {padding: 2px 5px; border: 1px solid #444749; border-top: none}
body > #header .section .actions .language ul a {background: transparent}
body > #header form {position: relative; z-index: 2; width: 268px; margin: 0 auto; padding: 43px 0 0 0}
body > #header form label {position: absolute; left: -9999px}
body > #header form .text {float: left; margin: 0 10px 0 0; -moz-border-radius: 180px; border-radius: 180px; background-color: #fefeff; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ccd2d7, endColorstr=#fefeff); background-image: -moz-linear-gradient(100% 100% 90deg, #fefeff, #ccd2d7); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd2d7), to(#fefeff))}
body > #header form input[type="text"] {width: 175px; height: 18px; padding: 6px 5px 6px 38px; font-size: 1.16em; line-height: 140%; color: #394651; outline: none; border: none; background: transparent url("/images/v2/icon_search.png") 9px 50% no-repeat}
body > #header form input[type="submit"] {float: left; min-width: 30px; min-height: 30px; overflow: visible; font-size: 0.83em; line-height: 28px; font-weight: bold; text-transform: uppercase; border: none; -moz-border-radius: 180px; border-radius: 180px; background-color: #ccd2d7; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefeff, endColorstr=#ccd2d7); background-image: -moz-linear-gradient(100% 100% 90deg, #ccd2d7, #fefeff); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#ccd2d7))}
body > #header form input[type="submit"]:hover {background-color: #dae3eb; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#dae3eb); background-image: -moz-linear-gradient(100% 100% 90deg, #dae3eb, white); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#dae3eb))}
body > #header form input[type="submit"]:active {background-color: #ccd2d7; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefeff, endColorstr=#ccd2d7); background-image: -moz-linear-gradient(100% 100% 90deg, #ccd2d7, #fefeff); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#ccd2d7))}
body > #footer {overflow: hidden; padding: 0 0 30px 0; background: #394651}
body > #footer .section {padding: 0}
body > #footer .copyright {float: left; padding: 20px 0 0 0; text-align: center}
body > #footer .copyright h6 {padding: 0 0 5px 0}
body > #footer .copyright h6 a {display: block; width: 41px; height: 18px; text-indent: -8685px; overflow: hidden; background: transparent url("/images/v2/logo_footer.png") 0 0 no-repeat}
body > #footer .copyright p {font-size: 0.83em; font-weight: bold; color: #6f7e8b}
body > #footer .disclaimer {color: white; background: #566572; padding: 10px 20px; font-size: 0.92em; color: #f0f4f7; line-height: 140%; text-align: center}
body > #footer .global_navigation {margin-left: 50px; clear: none; padding: 20px 0}
body > #footer .global_navigation ul.nav {line-height: 160%; float: right}
body > #footer .global_navigation ul.nav li {display: inline; padding: 0 0 0 7px; text-transform: uppercase}
body > #footer .global_navigation ul.nav li:before {padding: 0 7px 0 0; font-size: 1.33em; vertical-align: -2px; content: "•"; list-style: disc; color: #6f7e8b}
body > #footer .global_navigation ul.nav li:first-of-type {padding-left: 0}
body > #footer .global_navigation ul.nav li:first-of-type:before {display: none}
body > #footer .global_navigation ul.nav li a {color: white; text-decoration: none}
body > #footer ul.social_media {clear: both; float: right}
body > #footer ul.social_media li {float: left; padding: 0 0 0 10px}
body > #footer ul.social_media li a {display: block; width: 25px; height: 25px; text-indent: -8685px; overflow: hidden; background: transparent url("/images/v2/icon_social-media.png") 0 0 no-repeat; border: 1px solid #28323a}
body > #footer ul.social_media li a.rss {background-position: 0 -25px}
body > #footer ul.social_media li a.facebook {background-position: 0 -50px}
body > #footer ul.social_media li a.tumblr {background-position: 0 -75px}
body > #footer ul.social_media li a.flickr {background-position: 0 -100px}
body > #footer ul.social_media li a.youtube {background-position: 0 -125px}
.thumbnails {padding: 10px 0 0 0; background: transparent url("/images/v2/bg_thumbnails.png") 0 0 repeat-x}
.thumbnails ul {position: relative; top: 1px; z-index: 2}
.thumbnails ul li {position: relative; float: left; padding: 0 0 10px 0; margin: 0 20px 0 0}
.thumbnails ul li img {display: block; padding: 5px; background: transparent url("/images/v2/bg_home_thumbnails.png") repeat; background: rgba(255, 255, 255, 0.4); width: 130px; height: 130px}
.thumbnails ul li.last {margin: 0}
.thumbnails ul li:hover {background: transparent url("/images/v2/icon_home-thumb_active.png") 50% 100% no-repeat}
.thumbnails ul li:hover img {background: rgba(255, 255, 255, 0.6)}
.thumbnails .term {clear: both; position: relative; z-index: 1; padding: 2px 0; border-top: 1px solid white; border-bottom: 1px solid #93a4b0; background: #e5e8eb}
.thumbnails .term .site_column, .thumbnails .term body > #header .section, body > #header .thumbnails .term .section, .thumbnails .term body > #footer .section, body > #footer .thumbnails .term .section, .thumbnails .term ul, .thumbnails .term #content .section, #content .thumbnails .term .section {width: 960px; padding: 0}
.thumbnails .term p {font-weight: bold; color: #28323a}
.pagination {clear: both; text-align: right; font-weight: bold; margin: 0 0 10px 0}
.pagination span, .pagination a {margin: 0 4px 0 0; line-height: 180%; padding: 2px 5px 0; border: 1px solid #cad3db; color: #394651}
.pagination span.gap, .pagination a.gap {border: none}
.pagination span.prev_page, .pagination a.prev_page {float: left}
.pagination span.prev_page, .pagination span.next_page, .pagination a.prev_page, .pagination a.next_page {border: none; background: none; margin: 0}
.pagination span.current, .pagination a.current {background: #62707d; border-color: #394651; color: white}
.pagination a {text-decoration: none; background: #f3f7fa}
.pagination a:hover {border-color: #394651}
.pagination a.prev_page:hover, .pagination a.next_page:hover {text-decoration: underline}
.pagination span.prev_page, .pagination span.next_page {color: #616e7a}
.pagination span.disabled {font-weight: normal; color: #cad3db}
.pagination + ul {border-top: 1px solid #d4dce2; margin-top: 12px}
ul + .pagination {border-top: 1px solid #d4dce2; padding: 12px 0 0 0; margin: 0}
.session.join {font-weight: bold; text-align: center}
.session.join p {padding: 0 0 5px 0}
.session.join p.button {padding: 15px 0 20px 0}
.session.join p.button a {padding: 10px 24px; overflow: visible; font: bold 16px Helvetica, Arial, sans-serif; color: white; text-decoration: none; text-shadow: 0 1px 1px #333333; border: 1px solid #3270a7; background-color: #255491; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#408ebf, endColorstr=#255491); background-image: -moz-linear-gradient(100% 100% 90deg, #255491, #408ebf); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#408ebf), to(#255491))}
.session.join p.button a:hover {background-color: #2b64ad; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#46a2db, endColorstr=#2b64ad); background-image: -moz-linear-gradient(100% 100% 90deg, #2b64ad, #46a2db); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#46a2db), to(#2b64ad))}
.session.join p.button a:active {background-color: #255491; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#408ebf, endColorstr=#255491); background-image: -moz-linear-gradient(100% 100% 90deg, #255491, #408ebf); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#408ebf), to(#255491))}
.session.join a {color: inherit}
body {border-color: #0a0f13; background: #0a0f13 url("/images/v2/bg_stars.png") repeat}
body > #header {position: relative; height: 563px; color: white; border-top: 1px solid #202427; border-bottom: 1px solid #ccd4dd; background: transparent url("/images/v2/bg_home_earth.png") 50% 100% no-repeat}
body > #header .section {position: relative; height: 268px; padding: 295px 0 0 0}
body > #header h1 {left: 40px; top: 40px}
body > #header h1 a {width: 157px; height: 99px; background-image: url("/images/v2/logo_index.png")}
body > #header h2 {position: absolute; left: 0; top: 180px; z-index: 1; width: 100%; font-size: 3.12em; font-weight: 200; text-align: center}
body > #header form {width: 380px; padding: 4px; -moz-border-radius: 180px; border-radius: 180px; background: rgba(255, 255, 255, 0.5)}
body > #header form .text {margin: 0 5px 0 0; -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); box-shadow: 0 0 4px rgba(0, 0, 0, 0.6)}
body > #header form input[type="text"] {width: 274px; height: 28px; font-size: 1.5em; line-height: 28px; background-image: url("/images/v2/icon_search_home.png"); float: left}
body > #header form input[type="submit"] {min-width: 40px; min-height: 40px; font-size: 1.08em; line-height: 38px; -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); float: right; padding: 0 4px}
body > #header .session {position: absolute; right: 30px; top: 30px; z-index: 2; background-color: #080f13; background-color: rgba(8, 15, 19, 0.6); padding: 10px}
body > #header .session.signed_in ul {float: right; overflow: hidden; margin-left: 1px; font-weight: bold; font-size: 0.9em}
body > #header .session.signed_in ul li a {display: block; height: 25px; line-height: 25px; text-decoration: none; background: url("/images/v2/icon_header_messages.png") 6px 45% no-repeat #566572; padding: 0 5px 0 24px}
body > #header .session.signed_in ul li a:hover {background-color: #667d91}
body > #header .session.signed_in ul li + li {margin-top: 1px}
body > #header .session.signed_in ul li + li a {background-image: url("/images/v2/icon_header_notifications.png"); background-position: 9px 50%}
body > #header .session.signed_in img {float: right; margin: 0 0 0 10px; border: 1px solid #cad3db}
body > #header .session.signed_in .details {float: right; padding: 5px 0 0 0; font-size: 0.92em; line-height: 130%; text-align: right; color: white}
body > #header .session.signed_in .details strong {font-size: 1.09em}
body > #header .session.signed_in .details p.user_links {font-size: 0.83em; text-transform: uppercase; color: #62707d}
body > #header .session.signed_in .details p.user_links a {color: #acd7ff; text-decoration: none}
body > #header .thumbnails {position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; background: transparent url("/images/v2/bg_home_thumbnails.png") repeat; background: rgba(255, 255, 255, 0.5)}
body > #header .thumbnails .term {border-bottom-color: white}
#content {overflow: hidden; background: white}
#content .section {padding: 30px 10px}
#content .section h3 {padding: 0 0 15px 40px; font-size: 1.33em}
#content .section .stats {float: left; width: 520px; padding: 0 40px 0 0}
#content .section .stats li {clear: both; overflow: hidden; padding: 10px 20px 10px 20px; border-top: 1px solid #e5e8eb}
#content .section .stats li > a {float: left; margin: 20px 0 0 0}
#content .section .stats li dl {float: left; width: 175px; padding: 3px 10px 3px 100px; background: 0 50% no-repeat transparent}
#content .section .stats li dd {font-size: 2.5em}
#content .section .stats li dt {font-size: 1.1em; font-weight: bold; color: #394651}
#content .section .stats li.taxon dl {background-image: url("/images/v2/icon_taxon.png")}
#content .section .stats li.users dl {background-image: url("/images/v2/icon_user.png")}
#content .section .stats li.collections dl {background-image: url("/images/v2/icon_collections.png")}
#content .section .stats li.images dl {background-image: url("/images/v2/icon_images.png")}
#content .section .stats li.partners dl {background-image: url("/images/v2/icon_partners.png")}
#content .section .stats li.communities dl {background-image: url("/images/v2/icon_community.png")}
#content .section .community {float: right; width: 380px; margin: 0 0 20px 0}
#content .section .community h3 {position: relative; border-bottom: 1px solid #e5e8eb}
#content .section .community h3 > small {position: absolute; right: 10px; top: 1px}
#content .section .community > ul {padding: 20px 0 10px 40px; border-bottom: 1px solid #e5e8eb}
#content .section .community > ul > li {overflow: hidden; padding: 0 0 10px 0}
#content .section .community > ul > li img {float: left; margin: 0 10px 0 0; max-width: 48px; max-height: 48px; width: expression(this.width > 48 ? "48px" : true); height: expression(this.height > 48 ? "48px" : true)}
#content .section .community > ul > li .details {overflow: hidden; padding: 3px 0 0 0}
#content .section .community > ul > li p {line-height: 140%}
#content .section .community > ul > li p.meta {font-size: 0.83em; font-weight: bold; text-transform: uppercase; color: #82919e}
#content .section .community > ul > li ul.actions li {display: inline-block; font-size: 0.9em; font-weight: bold; text-transform: lowercase}
#content .section .community > ul > li ul.actions li a {padding: 3px 5px 3px 0; margin: 0 5px 0 0}
#content .section .community > ul > li ul.actions li input[type="submit"] {background: none; border: none; font-weight: bold; color: #195184; text-decoration: underline; cursor: pointer; padding: 3px 5px 3px 0; margin: 0 5px 0 0}
#content .section .community > ul > li form.edit_comment {margin: 10px 0}
#content .section .community > ul > li form.edit_comment label {display: block; font-weight: bold}
#content .section .community > ul > li form.edit_comment textarea {width: 300px; height: 60px; padding: 8px; font: normal 1em Helvetica, Arial, sans-serif; color: #394651; border: 1px solid #cad3db; background-color: white; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white); background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white)); margin: 3px 0 5px 0}
#content .section .community > ul > li form.edit_comment input[type="submit"] {padding: 5px 10px 6px 10px; overflow: visible; font: bold 1.08em Helvetica, Arial, sans-serif; color: #394651; text-transform: lowercase; text-decoration: none; border: 1px solid #c6ccd0; -moz-border-radius: 3px; border-radius: 3px; background-color: #d7dde1; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#d7dde1); background-image: -moz-linear-gradient(100% 100% 90deg, #d7dde1, white); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#d7dde1)); cursor: pointer; font-size: 0.9em; margin-right: 10px}
#content .section .community > ul > li form.edit_comment input[type="submit"]:hover {background-color: #e6eef4; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#e6eef4); background-image: -moz-linear-gradient(100% 100% 90deg, #e6eef4, white); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#e6eef4))}
#content .section .community > ul > li form.edit_comment input[type="submit"]:active {background-color: #d7dde1; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#d7dde1); background-image: -moz-linear-gradient(100% 100% 90deg, #d7dde1, white); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#d7dde1))}
#content .section .session {float: right; clear: right; width: 380px; margin: 0 0 30px 0}
body#prelaunch {border: none}
body#prelaunch #footer .section {width: 860px}
body#prelaunch #footer ul.social_media {clear: none}
body#prelaunch > #header {height: 320px; background-position: 50% 200px}
body#prelaunch > #header .section {padding: 0}
body#prelaunch #content {background: #28323a; color: white}
body#prelaunch #content .section {width: 860px; margin: 0 auto; overflow: hidden}
body#prelaunch #content .article {width: 560px; margin: 20px 40px 20px 0; line-height: 160%; float: left}
body#prelaunch #content .article h3 {font-size: 20px; margin: 0 0 15px 0; padding: 0}
body#prelaunch #content .article p {margin: 0 0 15px 0}
body#prelaunch #content .article a {color: #acd7ff}
body#prelaunch #content form {float: right; width: 212px; background: #394651; border-bottom: 1px solid #17242f; padding: 20px; margin: 0 auto; -moz-border-radius: 5px; border-radius: 5px}
body#prelaunch #content form dl dt label {font-weight: bold}
body#prelaunch #content form dl dd {margin: 0 0 10px 0}
body#prelaunch #content form dl dd input {width: 200px; height: 22px; padding: 2px 5px; font: normal 1em Helvetica, Arial, sans-serif; border: 1px solid #cad3db; background-color: white; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white); background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white))}
body#prelaunch #content form input[type="submit"] {padding: 5px 10px 6px 10px; overflow: visible; font: bold 1.08em Helvetica, Arial, sans-serif; color: #394651; text-transform: lowercase; text-decoration: none; border: 1px solid #c6ccd0; -moz-border-radius: 3px; border-radius: 3px; background-color: #d7dde1; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#d7dde1); background-image: -moz-linear-gradient(100% 100% 90deg, #d7dde1, white); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#d7dde1)); cursor: pointer}
body#prelaunch #content form input[type="submit"]:hover {background-color: #e6eef4; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#e6eef4); background-image: -moz-linear-gradient(100% 100% 90deg, #e6eef4, white); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#e6eef4))}
body#prelaunch #content form input[type="submit"]:active {background-color: #d7dde1; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#d7dde1); background-image: -moz-linear-gradient(100% 100% 90deg, #d7dde1, white); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#d7dde1))}
#prelaunch div.update {background: none repeat scroll 0 0 #394651; border-bottom: 1px solid #17242f; border-radius: 5px 5px 5px 5px; float: right; margin: 0 auto; padding: 40px 20px; width: 212px}
#prelaunch div.update h2 {font-size: 1.2em; font-weight: bold; margin: 0 0 10px 0}
.assistive, #header .assistive {position: absolute; left: -999em}
body.home > #header {background: transparent url("/images/v2/bg_home_earth.jpg") 50% 100% no-repeat}
html.busy, html.busy *, .busy {cursor: wait}
#profile_edit.article {padding: 0 0 25px 0}
#profile_edit fieldset.curation {width: 320px}
#profile_edit fieldset.curation textarea {width: 282px; height: 120px}
#profile_content_connections li img {max-width: 68px; max-height: 68px; width: expression(this.width > 68 ? "68px" : true); height: expression(this.height > 68 ? "68px" : true)}
#sidebar .content_partner_managers {margin: 0 0 20px 0}
#sidebar .content_partner_managers li {overflow: hidden; padding: 0 0 20px 0; line-height: 140%}
#sidebar .content_partner_managers img {float: left; margin: 0 10px 0 0; border: 1px solid #394651}
#sidebar .content_partner_managers h4 a {color: inherit; text-decoration: none}
#sidebar .content_partner_managers h4 a:hover {text-decoration: underline}
#profile_content_partner form dt {clear: both}
#profile_content_partner form dd.managed_by {overflow: hidden}
#profile_content_partner form dd.managed_by img {float: left; margin: 0 10px 0 0; border: 1px solid #394651; max-width: 48px; max-height: 48px; width: expression(this.width > 48 ? "48px" : true); height: expression(this.height > 48 ? "48px" : true)}
#profile_content_partner form dd.managed_by .details {padding: 5px 0 0 0; overflow: hidden}
form.edit_hierarchy p.browsable, form.edit_hierarchy p.not_browsable, form.edit_hierarchy p.request_publish {background: #f3f7fa; border: 1px solid #cad3db; font-size: 1.33em; font-weight: bold; padding: 10px; margin-bottom: 30px; text-align: center}
form.edit_hierarchy p.request_publish {border-color: #c7d471; background: #edf6b2}
form fieldset.dataset legend.required {font-weight: bold; background: url("/images/v2/icon_required.png") 0 45% no-repeat; padding-left: 10px; margin-left: -10px}
form dt.required label {background: url("/images/v2/icon_required.png") 0 45% no-repeat; padding-left: 10px; margin-left: -10px}
form fieldset#errors {width: 100%; position: relative; background: #ffeae6; border: 1px solid #f2d2cc; padding: 20px 0; margin: 0 0 20px 0}
form fieldset#errors legend {position: absolute; left: 20px; background: transparent; font-weight: bold}
form fieldset#errors ul {margin: 30px 20px 0 40px}
form fieldset#errors li {font-weight: normal; display: block; float: none; margin-bottom: 5px}
form fieldset.radio, form fieldset.checkboxes {margin: 20px 0}
form fieldset.radio legend, form fieldset.checkboxes legend {font-weight: bold; padding-bottom: 10px}
form fieldset.radio label, form fieldset.checkboxes label {margin: 10px; display: block; clear: both; line-height: 1.2em}
form fieldset.checkboxes label {font-weight: bold}
form fieldset.checkboxes label p {font-weight: normal}
form label.errors, form span.errors {color: #e84226}
form span.errors {font-weight: normal}
form input.errors, form textarea.errors {border-color: #f2d2cc !important}
form#switch_hierarchy_entry fieldset {display: inline}
.learn_more fieldset.actions {display: inline}
.meta.learn_more p:before, .meta.learn_more form:before {content: "•"; margin: 0 10px 0 0}
.meta.learn_more p:after, .meta.learn_more form:after {content: "" !important; margin: 0 !important}
.meta.learn_more p {text-transform: lowercase}
.meta.learn_more p:first-child:before {content: ""; margin: 0 !important}
#content.session form.terms_agreement {padding: 75px 69px; width: 500px}
#content.session p {padding-bottom: 2em}
#content.session .pending {width: 320px; min-height: 225px; padding: 75px 159px; margin: 0 auto; border: 1px solid #cad3db; background: #f0f4f7 url("/images/v2/bg_sign-in.gif") 0 0 no-repeat}
#new_user iframe {width: 320px; overflow: auto}
#content.cms_page .header {border-bottom: 1px solid #394651; text-align: center}
#content.cms_page table {border-collapse: collapse; width: 100%; margin: 0 0 15px 0; line-height: 170%}
#content.cms_page table thead tr {border: 1px solid #cad3db}
#content.cms_page table thead tr th {background: #eff2f4; padding: 5px 20px; font-weight: bold; text-align: left}
#content.cms_page table tbody tr {border: 1px solid #cad3db}
#content.cms_page table tbody tr td {padding: 5px 20px}
#content.cms_page a.pdf {background: url("/images/v2/icon_pdf.png") right top no-repeat; padding: 0 20px 3px 0}
#content.cms_page ul.grid {margin: 0 auto 40px; width: 598px; line-height: 100%}
#content.cms_page ul.grid li {margin: 0; padding: 0; list-style-type: none; display: inline-block; width: 116px}
#content.cms_page ul.grid li img {max-width: 100px; border: none; padding: 0; margin: 8px; float: none}
#content.cms_page ul.grid.four li {width: 146px}
#content.cms_page ul.grid.four li img {margin: 10px; max-width: 125px}
#content.cms_page ul.march {width: 100%; margin: 0 0 40px; padding: 0; clear: both; overflow: hidden; line-height: 100%; height: 98px}
#content.cms_page ul.march li {margin: 0; padding: 0; list-style-type: none; display: inline-block}
#content.cms_page ul.march li img {border: none; float: none; margin: 0; padding: 0; max-height: 98px}
#content.cms_page ul.with_images li {overflow: hidden; list-style-type: none; clear: both; border-bottom: 1px solid #cad3db; padding: 10px}
#content.cms_page ul.with_images li img {max-width: 88px; padding: 0; border: none; float: left; margin: 0 0 10px 0}
#content.cms_page ul.with_images li h2, #content.cms_page ul.with_images li h3, #content.cms_page ul.with_images li h4, #content.cms_page ul.with_images li h5, #content.cms_page ul.with_images li p {margin-left: 110px}
#content.cms_page ul.object_list {list-style_type: none}
#content.cms_page ul.object_list li img {max-width: 68px}
#content.cms_page ul.object_list li h4 {margin-bottom: 0.5em}
#content.cms_page ul.object_list li h4 a {color: #195184; text-decoration: underline}
#content.cms_page ul.object_list li p {clear: none}
#content.cms_page dl {line-height: 140%; margin: 0 0 40px 0}
#content.cms_page dl dt {font-weight: bold}
#content.cms_page dl dd {margin: 0 0 5px 20px}
#content.cms_page code {clear: both; display: block; font-family: "courier new", courier, monospace; line-height: 1.3; margin-top: 5px; margin-bottom: 15px; background-color: #eeeeee; border: 1px dashed #999999; padding: 10px; white-space: pre; overflow-x: auto}
#content.cms_page #api_doc p {margin-left: 40px}
#content.cms_page #api_doc table {margin-bottom: 40px}
#content.cms_page #api_doc table col.name {font-weight: bold}
#content.cms_page #api_doc table col.notes {width: 25%}
#content.cms_page #sidebar dl {margin-bottom: 10px}
.donate label.other {padding-left: 15px; margin-top: -27px}
.donate fieldset.actions {margin-bottom: 40px}
.donate em {font-weight: bold}
.cms_page #content_partners #sidebar input[type="text"] {width: 118px}
p.status.error {border: 1px solid #f2d2cc; background: #ffeae6}
.home #content {padding-bottom: 20px}
.home p.status.notice, .home p.status.error, .home p.status.warning {clear: both; padding: 7px 10px; margin: 0; line-height: 140%; font-size: 1.08em; font-weight: bold; text-align: center; color: #394651; border: 1px solid #c7d471; background: #edf6b2}
.home p.status.error {border: 1px solid #f2d2cc; background: #ffeae6}
#permalink {}
#permalink.article {padding: 0}
#permalink #sidebar ul.review_status p.unknown {border: 1px solid #677682; background: #8695a1}
#permalink #sidebar ul.review_status p.untrusted {border: 1px solid #f2d2cc; background: #ffeae6; color: #677682}
#permalink .media {float: none}
#permalink .media .jp-audio {width: 100%; margin: 0 auto}
#permalink .media .jp-audio .jp-interface {background-color: #eeeeee; border: 1px solid #cad3db}
#permalink .media img {max-width: 540px; width: expression(this.width > 540 ? "540px" : true)}
form p.tip {background: #f3f7fa; border: 1px solid #cad3db; padding: 10px; margin: 0 40px 20px 0; line-height: 140%}
form p.tip img {margin: -2px 5px 0 5px}
#media_list #sidebar img, #taxon_detail #sidebar img {margin: auto}
#media_list #sidebar h3, #taxon_detail #sidebar h3 {margin-top: 20px}
#media_list #sidebar h4 a, #taxon_detail #sidebar h4 a {color: #667309; text-decoration: none}
#media_list #main > ul > li.sound .figure, #media_list #main > ul > li.video .figure {position: relative; width: 160px; height: 125px; margin: 0 0 5px 0; overflow: hidden}
#media_list #main > ul > li.sound .figure p, #media_list #main > ul > li.video .figure p {position: absolute; z-index: 5; top: 0; left: 0; margin: 55px 0 10px; padding: 0; width: 160px; text-align: center}
#media_list #main > ul > li.sound .figure p a, #media_list #main > ul > li.video .figure p a {display: inline-block; margin: 0 10px}
#media_list #main > ul > li.sound .figure {background: #394651 url("/images/v2/icon_sound_tabs.png") no-repeat 50% 20%; color: #e2e9ef}
#media_list #main > ul > li.sound .figure a {color: #e2e9ef}
#media_list #main > ul > li.sound .figure .player {background-color: transparent !important}
#media_list #main > ul > li.sound .figure .player_interface {width: 160px; position: absolute; z-index: 4; bottom: 0; left: 0; text-align: center; line-height: 140%; background: #566979}
#media_list #main > ul > li.sound .figure .player_interface a {text-decoration: none; display: inline-block; margin: 0 2px 0; padding: 5px 0}
#media_list #main > ul > li.sound .figure .player_interface a img {margin-bottom: -2px}
#media_list #main > ul > li.sound .figure .player_interface span {display: inline-block}
#media_list #main > ul > li.sound .figure .player_interface span.current_time {margin-left: 8px}
#media_list #main > ul > li.video .figure {background: url("/images/v2/icon_videos_tabs.png") no-repeat 50% 20% transparent; border: 1px solid #cad3db; width: 158px; height: 123px}
#media_list #main > ul > li.video .figure p {width: 158px}
#media_list #main > ul > li.video .figure .video_overlay {position: absolute; width: 158px; height: 123px; z-index: 3; background: url("/images/v2/video_play.png") no-repeat 50% 50% transparent}
#media_list #main > ul > li form {display: block; clear: both}
#media_list #main > ul > li form.taxon_concept_exemplar_image input[type="submit"] {position: absolute; top: 95px; right: 0; z-index: 3}
p.flag, span.flag {color: white; padding: 1px 2px; text-transform: uppercase; font-size: 0.75em}
p.flag.trusted, span.flag.trusted {border: 1px solid #6b7910; background: #849513}
p.flag.unknown, span.flag.unknown {border: 1px solid #677682; background: #8695a1}
p.flag.untrusted, span.flag.untrusted {border: 1px solid #f2d2cc; background: #ffeae6; color: #677682 !important}
#permalink_add_association #main ul > li img {max-width: 68px; max-height: 68px; width: expression(this.width > 68 ? "68px" : true); height: expression(this.height > 68 ? "68px" : true)}
#permalink .ratings h5 {margin-top: 2px; font-size: 1.1em; padding: 0}
#taxon_detail #main > .section > .article > .meta.learn_more p {line-height: 200%}
#taxon_detail #main > .section > .article > .copy {padding-bottom: 15px}
#taxon_detail .rating h5 {float: left; margin: 0 10px 0 0; text-transform: lowercase; font-size: 0.83em}
#taxon_detail .rating ul {display: inline}
#taxon_detail .average_rating {padding: 2px 40px 0 0; margin: 0 0 20px 0}
#taxon_detail .average_rating h5 {float: left; margin: 0 10px 0 0; text-transform: lowercase}
#taxon_detail .average_rating h5 small {font-size: 1em}
.rating ul li.current_rating_0 {position: absolute; top: 0; left: 0; height: 13px; font-size: 0; text-indent: -8685px; overflow: hidden; width: 0; background: transparent url("/images/v2/icon_stars.png") 0 100% repeat-x}
#worklist #task .rating, #worklist #task .average_rating {*display: inline}
#worklist #task .rating h5, #worklist #task .average_rating h5 {font-size: 1em}
#worklist #task .average_rating {*width: 250px}
#worklist #task .average_rating h5 {*width: 135px}
.join abbr {border: none}
body.home > #header .session.signed_in {width: 400px}
body.home > #header .session.join {text-align: center !important}
body.home > #header .session.join a {color: white !important}
body > #header .section .actions {z-index: 5}
body > #header .section .session.join {float: right; text-align: right; color: white}
body > #header .section .session.join p {line-height: 1.4em}
body > #header .section .session.join a {color: #90bce4}
#iucn_status {border: 1px solid #cad3db; background: #f1f4f7; text-align: center; padding: 7px 10px; font-size: 1.16em; margin: 20px 0; color: #394651}
#iucn_status h3, #iucn_status p, #iucn_status abbr {display: inline-block}
#iucn_status abbr {border: none}
#iucn_status a {color: #195184}
#iucn_status.positive {border-color: #c7d471; background: #edf6b2}
#iucn_status.positive a {color: #809203}
#iucn_status.negative {border-color: #f2d2cc; background: #ffeae6}
#classification_browser {border: 1px solid #d7dadc; overflow-x: auto; padding: 10px 15px; margin: 0 -10px 20px -10px}
#classification_browser > ul {line-height: 160%; font-size: 0.9em}
#classification_browser > ul li {white-space: nowrap}
#classification_browser > ul li ul {margin-left: 10px}
#classification_browser .open, .classifications .open {font-weight: bold}
#taxon_names table.standard.common_names td {position: relative; width: 33%}
#taxon_names table.standard.edit_common_names td {position: relative; width: 25%}
#taxon_names table.standard.synonyms td, #taxon_names table.standard.related_names td {position: relative; width: 50%}
#taxon_names form#new_name {background: #f3f7fa; border: 1px solid #cad3db; margin-bottom: 40px; padding: 5px 20px}
#taxon_names form#new_name .copy {margin-bottom: 3px}
#taxon_names form#new_name .copy h3 {margin-bottom: 0}
#taxon_names form#new_name dt, #taxon_names form#new_name dd, #taxon_names form#new_name fieldset, #taxon_names form#new_name input[type="submit"] {display: inline-block; height: 2em; zoom: 1; *display: inline}
#taxon_names form#new_name fieldset {height: 3em; margin: 5px}
#taxon_names form#new_name dl {margin-left: 20px}
#taxon_names form#new_name dl dt {padding-right: 5px}
#taxon_names form#new_name dl dd {margin-right: 20px}
#taxon_names form#new_name input[type="text"] {width: 200px; height: 22px; padding: 2px 5px; font: normal 1em Helvetica, Arial, sans-serif; border: 1px solid #cad3db; background-color: white; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white); background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white))}
#taxon_names .recognized {line-height: 170%}
#taxon_detail div.actions {clear: both; margin: 0 0 20px 0}
#taxon_detail form#new_collection_item {display: inline-block}
#taxon_detail form#new_collection_item input[type="submit"] {padding: 7px 20px; font-size: 1em}
#taxon_detail form#new_collection_item fieldset {display: inline-block}
#taxon #collections_summary form {margin-top: 0}
#taxon #collections_summary form fieldset.actions {margin-top: 0}
#taxon_detail #main .article .copy, #taxon_detail #main .article .references {margin: 0 40px 15px 40px; line-height: 170%}
#taxon_detail #main .article .copy li, #taxon_detail #main .article .references li {margin: 0 0 10px 0; list-style-type: disc}
#text_summary.article .copy {margin: 0 0 15px 0; line-height: 170%}
#taxon_community .main_container .article .header h4 {float: left; padding: 0 10px 3px 10px; font-size: 1.16em; border-bottom: 3px solid #394651}
#taxon_community .main_container .list img {max-width: 68px; max-height: 68px; width: expression(this.width > 68 ? "68px" : true); height: expression(this.height > 68 ? "68px" : true)}
#taxon_literature h3, #taxon_community h3, #taxon_resources h3 {font-size: 2em}
#taxon_resources table.standard tbody > tr > td > a > img {max-width: 90px}
#taxon_resources #taxon_detail > #main > h3 {padding: 0 20px 20px 0; font-size: 2em}
#taxon_resources #nucleotide_sequences .copy h3 {padding-bottom: 10px}
#taxon_resources #nucleotide_sequences .copy img {float: left; max-width: 60px}
#taxon_resources #nucleotide_sequences .copy p {padding-left: 90px}
#taxon_resources #biomedical_terms .attribution h4 {margin-bottom: 5px}
#sidebar.filters dd li.no_results label {color: #6f7e8b}
#page_heading.with_image .hgroup {width: 630px}
#page_heading .page_actions {padding-top: 10px}
#page_heading .page_actions fieldset.actions {margin: 0}
#page_heading .page_actions fieldset.actions input[type="submit"] {margin: 0}
#page_heading .hgroup .copy p {margin: 10px 0}
#wikipedia_queue form {margin-top: 40px}
#wikipedia_queue form dt p {margin-bottom: 0}
#wikipedia_queue form dd {margin: 0 0 10px 0}
#wikipedia_queue form dd input[type="text"] {width: 308px; height: 22px; padding: 2px 5px; font: normal 1em Helvetica, Arial, sans-serif; border: 1px solid #cad3db; background-color: white; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white); background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white)); width: 540px}
#wikipedia_queue form input[type="submit"] {padding: 7px 10px; font-size: 1em}
.object_list div.checkbox {margin: 0}
#map_image {height: 350px}
#media_summary .image > a img {max-width: 430px; max-height: 310px; width: expression(this.width > 430 ? "430px" : true); height: expression(this.height > 310 ? "310px" : true)}
#header .session img {max-width: 48px; max-height: 48px; width: expression(this.width > 48 ? "48px" : true); height: expression(this.height > 48 ? "48px" : true)}
#collections_summary ul li > a > img, #communities_summary ul li > a > img, #curators_summary ul li > a > img {max-width: 48px; max-height: 48px; width: expression(this.width > 48 ? "48px" : true); height: expression(this.height > 48 ? "48px" : true)}
#collection.main_container .taxon > img {max-width: 88px; max-height: 88px; width: expression(this.width > 88 ? "88px" : true); height: expression(this.height > 88 ? "88px" : true)}
#collection .collections .article > .header > a > img {max-width: 48px; max-height: 48px; width: expression(this.width > 48 ? "48px" : true); height: expression(this.height > 48 ? "48px" : true)}
#page_heading.with_image img, #page_heading.profile img {max-width: 88px; max-height: 88px; width: expression(this.width > 88 ? "88px" : true); height: expression(this.height > 88 ? "88px" : true)}
#sidebar .collection_list img, #sidebar .collection_contributors img, #sidebar .content_partner_managers img {max-width: 35px; max-height: 35px; width: expression(this.width > 35 ? "35px" : true); height: expression(this.height > 35 ? "35px" : true)}
#text_summary p.flag {float: left}
#text_summary .attribution {clear: none}
#text_summary .attribution .copy {padding-left: 120px}
#text_summary .attribution img, #text_summary .attribution span.license {float: left; margin: 0 10px}
#taxon .gallery ul.thumbnails li img {max-width: 98px; max-height: 68px; width: expression(this.width > 98 ? "98px" : true); height: expression(this.height > 68 ? "68px" : true); width: auto; height: auto; margin: 0 auto}
#taxon .gallery ul.thumbnails li.active img {max-width: 96px; max-height: 66px; width: expression(this.width > 96 ? "96px" : true); height: expression(this.height > 66 ? "66px" : true); margin: 0 auto}
#taxon .gallery .images .details {position: relative; margin: 5px 0 0 0; z-index: 100; font-size: 0.92em}
#taxon .gallery .images .details .copy p {margin: 0 0 4px; line-height: 120%}
#taxon .gallery .images .details .copy p.owner {padding-left: 85px}
#taxon .gallery .images .details .attribution {margin: 0; font-size: 1em}
#taxon .gallery .images .details .attribution img, #taxon .gallery .images .details .attribution span.license {display: block; position: absolute; top: 0; left: 0; margin: 0}
#taxon .gallery .images .details .attribution img {margin-top: -1px}
#media_list #main ul li img {max-width: 160px; max-height: 125px; width: expression(this.width > 160 ? "160px" : true); height: expression(this.height > 125 ? "125px" : true)}
#media_list #sidebar.filters img {max-width: 220px}
#taxon_detail #sidebar img {max-width: 260px}
ul.object_list li img {max-width: 68px; max-height: 68px; width: expression(this.width > 68 ? "68px" : true); height: expression(this.height > 68 ? "68px" : true)}
form.comment img {max-width: 48px; max-height: 48px; width: expression(this.width > 48 ? "48px" : true); height: expression(this.height > 48 ? "48px" : true)}
#header .thumbnails ul li {width: 140px; height: 140px}
.editable_link {font-size: 0.8em}
.edit_collection #sidebar select {max-width: 135px}
.edit_collection #sidebar fieldset.actions {padding: 0}
table.standard td.nowrap {white-space: nowrap}
#collections_choose h2 {font-size: 1.3em; margin: 2em 0 0.5em}
#collections_choose input[type="text"] {background-color: white; background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7); border: 1px solid #cad3db; font: 1em Helvetica, Arial, sans-serif; height: 22px; padding: 2px 5px; width: 248px}
#collections_choose ul {border-top: 1px solid #394651}
#collections_choose li img {float: left; margin-right: 2em !important}
#page_heading .page_actions li + li {margin: 10px 0}
h1.notice {font-size: 2em; text-align: center; padding: 4em}
.column.curators img, .column.collections img, .column.communities img {max-width: 48px; max-height: 48px; width: expression(this.width > 48 ? "48px" : true); height: expression(this.height > 48 ? "48px" : true)}
#worklist #task #sidebar {width: auto; float: none; padding: 0px !important}
#worklist #tasks ul li {z-index: 300}
#worklist #tasks ul li img {max-width: 48px; max-height: 48px; width: expression(this.width > 48 ? "48px" : true); height: expression(this.height > 48 ? "48px" : true)}
#task .media img {margin: 0 auto; display: block}
.invisible {*visibility: hidden; opacity: 0}
#worklist .filters fieldset.actions {padding: 0; line-height: 22px; color: #667309; text-transform: uppercase; font-weight: bold}
#worklist .filters fieldset dl {padding: 0 30px 0 0}
#worklist #tasks li:hover {background-color: white !important}
#taxon_updates .update_feed .header, #taxon_updates .page_statistics .header {position: relative; padding: 10px 0; text-align: center; border-bottom: 1px solid #394651}
#taxon_updates .update_feed .header h3, #taxon_updates .page_statistics .header h3 {font-size: 1.33em}
#taxon_updates .page_statistics dl {float: right; line-height: 140%; width: 200px; padding: 50px 30px 30px 0}
#taxon_updates .page_statistics dl dt {font-size: 1.8em; margin: 0 0 10px 0}
#taxon_updates .page_statistics dl dt + dd {font-size: 2em}
#taxon_updates .page_statistics dl dt + dd + dt {font-size: 1.2em}
#taxon_updates .page_statistics dl dt + dd + dt + dd {font-size: 1.6em}
#taxon_updates .page_statistics dl dd {font-weight: bold; margin: 0 0 20px 0}
#taxon_updates .page_statistics .copy {float: left; width: 380px; margin-top: 30px; background: #f3f7fa; border: 1px solid #cad3db; padding: 20px 20px 0 20px}
a.other_actions {float: right; margin-top: 1em}
.site_column > #choose_collections h2, .site_column > #choose_communities h2 {font-size: 1.33em; margin: 15px 0 10px 0}
.site_column > #choose_collections fieldset.new_community input[type="text"], .site_column > #choose_communities fieldset.new_community input[type="text"] {width: 210px; height: 22px; padding: 2px 5px; font: normal 1em Helvetica, Arial, sans-serif; border: 1px solid #cad3db; background-color: white; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white); background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white))}
.site_column > #choose_collections fieldset.new_collection, .site_column > #choose_communities fieldset.new_collection {overflow: hidden; margin: 0 0 20px 0}
.site_column > #choose_collections fieldset.new_collection input[type="text"], .site_column > #choose_communities fieldset.new_collection input[type="text"] {float: left; width: 210px; height: 22px; padding: 2px 5px; font: normal 1em Helvetica, Arial, sans-serif; border: 1px solid #cad3db; background-color: white; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white); background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white)); margin: 0 10px 0 0}
.site_column > #choose_collections input[type="submit"], .site_column > #choose_communities input[type="submit"] {padding-left: 20px; padding-right: 20px; font-size: 1.08em; padding: 5px 10px 6px 10px}
.site_column > #choose_collections ul, .site_column > #choose_communities ul {border: 1px solid #cad3db; height: 230px; overflow-y: scroll; margin: 0 0 20px 0}
.site_column > #choose_collections ul li, .site_column > #choose_communities ul li {font-weight: bold; padding: 5px 10px}
.site_column > #choose_collections ul li.collected, .site_column > #choose_communities ul li.collected {background: #f4f4f4}
.site_column > #choose_collections ul li input[type="checkbox"], .site_column > #choose_communities ul li input[type="checkbox"] {margin: 0 5px 0 0}
.site_column > #choose_collections ul li a, .site_column > #choose_communities ul li a {font-size: 0.95em}
.site_column > #choose_collections ul li span, .site_column > #choose_communities ul li span {font-size: 0.95em}
.site_column > #choose_collections ul li + li, .site_column > #choose_communities ul li + li {border-top: 1px solid #cad3db}
#search_results ul.object_list li {white-space: nowrap}
.cms_page span.icon {background: #f3f7fa url("/images/v2/icon_info_tabs.png") 50% 50% no-repeat}
#taxon_maps #media_list {padding: 0}
#taxon_detail #sidebar {padding: 0; padding-bottom: 20px; width: 260px}
#taxon_detail #sidebar #toc {margin: 0px 20px}
#media_list #sidebar {padding: 0; padding-bottom: 20px; width: 220px}
#media_list #sidebar #filters {margin: 0px 20px}
#page_heading p#citation {background-color: white; border: 1px solid #d4dce2; color: #5f6c76; font-size: 0.95em; line-height: 100%; font-weight: normal}
ul li.newsfeed a {padding: 7px 10px 6px !important; font-size: 12px !important}
ul li.total {margin-top: 20px}
ul li.editors a {padding: 7px 10px 6px !important; font-size: 12px !important}
ul.media li .overlay {height: auto !important}
body#prelaunch p.status {clear: both; padding: 7px 10px; font-size: 1.16em; font-weight: bold; text-align: center; color: #394651; border: 2px solid #c7d471; background: #edf6b2}
body#prelaunch #footer ul.social_media {margin-top: 20px}
.feed .deleted_comment {font-style: italic; color: #62707d}
#new_comment p.reply-to {float: left; color: #195184; font-weight: bold}
.highlight {background-color: #f3f7fa}