.image_container {
	width:100%;
}
.image_container img {
	max-width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: #fff;
	border: 3px solid white;
	border-radius: 5px 5px 5px 5px;
}
#image_gallery a img {
	max-width:100%;
	background-color: #fff;
	border: 3px solid white;
	border-radius: 5px 5px 5px 5px;
	margin: 5px;
}
#video_gallery img {
	max-width:100%;
	background-color: #fff;
	border: 3px solid white;
	border-radius: 5px 5px 5px 5px;
	margin: 5px;
}
#search_field_container{
	padding:0px;
	margin:0px;
}
#search_field{
	color: #fff;
}
.ui-mobile a img.listview_thumb,
.ui-mobile img.listview_thumb{ /* Thumbails inside list view, like on random taxon thumbnails in homepage or search results */
	width:68px;
	height:68px;
	display: block;
    margin-left: 3px;
    margin-right: auto;
	margin-top: 4px;
	background-color: #fff;
	border: 3px solid #2F3E46;
	border-radius: 5px 5px 5px 5px;
}
.index_static_content_img { /* Contents index, static pages 'li' thumbnails */
	left: 20px;
	top: 15px;
	max-height: 80px;
	max-width: 80px;
	position: absolute;
}

/* --------------*/
/* Theme override*/
/* --------------*/
.ui-bar-b{ /* Green li separator */
	background: #C1D72E;
	border: 1px solid #A7BA27;
	text-shadow: none;
	color:#2F3E46;
}
.ui-btn-active { /* Green buttons */
	background: #C1D72E;
	border: 1px solid #A7BA27;
	text-shadow: 0 -1px 1px #77851D;
}
.ui-body-a .ui-link { /* General links grey */
    color: #aaa;
    font-weight: bold;
}
.ui-li-desc .ui-link { /* Contents index, static pages 'li' links dark grey */
    color: #2F3E46;
    font-weight: bold;
}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li { /* Contents index, static pages 'li' right spacing */
    display: block;
    padding: 0.7em 20px 0.7em 15px;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb { /* Contents index, static pages 'li' right spacing */
    min-height: 60px;
    padding-left: 100px;
}
.ui-li-heading a.ui-link{ /* Curator name */
	color: #2F3E46;
    font-weight: bold;
}

/* ------------------------------*/
/* Hidden things in taxa overview*/
/* ------------------------------*/
.rating{
	display: none;
}
#new_feed_item{
	display: none;
}
.article.copy p a.button{
	display: none;
}
