width:68px; height:68px; display: block; margin-left: 3px; margin-right: auto; margin-top: 4px; background-color: #fff; border: 3px solid #2F3E46; border-radius: 5px 5px 5px 5px}
.index_static_content_img {left: 20px; top: 15px; max-height: 80px; max-width: 80px; position: absolute}
.ui-bar-b{ background: #C1D72E; border: 1px solid #A7BA27; text-shadow: none; color:#2F3E46}
.ui-btn-active {background: #C1D72E; border: 1px solid #A7BA27; text-shadow: 0 -1px 1px #77851D}
.ui-body-a .ui-link {color: #aaa; font-weight: bold}
.ui-li-desc .ui-link {color: #2F3E46; font-weight: bold}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {display: block; padding: 0.7em 20px 0.7em 15px}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {min-height: 60px; padding-left: 100px}
.ui-li-heading a.ui-link{ color: #2F3E46; font-weight: bold}
.rating{ display: none}
#new_feed_item{ display: none}
.article.copy p a.button{ display: none}