.image_container {
	width:100%;
}
.image_container img {
	max-width:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: #FFFFFF;
	border: 3px solid white;
	border-radius: 5px 5px 5px 5px;
}
#image_gallery a img {
	max-width:100%;
	background-color: #FFFFFF;
	border: 3px solid white;
	border-radius: 5px 5px 5px 5px;
	margin: 5px;
}
#video_gallery img {
	max-width:100%;
	background-color: #FFFFFF;
	border: 3px solid white;
	border-radius: 5px 5px 5px 5px;
	margin: 5px;
}

.ui-body-a .ui-link {
    color: #aaa;
    font-weight: bold;
}

/* Hidden things in taxa overview*/
.rating{
	display: none;
}
#new_feed_item{
	display: none;
}
.article.copy p a.button{
	display: none;
}
