%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      EOL API:
      = @details_hash['guid'] || 'page not found'
    = stylesheet_link_tag 'api'
  %body
    - unless @details_hash.blank?
      = render(:partial => 'data_object', :layout => false, :locals => { :object_hash => @details_hash } )
