- @page_title += I18n.t("__wikipedia_import")
%h2
  =I18n.t("request_wikipedia_article_inge")
%br
=I18n.t("eol_is_now_allowing_curators_t")
%br
%br
=I18n.t("by_entering_a_wikipedia_revisi")
%form{:action => '/content/wikipedia', :method => 'post'}
  %strong
    =I18n.t("enter_revision_url_") 
  %input{:type => 'text', :name => 'revision_url', :size => 60}
  %input{:type => 'submit', :value => I18n.t("submit")}
%i
  =I18n.t("_eg__http___en_wikipedia_org_w")
