- @page_title += I18n.t("wikipedia_import")
%h2
  =I18n.t("request_wikipedia_article_ingestion")
%br
=I18n.t("wikipedia_article_revision_for_ingestion")
%br
%br
=I18n.t("by_entering_a_wikipedia_revision")
%form{:action => '/content/wikipedia', :method => 'post'}
  %strong
    =I18n.t("enter_revision_url_colon") 
  %input{:type => 'text', :name => 'revision_url', :size => 60}
  %input{:type => 'submit', :value => I18n.t("submit")}
%i
  =I18n.t("example_url_for_wikipedia_article_ingestion")
