%p
%table.standard
  %thead
    %tr
      %th
        = I18n.t("scientific_name")
  %tbody
    - taxon_concept_ids.each do |id|
      - if id then
        - name = TaxonConcept.find(id).title
      - else
        - name = ""
      %tr
        %td
          %i= link_to name, "/pages/#{id}"
= will_paginate taxon_concept_ids
