-# NOTE: If you alter this, copy the change to app/views/activity_logs/_users_data_object ...the reasons
  for the duplication are explained in that file.
- link_style ||= nil
- link_object = true if item.data_subtype_id == DataType.link.id
- display_curator ||= false
- user = link_to(h(item.user.full_name), user_url(item.user), :style => link_style)
- if latest_data_object = item.latest_published_version_in_same_language
  - latest_data_object_url = data_object_url(latest_data_object)
- else
  - latest_data_object_url = data_object_url(item.revisions_by_date.first)
- if display_curator && item.user.is_curator?
  - user = I18n.t(:user_full_name_with_curator, :user => user, :curator_level => item.user.curator_level.translated_label)
- if item.taxon_concepts.first # Only worth doing if there is a taxon to link to
  - taxon_name = item.taxon_concepts.first.try(:scientific_name) || I18n.t(:unknown)
  %p= raw I18n.t("activity_user_created_#{link_object ? 'link' : 'text'}", :user => user,
    :object_name => link_to(item.summary_name, latest_data_object_url, :style => link_style),
    :taxon_concept => link_to(raw(taxon_name), taxon_overview_url(item.taxon_concepts.first),
    :style => link_style))
  %blockquote{:cite => h(item.user.full_name)}
    %p= raw(item.description_teaser)
