= I18n.t(:activity_user_created_text, :user => link_to(h(item.user.full_name), user_path(item.user)), :object_name => link_to(item.data_object.summary_name, data_object_path(item.data_object)), :taxon_concept => link_to(item.taxon_concept.summary_name, taxon_overview_path(item.taxon_concept)))
%blockquote{:cite => h(item.user.full_name)}
  %p= item.data_object.description_teaser
