-# NOTE - this is an EXACT duplicate of app/views/activity_logs/_data_object.html.haml ... please keep it that way.
  The thing is, we call these partials based on the class of the log item, and these two behave exactly the same,
  but rather than calling one partial from the other (which would be slower), we allow the duplication.
= I18n.t(:activity_user_created_text, :user => link_to(h(item.user.full_name), user_path(item.user), :style => 'color: #195184'), :object_name => link_to(item.summary_name, data_object_path(item), :style => 'color: #195184'), :taxon_concept => link_to(item.taxon_concepts.first.summary_name, taxon_overview_path(item.taxon_concepts.first), :style => 'color: #195184'))
%blockquote{:cite => h(item.user.full_name)}
  %p= item.description_teaser
