-# NOTE - this is ALMOST an EXACT duplicate of app/views/activity_logs/_data_object ... please keep it that
  way.  The thing is, we call these partials based on the class of the log item, and these two behave exactly the same,
  but rather than calling one partial from the other (which would be slower), we allow the duplication. The
  difference is that UDOs use #taxon_concept and item#data_object, and DATOs use #taxon_concepts.first and item.
- link_style ||= nil
- link_object = true if item.data_object.data_subtype_id == DataType.link.id
- display_curator ||= false
- user = link_to(h(item.user.full_name), user_url(item.user), :style => link_style)
- if latest_data_object = item.data_object.latest_published_version_in_same_language
  - latest_data_object_url = data_object_url(latest_data_object)
- else
  - latest_data_object_url = data_object_url(item.data_object.revisions_by_date.first)
- if display_curator && item.user.is_curator?
  - user = I18n.t(:user_full_name_with_curator, :user => user, :curator_level => item.user.curator_level.translated_label)
- if item.taxon_concept # Only worth doing if there is a taxon to link to
  %p= raw I18n.t("activity_user_created_#{link_object ? 'link' : 'text'}", :user => user,
    :object_name => link_to(item.summary_name, latest_data_object_url, :style => link_style),
    :taxon_concept => link_to(raw(item.taxon_concept.summary_name), taxon_overview_url(item.taxon_concept),
    :style => link_style))
  %blockquote{:cite => h(item.user.full_name)}
    %p= raw item.description_teaser
