- # TODO: waiting for feedback on whether we need this page
.site_column
  Thanks for your interest in joining the EOL team, an email is winging its way to you with instructions on how to verify your account. You will be able to log in as soon as you have verified your email address.