- form_for @user, :url => terms_agreement_user_path(@user), :html => {:method => :post}  do |f|
  %fieldset
    %h1= I18n.t(:terms_agreement_form_header)
    = @terms.main_content
  %fieldset.actions
    = f.submit I18n.t(:terms_agreement_form_submit), :name => :commit_agreed
    = link_to  I18n.t(:cancel) , logout_path
