%tr
  %td
    %strong
      =I18n.t(:description)
  %td
    = f.text_field :description,{:size=>'40',:maxlength=>'100'}
    %br
    =I18n.t(:not_shown_on_the_website_note)
%tr
  %td
    %strong
      =I18n.t(:link_name)
  %td
    = f.text_field :link_name,{:size=>'40',:maxlength=>'70'}
    %br
    =I18n.t(:used_for_friendly_url_note)
