- my_collection ||= current_user.watch_collection unless current_user.id.blank?
- if ! my_collection.blank? && my_collection.has_item?(item)
  = link_to I18n.t(:in_my_collection_button), collection_path(my_collection), :class => 'button in_collection'
- else
  = render :partial => 'collection_items/new', :locals => {:object_being_collected => item, :collection => my_collection}
