%li.links
  = link_to I18n.t(:add_link_to_page_button), new_taxon_data_object_path(@taxon_page, :link => true), :class => 'button link_button'
  = link_to I18n.t(:add_article_to_page_button), new_taxon_data_object_path(@taxon_page, :toc => @add_article_toc_id), :class => 'button'
