= hierarchy_entry_display_attribution(@selected_hierarchy_entry, :show_rank_first => true)
&emsp;&bull;&emsp;
= link_to I18n.t(:show_data_from_all_content_partners), taxon_overview_path(@taxon_concept)
