= stylesheet_include_i18n_merged 'inaturalist_widget'
.inat-widget
  .inat-widget-header
    %a{:href => "http://www.inaturalist.org/"}
      %img{:alt => "Logo-small", :src => "http://inaturalist.org/images/logo-small.png"}
  %script{:charset => "utf-8", :src => @inaturalist_observations_widget_url}
  %table
    %tr.inat-user
      %td.inat-user-body
        %strong
          %a{:href => @inaturalist_observations_url}
            = @more_inaturalist_observations
