= link_to image_tag(item.logo_url(:small)), user_path(item)
= link_to content_tag(:span, '', {:class => 'icon', :title => I18n.t(:item_type_person_assistive)}), user_path(item)
%h4= link_to h(truncate(item.full_name, :length => 64)), user_path(item)
= link_to [ h(item.username), sanitize(item.tag_line).balance_tags ].compact.join('<br/>'), user_path(item)
