- en_type ||= en_type(item)
= link_to image_tag(item.smart_thumb), data_object_path(item)
%span.icon{:title => I18n.t("item_type_#{en_type}_assistive")}
%h4= link_to item.best_title, data_object_path(item)
