- # Social sharing buttons e.g. Facebook Like
- # NOTE: ASSUMES ONLY ONE BUTTON PER PAGE
- unless $ENABLED_SOCIAL_PLUGINS.blank?
  = content_for :head_meta do
    - # We only define OpenGraph meta tags if we have social sharing buttons on the page
    - # @see http://developers.facebook.com/docs/opengraph/
    - # TODO: Define custom object types for biodiversity namespaces e.g. species?
    - # TODO: Define og:locale, and og:locale:alternate. Note format expected includes region e.g. "en_US"
    - if $ENABLED_SOCIAL_PLUGINS && $ENABLED_SOCIAL_PLUGINS.include?(:facebook)
      - meta_open_graph_data.each do |property, content|
        - content = h(truncate(strip_tags(content), :length => 300)) if ['og:title', 'og:description'].include?(property)
        %meta{ :property => property, :content => content }

  #social_sharing
    - if $ENABLED_SOCIAL_PLUGINS && $ENABLED_SOCIAL_PLUGINS.include?(:twitter)
      .twitter
        - tweet_data[:text] = h(strip_tags(tweet_data[:text]))
        %a{:href => "https://twitter.com/share", :class => "twitter-share-button", :rel => "nofollow",
          :data => tweet_data}
          = I18n.t(:social_sharing_twitter_tweet_button)
    - if $ENABLED_SOCIAL_PLUGINS && $ENABLED_SOCIAL_PLUGINS.include?(:facebook)
      -# TODO: this is a temporary fix to put facebook over the image cropping tool
      #fb-root.facebook
        %fb:like{:layout => "button_count", :send => "false", :show_faces => "false"}
