<div>
  <div id="untrusted-text-warning-box">
    <span class="message-box">The information highlighted in red below has been reviewed by a curator and is marked as not trusted.</span>
  </div>
  <div class="divider"></div>
</div>
