#untrusted-text-warning-box_wrapper
  #untrusted-text-warning-box
    %span.message-box
      The information highlighted in red below has been reviewed by a curator and is marked as not trusted.
  .divider
