- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
.site_column
  #taxon_resources
    = render :partial => 'menu'
    #biomedical_terms.main_container
      = render 'biomedical_terms'
