#content
  #taxon_literature.site_column
    = render :partial => 'resources_menu'
    .main_container.copy
      %h2= I18n.t(:education)
      .section
      - unless @contents.blank?
        = render :partial => 'taxa/details/category_content', :locals => { :content => @contents }
      - else
        = I18n.t(:education_empty)
