$('#content .site_column').prepend("<div class='resources restored' style='display: none'><%= escape_javascript(render('index')) %></div>");
if ($('.page_actions li.links').length == 0) {
  $('.page_actions ul').append("<%= escape_javascript(render('shared/add_link_buttons')) %>");
}
EOL.reveal_tab('resources', '<%= taxon_resources_path(@taxon_concept) %>');

