- content_for :social_sharing do
  = render 'shared/social_sharing'
#taxon_resources
  = render 'menu'
  #taxon_detail
    #main.main_container
      %h3= I18n.t(:multimedia_links)
      .section
        - unless @multimedia_links_contents.blank?
          = render 'link_objects', { content: @multimedia_links_contents }
