- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
.site_column
  #taxon_resources
    = render :partial => 'menu'
    #taxon_detail
      #main.main_container
        = render 'news_and_event_links'
