- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#taxon_resources
  = render :partial => 'menu'
  #taxon_detail
    #main.main_container
      %h3= I18n.t(:related_organizations)
      .section
        - unless @related_organizations_contents.blank?
          = render :partial => 'link_objects', :locals => { :content => @related_organizations_contents }
