$('#content .site_column').prepend("<div class='maps restored' style='display: none'><%= escape_javascript(render('index')) %></div>");
EOL.reveal_tab('maps', '<%= taxon_maps_path(@taxon_concept) %>');
