<span class="close-button"><a href="#" onclick="JavaScript:Effect.toggle('page-cite','appear');return false;"><%=image_tag('close_button.gif',:alt=>"close",:title=>"close")%></a></span>

Citation goes here
<br />
<%= link_to('Download to EndNote',{:action=>'endnote',:id=>@taxon_concept.id})%>
