/#curators_summary.article.list
.article
  .header
    %h3 Classification
  %ul.classification
    %li
      #browser-text
        = render(:partial => 'navigation/browse_page', :locals => {:current_user => current_user})


  