.article
  - count = @browsable_hierarchy_entries.length
  .header
    %h3= I18n.t(:classification_tree_header)
    - if count > 1
      = link_to(I18n.t(:see_all_classifications_with_count_html, :count => count), '/placeholder')
  #browser-text
    = render :partial => 'navigation/browse_page'
