-# TODO - Whoa, the url that this form generates is super-weird, like:
-# http://eol.org/pages/492283/hierarchy_entries/38946192/overview?hierarchy_entry_id=47136459
-# ...I think we should change this to use an action that actually redirects the user to the right URL... or re-write
-# this to use JS to use a list of links that behaves like a select box (like the language drop-down).
= form_for @taxon_page.hierarchy_entries,
  :url => switch_taxon_entry_path(@taxon_page.taxon_concept, @taxon_page.hierarchy_entry),
  :html => {:class => 'select_content_partner select_submit', :id => 'switch_hierarchy_entry'} do |f|
  %fieldset
    %p= I18n.t(:you_are_viewing_this_rank_as_classified_by, :rank => @taxon_page.classified_by)
    = hidden_field_tag :return_to, request.fullpath
    = f.select :id, options_from_collection_for_select(@taxon_page.hierarchy_entries, :id, 'hierarchy_label', @taxon_page.hierarchy_entry.id)
  %fieldset.actions
    %input{ :type => 'submit', :value => I18n.t("submit") }
