- form_for @browsable_hierarchy_entries, :url => switch_taxon_hierarchy_entry_path(@taxon_concept, @selected_hierarchy_entry),
  :html => {:class => 'select_content_partner select_submit', :id => 'switch_hierarchy_entry'} do |f|
  %fieldset
    %p= I18n.t(:you_are_viewing_this_rank_as_classified_by, :rank => @selected_hierarchy_entry.rank_label)
    = hidden_field_tag :return_to, current_url(false)
    = f.select :id, options_from_collection_for_select(@browsable_hierarchy_entries, :id, 'hierarchy_label', @selected_hierarchy_entry.id.to_i)
  %fieldset.actions
    %input{ :type => 'submit', :value => I18n.t("submit") }
