#classification_tree.article
  - count = @browsable_hierarchy_entries.length
  .header
    %h3= I18n.t(:classification_tree_header)
    - if count > 1
      - if @selected_hierarchy_entry
        - link_url = taxon_hierarchy_entry_names_path(@taxon_concept, @selected_hierarchy_entry.id)
      - else
        - link_url = taxon_names_path(@taxon_concept)
      = link_to(I18n.t(:see_all_classifications_with_count_html, :count => count), link_url)
  #classification_browser.browsable.classifications
    = render :partial => 'navigation/root_nodes'
