<a name="center_content"></a>
<!-- center page content header -->
<div class="cpc-header">
  <% unless @content.nil? %>
    <% toc_item = TocItem.find_by_label(@content[:category_name]) %>
    <% if toc_item.allow_user_text? %>
      <div class="multi_new_text_error" style="display:none;">
        Only one text object can be edited at a time.
      </div>
      <div class="add_text_button">
        <%= link_to("<span style='width:20px;height:20px;display:block;'></span>", {:controller => :data_objects, :action => :new, :type => :text, :taxon_concept_id => @taxon_concept.id}, :id => 'new_text_content_button' ) -%>
      </div>
    <% end %>
  <% end %>

  <h3><%= @content[:category_name] unless @content.nil? %></h3>

  
</div>
<!-- /center page content header -->

<!-- center page content main content -->
<div class="cpc-content">
  <%= render(:partial => 'content_body') %>
</div> <!-- /cpc-content -->

<% if @selected_text %>
  <script language="javascript" type="text/javascript">
    document.observe("dom:loaded", function() {
      Effect.ScrollTo('text_wrapper_<%=@selected_text.id%>');
    });
  </script>
<% end %>

