<div id="insert_text"></div>
<%
unknown_banner_shown=false
untrusted_banner_shown=false
comments_style=(@ajax_update ? '' : 'display:none;')  # comments start out as hidden on first page load (shown when entire page is loaded, but for ajax updates, show immediately)

unless @content[:data_objects].nil?
  for content_item in @content[:data_objects]
    vetted_id_style = ''
    -%>
    <% if content_item.vetted_id == Vetted.unknown.id && !unknown_banner_shown %>
      <% unknown_banner_shown=true %>
      <%= render :partial=>'/shared/unknown_text_warning_box' -%>
    <% elsif content_item.vetted_id == Vetted.untrusted.id && !untrusted_banner_shown %>
      <% untrusted_banner_shown=true %>
      <%= render :partial=>'/shared/untrusted_text_warning_box' -%>
    <% end %>

    <%= render :partial=>'text_data_object', :locals => {:content_item => content_item, :comments_style => comments_style, :category => @content[:category_name]} %>
  <% end %>
<% end %>