#curators_summary.article.list
  - count = curators.count
  .header
    %h3= I18n.t(:curators_summary_header_with_count, :count => count)
  %ul
    - curators.each do |curator|
      %li
        = link_to image_tag(curator.logo_url('small'), :alt => I18n.t(:profile_image_alt_text_curator, :user_family_name => h(curator.family_name), :user_given_name => h(curator.given_name))),
          { :controller => '/account', :action => 'show' }
        .details
          %h4= link_to h(curator.given_name), { :controller => '/account', :action => 'profile', :data => { :user_id => curator.id}  }
          -# TODO: %p.meta= h(curator.expertise)
