<% curators = @taxon_concept.approved_curators %>
<% if curators.size > 0 %>
  <div id="page-curator">
    <h2><%="Page Curated by"[]%></h2><br />
    <% curators.each do |c| %>
      <div class="curator_name"><%= link_to h("#{c.given_name} #{c.family_name}"), :controller => :account, :action => :show, :id => c.id %></div>
    <% end %>
  </div>
<% end %>
