- unless dato.published?
  %li.unpublished_icon.status_icon{:title => "Unpublished"} 

- if dato.published? && agent_logged_in? && !dato.data_supplier_agent.blank? && current_agent.id == dato.data_supplier_agent.id
  %li.published_icon.status_icon{:title => "Published"}

- if dato.inappropriate?
  %li.inappropriate_icon.status_icon{:title => "Inappropriate"}

- if dato.invisible?
  %li.invisible_icon.status_icon{:title => "Hidden"}
-# to keep things well formed we need at least one li
%li.status_icon{:style => "display:none"}
