- hide  = "display:none"
%li.unpublished_icon.status_icon{title: "Unpublished", style: dato.published? ? hide : nil} 
%li.inappropriate_icon.status_icon{title: "Inappropriate", style: dato.inappropriate? ? nil : hide}
%li.invisible_icon.status_icon{title: "Hidden", style: dato.invisible? ? nil : hide}
