- # TODO: Find out what this should look like for V2, e.g. should we show 'not evaluated'.
- # Also is the iucn_conservation_status ever blank or nil? Looks like it returns 'not evaluated' if empty?
- unless @taxon_concept.iucn_conservation_status.blank?
  #iucn_status{:class => iucn_status_class(@taxon_concept.iucn_conservation_status)}
    %h3= raw(I18n.t(:threat_status_header_colon))
    %p= link_to(@taxon_concept.iucn_conservation_status, @taxon_concept.iucn_conservation_status_url, :rel => :nofollow,
        :title => I18n.t(:iucn_red_list_status_advisory_information))
