- en_type = en_type(item)
- if item.video?
  - default_alt_text = :video_thumbnail_alt_text
  - image = 'v2/temporary_for_mockup/video_thumb.png'
- elsif item.sound?
  - default_alt_text = :sound_thumbnail_alt_text
- else
  - default_alt_text = :image_thumbnail_alt_text
  - image = item.thumb_or_object('260_190')
- # TODO: These alt/title attributes are useless in terms of accessibility.
- # We can include the item description but its not always going to make sense or be short enough
- # ideally we need a short description provided by the content partner, describing what is in the item.
- alt = item.object_title || nil
- alt = truncate(item.description.sub(/\.\s\s.*$/, '.'), 150) if item.description? && alt.blank?
- alt = I18n.t(default_alt_text, :vetted_status => item.vetted.label, :scientific_name => hh(@taxon_concept.scientific_name(nil,false))) if alt.blank?
- alt = Sanitize.clean(alt, :remove_contents => %w[table script])
- unless image.blank?
  %a{ :data => { :data_object_id => item.id }, :href => "/data_objects/#{item.id}", :class => vetted_id_class(item.vetted_id) }
    = image_tag image, :alt => alt
- else
  = render :partial => "data_objects/data_object_#{en_type}", :locals => { :data_object => item, :thumbnail => true }
