- visible ||= true
- invisible ||= false
- preview ||= false
- entries = data_object.published_entries.collect{|e| e if e.taxon_concept_id != @taxon_concept.id && ( (visible && Visibility.visible == e.visibility) || (invisible && Visibility.invisible == e.visibility) || (preview && Visibility.preview == e.visibility) ) }.compact
- if !entries.blank? 
  = I18n.t(:in_this_data_type, :data_type => data_object.data_type.to_s.i18n_downcase)
  - i = 0
  - # list maximum of 2
  - entries[0..1].each do |entry| 
    - i = i + 1
    = link_to entry.canonical_form.string, taxon_overview_path(entry.taxon_concept_id)
    - if i < 2
      - if i < entries.count
        = ", "
    - else
      - if i < entries.count
        = "..."
