- if @hierarchy_entries.blank?
  .empty
    %p= I18n.t(:not_recognized_by_available_hierarchies)
- else
  %ul
    - @hierarchy_entries.each do |hierarchy_entry|
      %li
        - taxon_rank = hierarchy_entry.rank_label
        - recognized_by = hierarchy_entry.recognized_by_agents.map(&:full_name).to_sentence
        - if hierarchy_entry.has_source_database?
          = I18n.t(:recognized_by_from_source_as_a_rank, :recognized_by => recognized_by, :source => hierarchy_entry.hierarchy.agent.full_name, :taxon_rank => taxon_rank)
        - else
          = I18n.t(:recognized_by_as_a_rank, :recognized_by => recognized_by, :taxon_rank => taxon_rank)
        %span
          &bull;
        = link_to I18n.t(:view_in_classification), taxon_hierarchy_entry_overview_path(@taxon_concept, hierarchy_entry), :class => 'view'
