- hierarchies = @dropdown_hierarchy_entry.blank? ? @hierarchies : [@dropdown_hierarchy_entry.hierarchy]
- if hierarchies.blank?
  %p= I18n.t(:not_recognised_by_available_hierarchies)
- else
  %ul
    - hierarchies.each do |hierarchy|
      - next if hierarchy.nil?
      - hierarchy_entries = @taxon_concept.published_hierarchy_entries.find_all_by_hierarchy_id(hierarchy.id)
      - hierarchy_entries.each do |hierarchy_entry|
        - hierarchy_agent_logo = hierarchy.agent.logo_url ? image_tag(hierarchy.agent.logo_url(:small), :alt => '') : ''
        - taxon_rank = hierarchy_entry.rank.blank? ? 'taxon' : hierarchy_entry.rank.label
        - if hierarchy_entry.agents.blank?
          %li
            = I18n.t(:recognised_by_hierarchy_agent_as_a_rank, :hierarchy_agent => hierarchy.agent.full_name,
              :hierarchy_agent_logo => hierarchy_agent_logo, :taxon_rank => taxon_rank,
              :hierarchy_entry_url => taxon_hierarchy_entry_overview_path(@taxon_concept, hierarchy_entry))

        - else
          - hierarchy_entry.agents.each do |hierarchy_entry_agent|
            %li
              = I18n.t(:recognised_by_hierarchy_entry_agent_in_hierarchy_agent_as_a_rank,
                :hierarchy_entry_agent => hierarchy_entry_agent.full_name,
                :hierarchy_agent => hierarchy.agent.full_name,
                :hierarchy_agent_logo => hierarchy_agent_logo,
                :taxon_rank => taxon_rank,
                :hierarchy_entry_url => taxon_hierarchy_entry_overview_path(@taxon_concept, hierarchy_entry))
