<link rel="search" type="application/opensearchdescription+xml" title="Encyclopedia of Life" href="/opensearch.xml">

<div id="content">
  <div id="page-title">
    <h1><%= "Search Results"[:search_results] %></h1>
    <hr />
  </div> <%# /page-title %>
  <div id="page-content" class="clearfix">
    <div id="full-page-content">
      <div class="search_results" id="tag_search_results">    
        <div id="cse-search-results"></div>
        <script type="text/javascript">
          var googleSearchIframeName = "cse-search-results";
          var googleSearchFormName = "cse-search-box";
          var googleSearchFrameWidth = 650;
          var googleSearchDomain = "www.google.com";
          var googleSearchPath = "/cse";
        </script>
        <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
      </div>
    </div> <%# /full-page-content %>
  </div> <%# /page-content %>
</div> <%# /content %>
