#page-title
  %h1= "Search Results"[:search_results]
  %hr
#page-content.clearfix
  #full-page-content
    #tag_search_results.search_results
      #cse-search-results
      :javascript
        var googleSearchIframeName = "cse-search-results";
        var googleSearchFormName = "cse-search-box";
        var googleSearchFrameWidth = 650;
        var googleSearchDomain = "www.google.com";
        var googleSearchPath = "/cse";
      %script{ :src => "http://www.google.com/afsonline/show_afs_search.js", :type => "text/javascript" }
