<link rel="search" type="application/opensearchdescription+xml" title="Encyclopedia of Life" href="/opensearch.xml">

<div id="content">
  <div id="page-title">
    <h1><%= "Search Results"[:search_results] %></h1>
    <hr />
  </div> <%# /page-title %>
  <div id="page-content" class="clearfix">
    <div id="full-page-content">
      <%- if @all_results.blank? -%> 
        <h3>No search results were found</h3>
      <%- else -%>
        <%= render :partial => 'search_results_table', :locals => {:title => 'Suggested Search Results', 
                                                                   :results => @suggested_results }  %>
        <%= render :partial => 'search_results_table', :locals => {:title => 'Common Names Search Results', 
                                                                   :results => @common_results }  %>
        <%= render :partial => 'search_results_table', :locals => {:title => 'Scientific Names Search Results', 
                                                                   :results => @scientific_results }  %>
      <%- end -%> 
      <br/><br/>
    </div><%# /full-page-content %>
  </div><%# /page-content %>
</div><%# /content %>


