- form_for :user, :html=>{:class=>"warning-warn invalid-invalid styleLabelOnErr"} do |f|
  = render(:partial=>'set_content_settings',:locals=>{:f=>f})
  = cancel_button_goes_back(return_to_url)
  = submit_tag I18n.t(:update_preferences)
