!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Harvesting Complete
  %body{ :bgcolor => "#e2e9ef", :style => "margin: 20px; font: 12px/160% Arial, sans-serif; color: #394651;" }
    %table{ :cellspacing => "0", :height => "100%", :cellpadding => "0", :width => "100%" }
      %tr
        %td{ :align => "center", :valign => "middle"}
          %table{ :cellspacing => "0", :cellpadding => '20', :height => "100%", :style => "border: 1px solid #394651" }
            %tr
              %td{ :style => 'background: #394651; text-align: center;'}
                = image_tag("v2/logo.png", :alt => "", :style => "border: none;")
            %tr
              %td{:align => "left", :style => "color: #3f4b56; background: #fff;"}
                %p
                  Notes (these paste nicely into HipChat or GitHub Comments):

                %p= @summary
            %tr
              %td{ :valign => 'baseline', :style => 'border-top: 1px solid #e2e9ef; padding: 20px 30px; background: #f8fcff;'}
                = link_to image_tag("v2/logo_footer.png", :alt => "", :style => "border: none; float: right;"), root_url, :style => 'text-decoration: none;'
