- if translated_news_items.nil? == false && translated_news_items.size > 0
  %ul
    - translated_news_items.each do |translated_news_item|
      %li
        .details.news_details
          %h4= link_to translated_news_item.title, news_item_path(translated_news_item.news_item_id)
          - news_item_length = 300
          %p= raw(translated_news_item.body.truncate_html(:length => news_item_length, :omission => I18n.t(:truncated_news_item_omission,
            :link => news_item_path(translated_news_item.news_item_id))))
          %p.meta= I18n.l(translated_news_item.news_item.display_date, :format => :long)
