- content_for :social_sharing do
  = render :partial => 'shared/social_sharing'
#content
  .site_column
    .main_container
      .article.list.updates
        = render :partial => 'news_items/index', :locals => {:translated_news_items => @translated_news_items}
