#activity
  - if logged_in?
    = render :partial => 'feed_items/form', :locals => {:feed => feed} # Important to specify feed_items folder
  - else
    %p
      %strong
        =I18n.t("you_must_be")
        = link_to(I18n.t("logged_in_"), login_path(:params => {:return_to => request.env["HTTP_REFERER"].blank? ? root_url : URI.parse(request.env["HTTP_REFERER"]).path}), {:class => 'login_link'} )
        =I18n.t("to_post_comments")
  - if feed.empty?
    %p.empty= I18n.t(:no_activity) 
  - else
    %ul.feed
      -# TODO - paginate
      - feed.each do |feed_item|
        %li.feed_item
          .body= h feed_item.body
