- content_for :social_sharing do
  = render 'shared/social_sharing'
#profile_communities.main_container
  .communities
    .heading
      %h3
        = I18n.t(:users_member_of_count_communities, :count => @communities.size)
      = link_to I18n.t(:what_is_this_question), cms_page_path('communities')
    - unless @communities.blank?
      %ul.object_list
        - @communities.each do |community|
          = render 'communities/community_summary', { :community => community, :show_description => true }
