Eol::Application.configure do

  config.after_initialize do
    # You might want to change the default value, here, from 'false' to 'true':
    run_php_locally = ENV.has_key?('PHP_LOCAL') ? ENV['PHP_LOCAL'] : true
    if run_php_locally
      Rails.configuration.asset_host = 'http://localhost/'
      php_path = "eol_php_code"
      content_server_path = "applications/content_server/"
      $WEB_SERVICE_BASE_URL = "#{Rails.configuration.asset_host}#{php_path}#{content_server_path}service.php?"
      Rails.configuration.content_path = "/#{php_path}#{content_server_path}content/"
    end

  end
end
