    <div id="page-separator-general"></div>
    <!-- page title -->
    <div id="page-title">
      <%= content_partner_top_navigation :page_header => page_header %>	        
    </div>
    <!-- /page title -->
    <div id="page-content" class="clearfix">
        <div id="page-content-bgfauxinside"> 
            <!-- center page content -->
            <div id="full-page-content">
                <div id="left-pane">
					<%= content_partner_side_navigation :page_header => page_header %>
                </div>
                <div id="right-pane">
