<%= render :partial=> 'top',:locals=>{:page_header => @page_header} %>                                    
                    <p>Thank you for contacting us!</p>
                    <%= link_to('Return to the Dashboard', { :action => 'index' })%>
                   
<%= render :partial=> 'bottom' %>
