= eol_lang_error_messages_for :content_partner
=I18n.t("specialist_projects_have_conte")
=I18n.t("provide_links_to_this_informat")
=I18n.t("the_links")
- form_for @content_partner, :url => { :action => action_name }, :html => { :method => :post, :id => 'transfer_form' } do |f|
  = content_partner_save_type_hidden_field
%br
.button
  = content_partner_submit_buttons :id => 'transfer_form'
