= content_partner_step_navigation :page_header => @page_header
%strong
  =I18n.t("transfer_schema_upload")
%br
%p
  =I18n.t("now_that_you_have_accepted_and")
  =I18n.t("where_we_can_find_these_xml_fi")
  =I18n.t("to_indicate_new_datasets_or_up")
= eol_lang_error_messages_for :content_partner
- form_for @content_partner, :url => { :action => action_name }, :html => { :method => :post, :id => 'transfer_form' } do |f|
  = content_partner_save_type_hidden_field
%br
.button
  = content_partner_submit_buttons :id => 'transfer_form'
