var transitions = {easing: 'swing'};
var $previous_tab = $('ul.nav .active');
var previous_name = $previous_tab.attr('data-behaviour');
var old_title = $(document).find("title").text();
var $overview_tab = $('ul.nav li[data-behaviour=overview]')
EOL.no_active_tab = function() {
  $('ul.nav .active').removeClass('active');
};
EOL.set_overview_active = function() {
  EOL.no_active_tab();
  $overview_tab.addClass('active');
  history.pushState(null, "<%= @page_title %>", "<%= taxon_overview_path(@taxon_concept) %>");
  $('#content .site_column .overview').show(transitions);
  $('#content .site_column > .'+previous_name).hide(transitions);
  window.addEventListener('popstate', function(event) {
    EOL.set_previous_active();
  });
  $('.page_actions .links').hide(transitions);
  EOL.add_behaviours('overview');
};
EOL.set_previous_active = function() {
  EOL.no_active_tab();
  $previous_tab.addClass('active');
  $('#content .site_column .overview').hide(transitions);
  $('#content .site_column .'+previous_name).show(transitions);
  history.pushState(null, old_title, $(this).attr('href'));
  $overview_tab.find('a').on('click', function() {
    EOL.set_overview_active();
    return(false);
  });
  $('.page_actions .links').show(transitions);
  EOL.add_behaviours($(this).parent().attr('data-behaviour'));
  window.addEventListener('popstate', function(event) {
    EOL.set_overview_active();
  });
}
$('#content .site_column').children().addClass(previous_name).hide(transitions);
$('#content .site_column').prepend("<div class='overview' style='display: none'><%= escape_javascript(render('show')) %></div>");
$('.overview').show(transitions);
EOL.set_overview_active();
$('.disclaimer').show(transitions);
$previous_tab.find('a').on('click', function() {
  EOL.set_previous_active();
  return(false);
});

