$('#content .site_column').prepend("<div class='overview restored' style='display: none'><%= escape_javascript(render('show')) %></div>");
EOL.restore_tab('overview', '<%= taxon_overview_path(@taxon_concept) %>');
