var transitions = {easing: 'swing'};
var $previous_tab = $('ul.nav .active');
var previous_name = $previous_tab.attr('data-behaviour');
var $overview_tab = $('ul.nav li[data-behaviour=overview]')
EOL.restore_tab = function(name, href, options) {
  console.log("restore_tab "+name);
  var $tab = $('ul.nav li[data-behaviour='+name+']')
  $('ul.nav .active').removeClass('active');
  $tab.addClass('active');
  if ( ! options || ! options['skip_push']) {
    history.pushState(name, name, href);
  }
  $('#content .site_column').children().hide(transitions).parent().find('.disclaimer, .'+name).show(transitions);
  if (name == 'details' || name == 'resources') {
    $('.page_actions .links').show(transitions);
  } else {
    $('.page_actions .links').hide(transitions);
  }
  EOL.add_behaviours(name);
};
$('#content .site_column').children().addClass(previous_name).hide(transitions);
$('#content .site_column').prepend("<div class='overview' style='display: none'><%= escape_javascript(render('show')) %></div>");
EOL.restore_tab('overview', $overview_tab.find('a').attr('href'));
$previous_tab.find('a').unbind('click').on('click', function() {
  EOL.restore_tab($(this).parent().attr('data-behaviour'), $(this).attr('href'));
  return(false);
});
$(window).bind('popstate', function(event) {
  console.log("popstate");
  if(history.state) {
    EOL.restore_tab(history.state, document.referrer, {skip_push: true});
  }
});
$overview_tab.find('a').unbind('click').on('click', function() {
  EOL.restore_tab('overview', $(this).attr('href'));
  return(false);
});
