- content.each do |item|
  - if item[:data_objects]
    - item[:data_objects].each do |dato|
      /.article
      %div{:id => dato.id, :class => "article"}
        = render :partial => "category_content_part", :locals => {:dato => dato}
  - else
    .article
      .copy
        = render :partial => "taxa/content/content_#{item[:content_type]}", :locals => { :content => item } rescue nil
