$('#content .site_column').prepend("<div class='details restored' style='display: none'><%= escape_javascript(render('index')) %></div>");
EOL.restore_tab('details', '<%= taxon_details_path(@taxon_concept) %>');
