#tabs_sidebar
  %ul.tabs
    %li{:class => resource_is_active('index')}
      = link_to I18n.t(:communities_link), taxon_communities_path(@taxon_page)
    %li{:class => resource_is_active('collections')}
      = link_to I18n.t(:collections_link), collections_taxon_communities_path(@taxon_page)
    %li{:class => resource_is_active('curators')}
      = link_to I18n.t(:curators), curators_taxon_communities_path(@taxon_page)
