$('#content .site_column').prepend("<div class='communities restored' style='display: none'><%= escape_javascript(render('communities')) %></div>");
EOL.reveal_tab('communities', '<%= taxon_communities_path(@taxon_concept) %>');
