- if current_user.is_admin?
  - content_partner_id = params[:content_partner_id]  
- else
  -content_partner_id = 0

%h1 Editing Resource
= render :partial => 'form', :locals => { :button_label => 'Save Changes', :method => :put, :content_partner_id => content_partner_id }
%p
  %br/

= link_to 'Cancel', :back
