<%= render :partial=> '/content_partner/top',:locals=>{:page_header => 'Invalid Resource'} %>
                    <p>This resource ID is not valid.</p>
<%= render :partial=> '/content_partner/bottom' %>