=I18n.t("the_section_is_used_to_add_new")
#roles
  = link_to I18n.t("add_a_new_role"),:action=>'new'
  %br
  %br
  - if !@roles.nil?
    =I18n.t("a_total_of_roles_were_found", :count => @roles.size)
    %br
    %table.results_table{ :cellspacing => "0" }
      %tr
        %th
          =I18n.t("role")
        %th
          =I18n.t("date_created")
      - for role in @roles
        - column_class=cycle('odd','even')
        %tr
          %td{ :class => column_class }
            = h role.title
          %td{ :class => column_class }
            = format_date_time(role.created_at)
  - else
    =I18n.t("no_roles_are_available")
