$('#content .site_column').prepend("<div class='media restored' style='display: none'><%= escape_javascript(render('index')) %></div>");
EOL.restore_tab('media', '<%= taxon_media_path(@taxon_concept) %>');
