#content.cms_page
  .site_column
    - unless @translated_content_page.left_content.blank?
      .nav
        = @translated_content_page.left_content
    .article.copy
      = @translated_content_page.main_content

      %a{ :href => "#", :onclick => "javascript:window.close();return false;" }
        =I18n.t("close_this_window_to_return_to_edit_window")