<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>org.eol.memcached</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/memcached</string>
      <string>-d</string>
      <string>-m</string>
      <string>24</string>
      <string>-p</string>
      <string>11211</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
