= javascript_include_tag 'navigation'
= render :partial => "show", :locals => {:hierarchy_entry => @hierarchy_entry, :in_hierarchy => true, :link_to_taxa => @link_to_taxa, :max_children => @max_children, :show_siblings => @show_siblings}
