= javascript_include_tag 'navigation'
= render :partial => "navigation/node", :locals => {:hierarchy_entry => @hierarchy_entry, :link_to_taxa => @link_to_taxa, :max_children => @max_children, :show_siblings => @show_siblings, :show_hierarchy_label => @show_hierarchy_label}
