.assistive, #header .assistive {
  position: absolute;
  right: -999em; }

/*
 * Temporary placement of needed CSS for V2
 * I don't want to edit/add to HashRocket's SASS files until they are done making changes
 * so I am temporarily adding some CSS here needed for V2 demo. This CSS should be integrated
 * into HashRocket SASS if it is still needed when design work is complete.
 */
#permalink form.review_status fieldset.reasons label {
  margin-left: 8px;
  line-height: 1.5em; }
#permalink #sidebar ul.review_status p.unknown {
  border: 1px solid #677682;
  background: #8695a1; }

#media_list #main li p.flag.unknown {
  border: 1px solid #677682;
  background: #8695a1; }

#taxonomy_detail .average_rating h5 {
  display: inline;
  text-transform: lowercase; }
#taxonomy_detail .average_rating p {
  float: none;
  display: inline; }
#taxonomy_detail .rating h5 {
  display: inline;
  text-transform: lowercase;
  font-size: 0.83em; }
#taxonomy_detail .rating ul {
  display: inline; }

.rating ul li.current_rating_0 {
  position: absolute;
  top: 0;
  right: 0;
  height: 13px;
  font-size: 0;
  text-indent: -8685px;
  text-decoration: none;
  overflow: hidden;
  width: 0;
  background: transparent url("/images/v2/icon_stars.png") right 100% repeat-x; }

.join abbr {
  border: none; }

body > #header .section .actions {
  z-index: 5; }
body > #header .section .session .join {
  float: left;
  text-align: left;
  color: white; }
  body > #header .section .session .join p {
    line-height: 1.4em; }
  body > #header .section .session .join a {
    color: #90bce4; }

#iucn_status {
  margin-bottom: 20px; }
  #iucn_status h3, #iucn_status p {
    display: inline; }

#text_summary .attribution {
  font-size: 0.92em; }
  #text_summary .attribution img {
    float: right;
    margin: 2px 0 0 10px; }

#classifications_summary li {
  overflow: hidden; }
  #classifications_summary li li p {
    font-weight: bold;
    float: right; }
  #classifications_summary li li li p {
    padding-right: 23px !important;
    margin-right: 10px;
    background: transparent url("/languages/ar/images/icon_classification_arrow.png") right 0 no-repeat; }

#taxonomy_detail .article .description {
  padding: 0 0 15px 0;
  line-height: 170%; }
#taxonomy_detail table {
  margin: 20px 0;
  width: 100%; }
  #taxonomy_detail table caption {
    padding: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #666666; }
  #taxonomy_detail table colgroup.count {
    width: 20%; }
  #taxonomy_detail table thead {
    text-align: right; }
    #taxonomy_detail table thead tr {
      border-bottom: 1px solid #cccccc; }
  #taxonomy_detail table .odd {
    background-color: #eeeeee; }

/*
 * TEMPORARY FIX: Forcing image sizes for V2 demo.
 */
#media_summary img {
  max-width: 430px;
  max-height: 310px; }

ul.feed li > a > img {
  width: 50px;
  height: 50px; }

#collections_summary ul li > a > img, #communities_summary ul li > a > img, .collection_contributors ul li > a > img {
  width: 50px;
  height: 50px; }

#header .session img {
  width: 50px;
  height: 50px; }

#collections .collections .article > .header > a > img {
  width: 50px;
  height: 50px; }

#page_heading.with_image .hgroup img {
  max-width: 90px;
  max-height: 90px;
  width: expression(this.width > 90 ? "90px" : true);
  height: expression(this.height > 90 ? "90px" : true); }

#page_heading.profile .hgroup img {
  width: 90px;
  height: 90px; }

#collections.main_container .taxon > img {
  max-width: 90px;
  max-height: 90px;
  width: expression(this.width > 90 ? "90px" : true);
  height: expression(this.height > 90 ? "90px" : true); }

#sidebar .collection_list img {
  width: 35px;
  height: 35px; }
