.assistive, #header .assistive {
  position: absolute;
  right: -999em; }

/*
 * Changes required for HR sass files:
 *   - replace /images/<image name> with /images/v2/<image name>
 *   - replace #profile_edit with form.edit_user
 *
 *
 * Temporary placement of needed CSS for V2
 * I don't want to edit/add to HashRocket's SASS files until they are done making changes
 * so I am temporarily adding some CSS here needed for V2 demo. This CSS should be integrated
 * into HashRocket SASS if it is still needed when design work is complete.
 */
/* Use the ~30K JPG form on the homepage image instead of the ~500K transparent PNG */
body.home > #header {
  background: transparent url("/images/v2/bg_home_earth.jpg") 50% 100% no-repeat; }

/*Busy indicator for JS submitted forms e.g. exemplar image */
html.busy, html.busy *, .busy {
  cursor: wait; }

/*Override for layout on users edit - we have extra nested div so we need to remove padding,
 * we added extra fieldset - but check HR might give us an update for the fieldset */
#profile_edit.article {
  padding: 0 0 25px 0; }
#profile_edit fieldset.curation {
  width: 320px; }
  #profile_edit fieldset.curation textarea {
    width: 282px;
    height: 120px; }

/*Content partner various */
#profile_content_connections li img {
  max-width: 68px;
  max-height: 68px;
  width: expression(this.width > 68 ? "68px" : true);
  height: expression(this.height > 68 ? "68px" : true); }

#sidebar .content_partner_managers {
  margin: 0 0 20px 0; }
  #sidebar .content_partner_managers li {
    overflow: hidden;
    padding: 0 0 20px 0;
    line-height: 140%; }
  #sidebar .content_partner_managers img {
    float: right;
    margin: 0 0 0 10px;
    border: 1px solid #394651; }
  #sidebar .content_partner_managers h4 a {
    color: inherit;
    text-decoration: none; }
    #sidebar .content_partner_managers h4 a:hover {
      text-decoration: underline; }

#profile_content_partner form dt {
  clear: both; }
#profile_content_partner form dd.managed_by {
  overflow: hidden; }
  #profile_content_partner form dd.managed_by img {
    float: right;
    margin: 0 0 0 10px;
    border: 1px solid #394651;
    max-width: 48px;
    max-height: 48px;
    width: expression(this.width > 48 ? "48px" : true);
    height: expression(this.height > 48 ? "48px" : true); }
  #profile_content_partner form dd.managed_by .details {
    padding: 5px 0 0 0;
    overflow: hidden; }

form.edit_hierarchy p.browsable, form.edit_hierarchy p.not_browsable, form.edit_hierarchy p.request_publish {
  background: #f3f7fa;
  border: 1px solid #cad3db;
  font-size: 1.33em;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center; }
form.edit_hierarchy p.request_publish {
  border-color: #c7d471;
  background: #edf6b2; }
form fieldset.dataset legend.required {
  font-weight: bold;
  background: url("/images/v2/icon_required.png") right 45% no-repeat;
  padding-right: 10px;
  margin-right: -10px; }

/*Styles for form required (HR overrides) and form validation errors (custom no equivalent from HR)  */
form dt.required label {
  background: url("/images/v2/icon_required.png") right 45% no-repeat;
  padding-right: 10px;
  margin-right: -10px; }
form fieldset#errors {
  width: 100%;
  position: relative;
  background: #ffeae6;
  border: 1px solid #f2d2cc;
  padding: 20px 0;
  margin: 0 0 20px 0; }
  form fieldset#errors legend {
    position: absolute;
    right: 20px;
    background: transparent;
    font-weight: bold; }
  form fieldset#errors ul {
    margin: 30px 40px 0 20px; }
  form fieldset#errors li {
    font-weight: normal;
    display: block;
    float: none;
    margin-bottom: 5px; }
form fieldset.radio, form fieldset.checkboxes {
  margin: 20px 0; }
  form fieldset.radio legend, form fieldset.checkboxes legend {
    font-weight: bold;
    padding-bottom: 10px; }
  form fieldset.radio label, form fieldset.checkboxes label {
    margin: 10px;
    display: block;
    clear: both;
    line-height: 1.2em; }
form fieldset.checkboxes label {
  font-weight: bold; }
  form fieldset.checkboxes label p {
    font-weight: normal; }
form label.errors, form span.errors {
  color: #e84226; }
form span.errors {
  font-weight: normal; }
form input.errors, form textarea.errors {
  border-color: #f2d2cc !important; }

/*switching hierarchy entries form when js disabled want button to be inline if possible */
form#switch_hierarchy_entry fieldset {
  display: inline; }

/*Making lanugage switcher accessible on overview and details pages */
.learn_more fieldset.actions {
  display: inline; }

/*Getting rid of the dodgy dot */
.meta.learn_more p:before, .meta.learn_more form:before {
  content: "•";
  margin: 0 0 0 10px; }
.meta.learn_more p:after, .meta.learn_more form:after {
  content: "" !important;
  margin: 0 !important; }
.meta.learn_more p {
  text-transform: lowercase; }
  .meta.learn_more p:first-child:before {
    content: "";
    margin: 0 !important; }

/*recaptcha */
#new_user iframe {
  width: 320px;
  overflow: auto; }

/*cms page styles */
#content.cms_page .header {
  border-bottom: 1px solid #394651;
  text-align: center; }
#content.cms_page table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 15px 0;
  line-height: 170%; }
  #content.cms_page table thead tr {
    border: 1px solid #cad3db; }
    #content.cms_page table thead tr th {
      background: #eff2f4;
      padding: 5px 20px;
      font-weight: bold;
      text-align: right; }
  #content.cms_page table tbody tr {
    border: 1px solid #cad3db; }
    #content.cms_page table tbody tr td {
      padding: 5px 20px; }
#content.cms_page a.pdf {
  background: url("/images/v2/icon_pdf.png") right top no-repeat;
  padding: 0 0 3px 20px; }
#content.cms_page ul.grid {
  margin: 0 auto 40px;
  width: 598px;
  line-height: 100%; }
  #content.cms_page ul.grid li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    width: 116px; }
    #content.cms_page ul.grid li img {
      max-width: 100px;
      border: none;
      padding: 0;
      margin: 8px;
      float: none; }
  #content.cms_page ul.grid.four li {
    width: 146px; }
    #content.cms_page ul.grid.four li img {
      margin: 10px;
      max-width: 125px; }
#content.cms_page ul.march {
  width: 100%;
  margin: 0 0 40px;
  padding: 0;
  clear: both;
  overflow: hidden;
  line-height: 100%;
  height: 98px; }
  #content.cms_page ul.march li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block; }
    #content.cms_page ul.march li img {
      border: none;
      float: none;
      margin: 0;
      padding: 0;
      max-height: 98px; }
#content.cms_page ul.with_images li {
  overflow: hidden;
  list-style-type: none;
  clear: both;
  border-bottom: 1px solid #cad3db;
  padding: 10px; }
  #content.cms_page ul.with_images li img {
    max-width: 88px;
    padding: 0;
    border: none;
    float: right;
    margin: 0 0 10px 0; }
  #content.cms_page ul.with_images li h2, #content.cms_page ul.with_images li h3, #content.cms_page ul.with_images li h4, #content.cms_page ul.with_images li h5, #content.cms_page ul.with_images li p {
    margin-right: 110px; }
#content.cms_page ul.object_list {
  list-style_type: none; }
  #content.cms_page ul.object_list li img {
    max-width: 68px; }
  #content.cms_page ul.object_list li h4 {
    margin-bottom: 0.5em;
    direction: ltr;
    text-align: right; }
    #content.cms_page ul.object_list li h4 a {
      color: #195184;
      text-decoration: underline; }
  #content.cms_page ul.object_list li p {
    clear: none; }
#content.cms_page dl {
  line-height: 140%;
  margin: 0 0 40px 0; }
  #content.cms_page dl dt {
    font-weight: bold; }
  #content.cms_page dl dd {
    margin: 0 20px 5px 0; }
#content.cms_page code {
  clear: both;
  display: block;
  font-family: "courier new", courier, monospace;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #eeeeee;
  border: 1px dashed #999999;
  padding: 10px;
  white-space: pre;
  overflow-x: auto; }
#content.cms_page #api_doc p {
  margin-right: 40px; }
#content.cms_page #api_doc table {
  margin-bottom: 40px; }
  #content.cms_page #api_doc table col.name {
    font-weight: bold; }
  #content.cms_page #api_doc table col.notes {
    width: 25%; }
#content.cms_page #sidebar dl {
  margin-bottom: 10px; }

.donate label.other {
  padding-right: 15px;
  margin-top: -27px; }
.donate fieldset.actions {
  margin-bottom: 40px; }
.donate em {
  font-weight: bold; }

/*content partners overrides/additions */
.cms_page #content_partners #sidebar input[type="text"] {
  width: 118px;
  direction: rtl; }

/*warning messages - check HR commits for updates to this */
p.status.error {
  border: 1px solid #f2d2cc;
  background: #ffeae6; }

/*move to home.css once HR involvement ceases */
.home p.status.notice, .home p.status.error, .home p.status.warning {
  clear: both;
  padding: 7px 10px;
  margin: 0;
  line-height: 140%;
  font-size: 1.08em;
  font-weight: bold;
  text-align: center;
  color: #394651;
  border: 1px solid #c7d471;
  background: #edf6b2; }
.home p.status.error {
  border: 1px solid #f2d2cc;
  background: #ffeae6; }

/*HR changed permalink class to text, but use article elsewhere for text objects so we are still using
 * article as that's what en_type is returning... at some point we should go through and change all 'article'
 * classes that mean data_object text to text, as article clashes with the HR generic article class but right
 * now we have I18n keys and various classes around the site depending on 'article' for text data object.
 */
#permalink {
  /* added float non to video as description box wasn't showing up properly on DO page */ }
  #permalink.article {
    padding: 0; }
  #permalink #sidebar .remove_association a {
    font-size: 0.92em; }
  #permalink #sidebar ul.review_status p.unknown {
    border: 1px solid #677682;
    background: #8695a1; }
  #permalink #sidebar ul.review_status p.untrusted {
    border: 1px solid #f2d2cc;
    background: #ffeae6;
    color: #677682; }
  #permalink #sidebar ul.review_status legend {
    font-weight: bold; }
    #permalink #sidebar ul.review_status legend a {
      font-size: 1.16em; }
  #permalink .media {
    float: none; }
    #permalink .media .jp-audio {
      width: 100%;
      margin: 0 auto; }
      #permalink .media .jp-audio .jp-interface {
        background-color: #eeeeee;
        border: 1px solid #cad3db; }
    #permalink .media img {
      max-width: 540px;
      width: expression(this.width > 540 ? "540px" : true); }

/*I say we standardise form tips everywhere */
form p.tip {
  background: #f3f7fa;
  border: 1px solid #cad3db;
  padding: 10px;
  margin: 0 0 20px 40px;
  line-height: 140%; }
  form p.tip img {
    margin: -2px 5px 0 5px; }

/*Adjustments for when missing exemplar image */
#media_list #sidebar img, #taxon_detail #sidebar img {
  margin: auto; }
#media_list #sidebar h3, #taxon_detail #sidebar h3 {
  margin-top: 20px; }
#media_list #sidebar h4 a, #taxon_detail #sidebar h4 a {
  color: #667309;
  text-decoration: none; }

/*Special styles for audio and video in media list */
#media_list #main > ul > li.sound .figure, #media_list #main > ul > li.video .figure {
  position: relative;
  width: 160px;
  height: 125px;
  margin: 0 0 5px 0;
  overflow: hidden; }
  #media_list #main > ul > li.sound .figure p, #media_list #main > ul > li.video .figure p {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    margin: 55px 0 10px;
    padding: 0;
    width: 160px;
    text-align: center; }
    #media_list #main > ul > li.sound .figure p a, #media_list #main > ul > li.video .figure p a {
      display: inline-block;
      margin: 0 10px; }
#media_list #main > ul > li.sound .figure {
  background: #394651 url("/images/v2/icon_sound_tabs.png") no-repeat 50% 20%;
  color: #e2e9ef; }
  #media_list #main > ul > li.sound .figure a {
    color: #e2e9ef; }
  #media_list #main > ul > li.sound .figure .player {
    background-color: transparent !important; }
  #media_list #main > ul > li.sound .figure .player_interface {
    width: 160px;
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 140%;
    background: #566979; }
    #media_list #main > ul > li.sound .figure .player_interface a {
      text-decoration: none;
      display: inline-block;
      margin: 0 0 0 2px;
      padding: 5px 0; }
      #media_list #main > ul > li.sound .figure .player_interface a img {
        margin-bottom: -2px; }
    #media_list #main > ul > li.sound .figure .player_interface span {
      display: inline-block; }
      #media_list #main > ul > li.sound .figure .player_interface span.current_time {
        margin-right: 8px; }
#media_list #main > ul > li.video .figure {
  background: url("/images/v2/icon_videos_tabs.png") no-repeat 50% 20% transparent;
  border: 1px solid #cad3db;
  width: 158px;
  height: 123px; }
  #media_list #main > ul > li.video .figure p {
    width: 158px; }
  #media_list #main > ul > li.video .figure .video_overlay {
    position: absolute;
    width: 158px;
    height: 123px;
    z-index: 3;
    background: url("/images/v2/video_play.png") no-repeat 50% 50% transparent; }
#media_list #main > ul > li form {
  display: block;
  clear: both; }
  #media_list #main > ul > li form.taxon_concept_exemplar_image input[type="submit"] {
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 3; }

/*style for vetted status flags - various locations */
p.flag, span.flag {
  color: white;
  padding: 1px 0 0 2px;
  text-transform: uppercase;
  font-size: 0.75em; }
  p.flag.trusted, span.flag.trusted {
    border: 1px solid #6b7910;
    background: #849513; }
  p.flag.unknown, span.flag.unknown {
    border: 1px solid #677682;
    background: #8695a1; }
  p.flag.untrusted, span.flag.untrusted {
    border: 1px solid #f2d2cc;
    background: #ffeae6;
    color: #677682 !important; }

#permalink_add_association #main ul > li img {
  max-width: 68px;
  max-height: 68px;
  width: expression(this.width > 68 ? "68px" : true);
  height: expression(this.height > 68 ? "68px" : true); }

/*We share rating partial across many pages so need extra styles here. */
#permalink .ratings h5 {
  margin-top: 2px;
  font-size: 1.1em;
  padding: 0; }

#taxon_detail #main > .section > .article > .meta.learn_more p {
  line-height: 200%; }
#taxon_detail #main > .section > .article > .copy {
  padding-bottom: 15px; }
#taxon_detail .rating h5 {
  float: right;
  margin: 0 0 0 10px;
  text-transform: lowercase;
  font-size: 0.83em; }
#taxon_detail .rating ul {
  display: inline; }
#taxon_detail .average_rating {
  padding: 2px 0 0 40px;
  margin: 0 0 20px 0; }
  #taxon_detail .average_rating h5 {
    float: right;
    margin: 0 0 0 10px;
    text-transform: lowercase; }
    #taxon_detail .average_rating h5 small {
      font-size: 1em; }

.rating ul li.current_rating_0 {
  position: absolute;
  top: 0;
  right: 0;
  height: 13px;
  font-size: 0;
  text-indent: -8685px;
  text-decoration: none;
  overflow: hidden;
  width: 0;
  background: transparent url("/images/v2/icon_stars.png") right 100% repeat-x; }

#worklist #task .rating, #worklist #task .average_rating {
  *display: inline; }
  #worklist #task .rating h5, #worklist #task .average_rating h5 {
    font-size: 1em; }
#worklist #task .average_rating {
  *width: 250px; }
  #worklist #task .average_rating h5 {
    *width: 135px; }

/*IUCN styles, we use a h3 header instead of just a paragraph so its easier to find with screenreaders. */
#iucn_status {
  border: 1px solid #cad3db;
  background: #f1f4f7;
  text-align: center;
  padding: 7px 10px;
  font-size: 1.16em;
  margin-bottom: 20px;
  color: #394651; }
  #iucn_status h3, #iucn_status p, #iucn_status abbr {
    display: inline-block; }
  #iucn_status p, #iucn_status abbr {
    direction: ltr; }
  #iucn_status abbr {
    border: none; }
  #iucn_status a {
    color: #195184; }
  #iucn_status.positive {
    border-color: #c7d471;
    background: #edf6b2; }
    #iucn_status.positive a {
      color: #809203; }
  #iucn_status.negative {
    border-color: #f2d2cc;
    background: #ffeae6; }

/*Hierarchy Entry classification browser does not have styles from HR
 * HR assumes a list of classifications, where each top level list item is the container
 * On hierarchy entry page the container is a div not a list item, and top level list items are kingdoms
 * so we can't re-use HR SASS as it is - we need to refactor markup and SASS so we can share SASS or create mixin.
 */
#classification_browser {
  direction: ltr;
  border: 1px solid #d7dadc;
  overflow-x: auto;
  padding: 10px 15px;
  margin: 0 -10px 20px -10px; }
  #classification_browser > ul {
    line-height: 160%;
    font-size: 0.9em; }
    #classification_browser > ul li {
      white-space: nowrap; }
      #classification_browser > ul li ul {
        margin-left: 10px; }

#classification_browser .open, .classifications .open {
  font-weight: bold; }

#taxon_names table.standard.common_names td {
  position: relative;
  width: 33%; }
#taxon_names table.standard.edit_common_names td {
  position: relative;
  width: 25%; }
#taxon_names table.standard.synonyms td, #taxon_names table.standard.related_names td {
  position: relative;
  width: 50%; }
#taxon_names form#new_name {
  background: #f3f7fa;
  border: 1px solid #cad3db;
  margin-bottom: 40px;
  padding: 5px 20px; }
  #taxon_names form#new_name .copy {
    margin-bottom: 3px; }
    #taxon_names form#new_name .copy h3 {
      margin-bottom: 0; }
  #taxon_names form#new_name dt, #taxon_names form#new_name dd, #taxon_names form#new_name fieldset, #taxon_names form#new_name input[type="submit"] {
    display: inline-block;
    height: 2em;
    zoom: 1;
    *display: inline; }
  #taxon_names form#new_name fieldset {
    height: 3em;
    margin: 5px; }
  #taxon_names form#new_name dl {
    margin-right: 20px; }
    #taxon_names form#new_name dl dt {
      padding-left: 5px; }
    #taxon_names form#new_name dl dd {
      margin-left: 20px; }
  #taxon_names form#new_name input[type="text"] {
    width: 200px;
    height: 22px;
    padding: 2px 5px;
    font: normal 1em Helvetica, Arial, sans-serif;
    border: 1px solid #cad3db;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white);
    background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white)); }
#taxon_names .recognized {
  line-height: 170%; }

/*Add to my collection button is a form not an a tag as assumed by HR so we have to add some styles */
#taxon_detail div.actions {
  clear: both;
  margin: 0 0 20px 0; }
#taxon_detail form#new_collection_item {
  display: inline-block; }
  #taxon_detail form#new_collection_item input[type="submit"] {
    padding: 7px 20px;
    font-size: 1em; }
  #taxon_detail form#new_collection_item fieldset {
    display: inline-block; }

#taxon #collections_summary form {
  margin-top: 0; }
  #taxon #collections_summary form fieldset.actions {
    margin-top: 0; }

/*HR styles assume text descriptions are nicely wrapped in p tags - in reality they may or may not be so we add
 * extra div.description and assign styles to the div - check this, particularly line-height as we probably need
 * to remove some HR styles from nested p. Check latest HR and remove the table styles here if possible.
 * if we keep this we should DRY it out - same for whole file actually */
#taxon_detail #main .article .copy, #taxon_detail #main .article .references {
  margin: 0 40px 15px 40px;
  line-height: 170%; }
  #taxon_detail #main .article .copy li, #taxon_detail #main .article .references li {
    margin: 0 0 10px 0;
    list-style-type: disc; }

#text_summary.article .copy {
  margin: 0 0 15px 0;
  line-height: 170%; }

#taxon_community .main_container .article .header h4 {
  float: right;
  padding: 0 10px 3px 10px;
  font-size: 1.16em;
  border-bottom: 3px solid #394651; }
#taxon_community .main_container .list img {
  max-width: 68px;
  max-height: 68px;
  width: expression(this.width > 68 ? "68px" : true);
  height: expression(this.height > 68 ? "68px" : true); }

#taxon_literature h3, #taxon_community h3, #taxon_resources h3 {
  font-size: 2em; }

#taxon_resources table.standard {
  direction: ltr;
  text-align: left; }
  #taxon_resources table.standard tbody > tr > td > a > img {
    max-width: 90px; }
#taxon_resources #taxon_detail > #main > h3 {
  padding: 0 0 20px 20px;
  font-size: 2em; }
#taxon_resources #nucleotide_sequences .copy h3 {
  padding-bottom: 10px; }
#taxon_resources #nucleotide_sequences .copy img {
  float: right;
  max-width: 60px; }
#taxon_resources #nucleotide_sequences .copy p {
  padding-right: 90px; }
#taxon_resources #biomedical_terms .attribution h4 {
  margin-bottom: 5px; }

/* TODO: this hasn't been really thought out and should be changed: */
#sidebar.filters dd li.no_results label {
  color: #6f7e8b; }

/*page heading actions, making header group narrow to fit actions in */
#page_heading.with_image .hgroup {
  width: 630px; }
#page_heading .page_actions {
  padding-top: 10px; }
  #page_heading .page_actions fieldset.actions {
    margin: 0; }
    #page_heading .page_actions fieldset.actions input[type="submit"] {
      margin: 0; }
#page_heading .hgroup .copy p {
  margin: 10px 0; }

/*wikipedia import request */
#wikipedia_queue {
  width: 640px; }
  #wikipedia_queue form {
    margin-top: 40px; }
    #wikipedia_queue form dt p {
      margin-bottom: 0; }
    #wikipedia_queue form dd {
      margin: 0 0 10px 0; }
      #wikipedia_queue form dd input[type="text"] {
        width: 308px;
        height: 22px;
        padding: 2px 5px;
        font: normal 1em Helvetica, Arial, sans-serif;
        border: 1px solid #cad3db;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white);
        background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white));
        width: 600px; }
    #wikipedia_queue form input[type="submit"] {
      padding: 7px 10px;
      font-size: 1em; }

/*collections overides */
.object_list div.checkbox {
  margin: 0; }

#map_image {
  height: 350px; }

#media_summary .image > a img {
  max-width: 430px;
  max-height: 310px;
  width: expression(this.width > 430 ? "430px" : true);
  height: expression(this.height > 310 ? "310px" : true); }

#header .session img {
  max-width: 48px;
  max-height: 48px;
  width: expression(this.width > 48 ? "48px" : true);
  height: expression(this.height > 48 ? "48px" : true); }

#collections_summary ul li > a > img, #communities_summary ul li > a > img, #curators_summary ul li > a > img {
  max-width: 48px;
  max-height: 48px;
  width: expression(this.width > 48 ? "48px" : true);
  height: expression(this.height > 48 ? "48px" : true); }

#collection.main_container .taxon > img {
  max-width: 88px;
  max-height: 88px;
  width: expression(this.width > 88 ? "88px" : true);
  height: expression(this.height > 88 ? "88px" : true); }
#collection .collections .article > .header > a > img {
  max-width: 48px;
  max-height: 48px;
  width: expression(this.width > 48 ? "48px" : true);
  height: expression(this.height > 48 ? "48px" : true); }

#inat_observations.main_container .inat_observations_header {
  padding: 10px 0 10px 0; }
  #inat_observations.main_container .inat_observations_header a.button {
    float: right; }
  #inat_observations.main_container .inat_observations_header span {
    margin-right: 80px; }
  #inat_observations.main_container .inat_observations_header img {
    float: left;
    vertical-align: middle; }
#inat_observations.main_container .inat_observations_map {
  padding: 10px 0 10px 0; }
#inat_observations.main_container .object_list h4 {
  margin-top: 0; }

#page_heading.with_image img, #page_heading.profile img {
  max-width: 88px;
  max-height: 88px;
  width: expression(this.width > 88 ? "88px" : true);
  height: expression(this.height > 88 ? "88px" : true); }

#sidebar .collection_list img, #sidebar .collection_contributors img, #sidebar .content_partner_managers img {
  max-width: 35px;
  max-height: 35px;
  width: expression(this.width > 35 ? "35px" : true);
  height: expression(this.height > 35 ? "35px" : true); }
#sidebar .inat_top_contributors {
  margin: 0 0 20px 0; }
  #sidebar .inat_top_contributors table tbody tr td {
    line-height: 150%;
    padding-bottom: 8px; }
    #sidebar .inat_top_contributors table tbody tr td img {
      border: 1px solid #394651;
      max-width: 35px;
      max-height: 35px;
      width: expression(this.width > 35 ? "35px" : true);
      height: expression(this.height > 35 ? "35px" : true); }
    #sidebar .inat_top_contributors table tbody tr td a {
      float: right;
      font-weight: bold; }
    #sidebar .inat_top_contributors table tbody tr td span b {
      margin-right: -5px; }

/*we share attribution across multiple pages so we need some overrides of HR here */
#text_summary p.flag {
  float: right; }
#text_summary .attribution {
  clear: none; }
  #text_summary .attribution .copy {
    padding-right: 120px; }
  #text_summary .attribution img, #text_summary .attribution span.license {
    float: right;
    margin: 0 10px; }

#taxon .gallery ul.thumbnails li img {
  max-width: 98px;
  max-height: 68px;
  width: expression(this.width > 98 ? "98px" : true);
  height: expression(this.height > 68 ? "68px" : true);
  width: auto;
  height: auto;
  margin: 0 auto; }
#taxon .gallery ul.thumbnails li.active img {
  max-width: 96px;
  max-height: 66px;
  width: expression(this.width > 96 ? "96px" : true);
  height: expression(this.height > 66 ? "66px" : true);
  margin: 0 auto; }
#taxon .gallery .images .details {
  position: relative;
  margin: 5px 0 0 0;
  z-index: 100;
  font-size: 0.92em; }
  #taxon .gallery .images .details .copy p {
    margin: 0 0 4px;
    line-height: 120%; }
    #taxon .gallery .images .details .copy p.owner {
      padding-right: 85px; }
  #taxon .gallery .images .details .attribution {
    margin: 0;
    font-size: 1em; }
    #taxon .gallery .images .details .attribution img, #taxon .gallery .images .details .attribution span.license {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0; }
    #taxon .gallery .images .details .attribution img {
      margin-top: -1px; }

#media_list #main ul li img {
  max-width: 160px;
  max-height: 125px;
  width: expression(this.width > 160 ? "160px" : true);
  height: expression(this.height > 125 ? "125px" : true); }
#media_list #sidebar.filters img {
  max-width: 220px; }

#taxon_detail #sidebar img {
  max-width: 260px; }

ul.object_list li img {
  max-width: 68px;
  max-height: 68px;
  width: expression(this.width > 68 ? "68px" : true);
  height: expression(this.height > 68 ? "68px" : true); }

form.comment img {
  max-width: 48px;
  max-height: 48px;
  width: expression(this.width > 48 ? "48px" : true);
  height: expression(this.height > 48 ? "48px" : true); }

#header .thumbnails ul li {
  width: 140px;
  height: 140px; }

.editable_link {
  font-size: 0.8em; }

.edit_collection #sidebar select {
  max-width: 135px; }
.edit_collection #sidebar fieldset.actions {
  padding: 0; }

table.standard td.nowrap {
  white-space: nowrap; }

#collections_choose h2 {
  font-size: 1.3em;
  margin: 2em 0 0.5em; }
#collections_choose input[type="text"] {
  background-color: white;
  background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7);
  border: 1px solid #cad3db;
  font: 1em Helvetica, Arial, sans-serif;
  height: 22px;
  padding: 2px 0 0 5px;
  width: 248px; }
#collections_choose ul {
  border-top: 1px solid #394651; }
#collections_choose li img {
  float: right;
  margin-left: 2em !important; }

#page_heading .page_actions li + li {
  margin: 10px 0; }

h1.notice {
  font-size: 2em;
  text-align: center;
  padding: 4em; }

.column.curators img, .column.collections img, .column.communities img {
  max-width: 48px;
  max-height: 48px;
  width: expression(this.width > 48 ? "48px" : true);
  height: expression(this.height > 48 ? "48px" : true); }

#worklist #task #sidebar {
  width: auto;
  float: none;
  padding: 0px !important; }

#worklist #tasks ul li {
  z-index: 300; }
  #worklist #tasks ul li img {
    max-width: 48px;
    max-height: 48px;
    width: expression(this.width > 48 ? "48px" : true);
    height: expression(this.height > 48 ? "48px" : true); }

#task .media img {
  margin: 0 auto;
  display: block; }

.invisible {
  *visibility: hidden;
  opacity: 0; }

#worklist .filters fieldset.actions {
  padding: 0;
  line-height: 22px;
  color: #667309;
  text-transform: uppercase;
  font-weight: bold; }
#worklist .filters fieldset dl {
  padding: 0 0 0 30px; }

#worklist #tasks li:hover {
  background-color: white !important; }

#taxon_updates .update_feed .header, #taxon_updates .page_statistics .header {
  position: relative;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #394651; }
  #taxon_updates .update_feed .header h3, #taxon_updates .page_statistics .header h3 {
    font-size: 1.33em; }
#taxon_updates .page_statistics dl {
  float: left;
  line-height: 140%;
  width: 200px;
  padding: 50px 0 30px 30px; }
  #taxon_updates .page_statistics dl dt {
    font-size: 1.8em;
    margin: 0 0 10px 0; }
    #taxon_updates .page_statistics dl dt + dd {
      font-size: 2em; }
      #taxon_updates .page_statistics dl dt + dd + dt {
        font-size: 1.2em; }
        #taxon_updates .page_statistics dl dt + dd + dt + dd {
          font-size: 1.6em; }
  #taxon_updates .page_statistics dl dd {
    font-weight: bold;
    margin: 0 0 20px 0; }
#taxon_updates .page_statistics .copy {
  float: right;
  width: 380px;
  margin-top: 30px;
  background: #f3f7fa;
  border: 1px solid #cad3db;
  padding: 20px 20px 0 20px; }

a.other_actions {
  float: left;
  margin-top: 1em; }

.site_column > #choose_collections h2, .site_column > #choose_communities h2 {
  font-size: 1.33em;
  margin: 0 0 10px 0; }
.site_column > #choose_collections fieldset.new_community input[type="text"], .site_column > #choose_communities fieldset.new_community input[type="text"] {
  width: 210px;
  height: 22px;
  padding: 2px 5px;
  font: normal 1em Helvetica, Arial, sans-serif;
  border: 1px solid #cad3db;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white);
  background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white)); }
.site_column > #choose_collections fieldset.new_collection, .site_column > #choose_communities fieldset.new_collection {
  overflow: hidden;
  margin: 0 0 20px 0; }
  .site_column > #choose_collections fieldset.new_collection input[type="text"], .site_column > #choose_communities fieldset.new_collection input[type="text"] {
    float: right;
    width: 210px;
    height: 22px;
    padding: 2px 5px;
    font: normal 1em Helvetica, Arial, sans-serif;
    border: 1px solid #cad3db;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white);
    background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white));
    margin: 0 0 0 10px; }
.site_column > #choose_collections input[type="submit"], .site_column > #choose_communities input[type="submit"] {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1.08em;
  padding: 5px 10px 6px 10px; }
.site_column > #choose_collections ul, .site_column > #choose_communities ul {
  border: 1px solid #cad3db;
  height: 230px;
  overflow-y: scroll;
  margin: 0 0 20px 0; }
  .site_column > #choose_collections ul li, .site_column > #choose_communities ul li {
    font-weight: bold;
    padding: 5px 10px; }
    .site_column > #choose_collections ul li.collected, .site_column > #choose_communities ul li.collected {
      background: #f4f4f4; }
    .site_column > #choose_collections ul li input[type="checkbox"], .site_column > #choose_communities ul li input[type="checkbox"] {
      margin: 0 0 0 5px; }
    .site_column > #choose_collections ul li a, .site_column > #choose_communities ul li a {
      font-size: 0.95em; }
    .site_column > #choose_collections ul li span, .site_column > #choose_communities ul li span {
      font-size: 0.95em; }
    .site_column > #choose_collections ul li + li, .site_column > #choose_communities ul li + li {
      border-top: 1px solid #cad3db; }

.cms_page span.icon {
  background: #f3f7fa url("/images/v2/icon_info_tabs.png") 50% 50% no-repeat; }

#taxon_maps #media_list {
  padding: 0; }

#taxon_detail #sidebar {
  padding: 0;
  padding-bottom: 20px;
  width: 260px; }
  #taxon_detail #sidebar #toc {
    margin: 0px 20px; }

#media_list #sidebar {
  padding: 0;
  padding-bottom: 20px;
  width: 220px; }
  #media_list #sidebar #filters {
    margin: 0px 20px; }

#page_heading p#citation {
  background-color: white;
  border: 1px solid #d4dce2;
  color: #5f6c76;
  font-size: 0.95em;
  line-height: 100%;
  font-weight: normal; }

ul li.newsfeed a {
  padding: 7px 10px 6px !important;
  font-size: 12px !important; }

ul li.total {
  margin-top: 20px; }

ul li.editors a {
  padding: 7px 10px 6px !important;
  font-size: 12px !important; }

ul li.inaturalist a {
  padding: 7px 10px 6px !important;
  font-size: 12px !important; }

ul.media li .overlay {
  height: auto !important; }

body#prelaunch p.status {
  clear: both;
  padding: 7px 10px;
  font-size: 1.16em;
  font-weight: bold;
  text-align: center;
  color: #394651;
  border: 2px solid #c7d471;
  background: #edf6b2; }

body#prelaunch #footer ul.social_media {
  margin-top: 20px; }

.feed .deleted_comment {
  font-style: italic;
  color: #62707d; }

.scientific_name {
  direction: ltr;
  text-align: right; }

table.synonyms, table.common_names, table.edit_common_names, table.related_names {
  direction: ltr;
  text-align: left; }
  table.synonyms select, table.common_names select, table.edit_common_names select, table.related_names select {
    direction: rtl; }

.classifications ul li ul {
  direction: ltr; }
  .classifications ul li ul li.show_tree_count {
    direction: rtl;
    text-align: left; }
    .classifications ul li ul li.show_tree_count a.show_tree {
      display: inline; }
  .classifications ul li ul li a.show_tree {
    direction: rtl;
    text-align: left; }

input#user_email,
input#user_username,
input#session_username_or_email,
input#user_username_or_email,
input[type="password"] {
  direction: ltr; }

#taxon_literature table, #taxon_literature ul.ref_list {
  direction: ltr; }

#new_comment p.reply-to {
  float: right;
  color: #195184;
  font-weight: bold; }

.highlight {
  background-color: #f3f7fa; }
