/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:  	Tantek Celik, Shane Riley
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/
ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup {
  display: block; }

body {
  font: normal 12px Helvetica, Arial, sans-serif;
  color: #394651;
  border-top: 32px solid #28323a;
  direction: rtl; }

body, html {
  background: #394651; }

a {
  color: #195184; }

.site_column, body > #header .section, body > #footer .section, .thumbnails ul, #content .section {
  width: 940px;
  margin: 0 auto; }

body > #header a {
  color: white; }
body > #header h1 {
  position: absolute;
  right: 0;
  top: 13px;
  z-index: 2; }
  body > #header h1 a {
    display: block;
    width: 125px;
    height: 92px;
    text-indent: -8685px;
    text-decoration: none;
    overflow: hidden;
    background: transparent url("/languages/ar/images/logo.png") 0 0 no-repeat; }
body > #header .section {
  position: relative; }
  body > #header .section ul.nav {
    position: absolute;
    left: 0;
    top: -25px;
    z-index: 1; }
    body > #header .section ul.nav li {
      display: inline;
      padding: 0 7px 0 0;
      text-transform: uppercase; }
      body > #header .section ul.nav li:before {
        padding: 0 0 0 7px;
        font-size: 1.33em;
        vertical-align: -2px;
        content: "•";
        list-style: disc;
        color: #4c5155; }
      body > #header .section ul.nav li:first-of-type:before {
        display: none; }
      body > #header .section ul.nav li a {
        text-decoration: none; }
  body > #header .section .actions {
    position: absolute;
    right: 0;
    top: -27px;
    z-index: 3;
    font-size: 0.92em;
    text-transform: uppercase; }
    body > #header .section .actions a {
      display: block;
      text-decoration: none; }
    body > #header .section .actions p {
      padding: 1px;
      border: 1px solid #444749; }
      body > #header .section .actions p a {
        padding: 1px 18px 1px 5px; }
        body > #header .section .actions p a span {
          display: block;
          padding: 0 5px 0 0;
          border-right: 1px solid #444749; }
      body > #header .section .actions p.print {
        float: right; }
        body > #header .section .actions p.print a {
          background: transparent url("/images/v2/icon_paper.png") 111px 2px no-repeat; }
    body > #header .section .actions .language {
      float: right;
      position: relative;
      margin: 0 0 0 10px; }
      body > #header .section .actions .language a {
        background: transparent url("/images/v2/icon_dropdown.png") 98px 6px no-repeat; }
      body > #header .section .actions .language ul {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 5;
        width: 100%;
        background: #0a0f13; }
        body > #header .section .actions .language ul li {
          padding: 2px 5px;
          border: 1px solid #444749;
          border-top: none; }
        body > #header .section .actions .language ul a {
          background: transparent; }
body > #header form {
  position: relative;
  z-index: 2;
  width: 268px;
  margin: 0 auto;
  padding: 43px 0 0 0; }
  body > #header form label {
    position: absolute;
    right: -9999px; }
  body > #header form .text {
    float: right;
    margin: 0 0 0 10px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background-color: #fefeff;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ccd2d7, endColorstr=#fefeff);
    background-image: -moz-linear-gradient(100% 100% 90deg, #fefeff, #ccd2d7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd2d7), to(#fefeff)); }
  body > #header form input[type="text"] {
    width: 175px;
    height: 18px;
    padding: 6px 38px 6px 5px;
    font-size: 1.16em;
    line-height: 140%;
    color: #394651;
    outline: none;
    border: none;
    background: transparent url("/images/v2/icon_search.png") 190px 50% no-repeat; }
  body > #header form input[type="submit"] {
    float: right;
    min-width: 30px;
    min-height: 30px;
    overflow: visible;
    font-size: 0.83em;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background-color: #ccd2d7;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefeff, endColorstr=#ccd2d7);
    background-image: -moz-linear-gradient(100% 100% 90deg, #ccd2d7, #fefeff);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#ccd2d7)); }
    body > #header form input[type="submit"]:hover {
      background-color: #dae3eb;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#dae3eb);
      background-image: -moz-linear-gradient(100% 100% 90deg, #dae3eb, white);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#dae3eb)); }
    body > #header form input[type="submit"]:active {
      background-color: #ccd2d7;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefeff, endColorstr=#ccd2d7);
      background-image: -moz-linear-gradient(100% 100% 90deg, #ccd2d7, #fefeff);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#ccd2d7)); }
body > #footer {
  overflow: hidden;
  padding: 20px 0 30px 0;
  background: #394651; }
  body > #footer .copyright {
    float: right; }
    body > #footer .copyright h6 {
      padding: 0 0 5px 0; }
      body > #footer .copyright h6 a {
        display: block;
        width: 41px;
        height: 18px;
        text-indent: -8685px;
        text-decoration: none;
        overflow: hidden;
        background: transparent url("/images/v2/logo_footer.png") 0 0 no-repeat; }
    body > #footer .copyright p {
      font-size: 0.83em;
      font-weight: bold;
      color: #6f7e8b; }
  body > #footer ul.nav {
    float: left;
    margin: 0 0 20px 0; }
    body > #footer ul.nav li {
      display: inline;
      padding: 0 7px 0 0;
      text-transform: uppercase; }
      body > #footer ul.nav li:before {
        padding: 0 0 0 7px;
        font-size: 1.33em;
        vertical-align: -2px;
        content: "•";
        list-style: disc;
        color: #6f7e8b; }
      body > #footer ul.nav li:first-of-type:before {
        display: none; }
      body > #footer ul.nav li a {
        color: white;
        text-decoration: none; }
  body > #footer ul.social_media {
    clear: both;
    float: left; }
    body > #footer ul.social_media li {
      float: right;
      padding: 0 10px 0 0; }
      body > #footer ul.social_media li a {
        display: block;
        width: 25px;
        height: 25px;
        text-indent: -8685px;
        text-decoration: none;
        overflow: hidden;
        background: transparent url("/images/v2/icon_social-media.png") 0 0 no-repeat; }
        body > #footer ul.social_media li a.rss {
          background-position: 0 100%; }

.thumbnails {
  padding: 10px 0 0 0;
  background: transparent url("/images/v2/bg_thumbnails.png") 0 0 repeat-x; }
  .thumbnails ul {
    position: relative;
    top: 1px;
    z-index: 2; }
    .thumbnails ul li {
      position: relative;
      float: right;
      padding: 0 0 10px 0;
      margin: 0 0 0 20px; }
      .thumbnails ul li img {
        display: block;
        padding: 5px;
        background: transparent url("/images/v2/bg_home_thumbnails.png") repeat;
        background: rgba(255, 255, 255, 0.4); }
      .thumbnails ul li.last {
        margin: 0; }
      .thumbnails ul li:hover {
        background: transparent url("/images/v2/icon_home-thumb_active.png") 50% 100% no-repeat; }
        .thumbnails ul li:hover img {
          background: rgba(255, 255, 255, 0.6); }
  .thumbnails .term {
    clear: both;
    position: relative;
    z-index: 1;
    padding: 2px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid #93a4b0;
    background: #e5e8eb; }
    .thumbnails .term .site_column, .thumbnails .term body > #header .section, body > #header .thumbnails .term .section, .thumbnails .term body > #footer .section, body > #footer .thumbnails .term .section, .thumbnails .term ul, .thumbnails .term #content .section, #content .thumbnails .term .section {
      width: 960px;
      padding: 0; }
    .thumbnails .term p {
      font-weight: bold;
      color: #28323a; }

.join {
  font-weight: bold;
  text-align: center; }
  .join p {
    padding: 0 0 5px 0; }
    .join p.button {
      padding: 15px 0 20px 0; }
      .join p.button a {
        padding: 10px 24px;
        overflow: visible;
        font: bold 16px Helvetica, Arial, sans-serif;
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 1px #333333;
        border: 1px solid #3270a7;
        background-color: #255491;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#408ebf, endColorstr=#255491);
        background-image: -moz-linear-gradient(100% 100% 90deg, #255491, #408ebf);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#408ebf), to(#255491)); }
        .join p.button a:hover {
          background-color: #2b64ad;
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#46a2db, endColorstr=#2b64ad);
          background-image: -moz-linear-gradient(100% 100% 90deg, #2b64ad, #46a2db);
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#46a2db), to(#2b64ad)); }
        .join p.button a:active {
          background-color: #255491;
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#408ebf, endColorstr=#255491);
          background-image: -moz-linear-gradient(100% 100% 90deg, #255491, #408ebf);
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#408ebf), to(#255491)); }
  .join a {
    color: inherit; }

body {
  border-color: #0a0f13;
  background: #0a0f13 url("/images/v2/bg_stars.png") repeat; }
  body > #header {
    position: relative;
    height: 563px;
    color: white;
    border-top: 1px solid #202427;
    border-bottom: 1px solid #ccd4dd;
    background: transparent url("/images/v2/bg_home_earth.png") 50% 100% no-repeat; }
    body > #header .section {
      position: relative;
      height: 268px;
      padding: 295px 0 0 0; }
    body > #header h1 {
      right: 40px;
      top: 40px; }
      body > #header h1 a {
        width: 157px;
        height: 115px;
        background-image: url("/languages/ar/images/logo_index.png"); }
    body > #header h2 {
      position: absolute;
      right: 0;
      top: 180px;
      z-index: 1;
      width: 100%;
      font-size: 3.25em;
      font-weight: 200;
      text-align: center; }
    body > #header form {
      width: 368px;
      padding: 4px;
      -moz-border-radius: 180px;
      border-radius: 180px;
      background: rgba(255, 255, 255, 0.5); }
      body > #header form .text {
        margin: 0 0 0 5px;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); }
      body > #header form input[type="text"] {
        width: 274px;
        height: 28px;
        font-size: 1.5em;
        background: transparent url("/images/v2/icon_search_home.png") 286px 50% no-repeat; }
      body > #header form input[type="submit"] {
        min-width: 40px;
        min-height: 40px;
        font-size: 1.08em;
        line-height: 38px;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); }
    body > #header .join {
      position: absolute;
      left: 40px;
      top: 55px;
      z-index: 2; }
    body > #header .thumbnails {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      background: transparent url("/images/v2/bg_home_thumbnails.png") repeat;
      background: rgba(255, 255, 255, 0.5); }
      body > #header .thumbnails .term {
        border-bottom-color: white; }

#content {
  overflow: hidden;
  background: white; }
  #content .section {
    padding: 30px 0 0 10px; }
    #content .section h3 {
      padding: 0 40px 15px 0;
      font-size: 1.33em; }
    #content .section .stats {
      float: right;
      width: 520px;
      padding: 0 0 0 40px; }
      #content .section .stats li {
        clear: both;
        overflow: hidden;
        padding: 10px 40px 10px 20px;
        border-top: 1px solid #e5e8eb; }
        #content .section .stats li a {
          float: right;
          margin: 17px 0 0 0; }
        #content .section .stats li dl {
          float: right;
          width: 145px;
          padding: 3px 80px 3px 10px; }
        #content .section .stats li dd {
          font-size: 2.5em; }
        #content .section .stats li dt {
          font-size: 1.16em;
          font-weight: bold;
          color: #394651; }
        #content .section .stats li.taxon dl {
          background: transparent url("/images/v2/icon_taxon.png") right 0 no-repeat; }
        #content .section .stats li.contributors dl {
          background: transparent url("/images/v2/icon_contributors.png") right 2px no-repeat; }
        #content .section .stats li.communities dl {
          background: transparent url("/images/v2/icon_communities.png") right 50% no-repeat; }
        #content .section .stats li.images dl {
          background: transparent url("/images/v2/icon_images.png") right 0 no-repeat; }
        #content .section .stats li.partners dl {
          background: transparent url("/images/v2/icon_partners.png") right 50% no-repeat; }
    #content .section .community {
      float: left;
      width: 380px;
      margin: 0 0 20px 0; }
      #content .section .community h3 {
        border-bottom: 1px solid #e5e8eb; }
      #content .section .community ul {
        padding: 20px 40px 10px 0;
        border-bottom: 1px solid #e5e8eb; }
      #content .section .community li {
        overflow: hidden;
        padding: 0 0 10px 0; }
        #content .section .community li img {
          float: right;
          margin: 0 0 0 10px; }
        #content .section .community li .details {
          overflow: hidden;
          padding: 3px 0 0 0; }
        #content .section .community li p {
          line-height: 140%; }
          #content .section .community li p.meta {
            font-size: 0.83em;
            font-weight: bold;
            text-transform: uppercase;
            color: #82919e; }
    #content .section .join {
      float: left;
      width: 380px;
      margin: 0 0 30px 0; }
