
var app = angular.module('eol', []);
app.controller('navigate', function($scope, $http) {

  $scope.name =  function() {return $scope.first +" "+ $scope.last;}

  $scope.expand = function(obj) {

    var symbol = obj.target.text;
    if(symbol == "+")
    {
        //$scope.output = $scope.children;
        symbol = "-";
    }else{
        //$scope.output = "";
        symbol = "+";
    }
    obj.target.text = symbol;
  }
//myApp.directive('passObject', function() {
 //   return {
  //      restrict: 'E',
    //    scope: { obj: '=' },
     //   template: '<div>Hello, {{obj.prop}}!</div>'
    //};

});