- content_for :main do
  #page_heading.with_image
    .site_column
      %h1= I18n.t(:recent_eol_member_activity)
      = render :partial => 'shared/flash_messages'
  #content
    .site_column
      = yield

= render :file => 'layouts/v2/application'
