- @name.strip!
=I18n.t("dear_var__name_0__0__capitaliz", :var__name_0__0__capitalize => @name[0..0].capitalize, :var__name_1___1_ => @name[1..-1]) 

=I18n.t("thank_you_for_your_interest_an")

=I18n.t("we_have_recently_identified_an")

=I18n.t("to_remedy_this")

= I18n.t("we_hope_you_will_continue_to_u") 

=I18n.t("thanks_for_your_time") 

=I18n.t("the_eol_team") 
