/* borrowed from rs.gbif.org/style/human.css */
/* COLORs
#A5 BB0F - yellowish green
#2d 9cdc - cloudera blue
#5d b235 - gbif green
#46 a912 - gbif lighter green
*/

/* @group HTML tags, reset */

* {margin:0; padding:0;}
body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {
	border:0;
}
body {
	padding:20px 0; 
	font:0.8em/1.5 "arial", sans-serif; 
	text-align:center; 
	background:#FFF; 
	color:#000;
}

a {
	text-decoration:none; 
	color: rgb(0, 125, 36);
}
a:hover {
	text-decoration: underline;
	color: rgb(0, 84, 24);
}



h1, h2 {margin:15px 0 10px 0;}
h3, h4, h5, h6 {margin:5px 0 10px 0;}
h1 {font-size:260%; font-weight:normal; letter-spacing:-1px;}
h2 {font-size:160%; font-weight:normal;}
h3 {font-size:140%; font-weight:normal;}
h4, h5 {font-size:100%;}

p, table, ul, ol, dl, fieldset {margin:10px 0;}

table {border-collapse:collapse; border-spacing:0; font-size:100%;}
th {text-align:left; font-weight:bold;}
th, td {padding:3px 7px;}

ul, ol {
	margin: 0; 
	padding:0; 
	list-style:none; 
}
ol {list-style-type:decimal;}

dt {font-weight:bold;}
dd {margin-left:30px;}
fieldset {position:relative; padding:10px;}
legend {position:absolute; top:-1em; margin:0; padding:5px 10px; font-size:100%; font-weight:bold;}

/* @end */


/* @group LAYOUT */

div#container {
	width:960px;
	text-align:left;	
	margin:0 auto; /* center, not in IE5 */
}
   
div#header {position:relative; padding-bottom:0px;}

#logo {margin:0; font-weight:normal;color:#000;}

div#content {
	clear:both;
	padding: 10px 30px; 
	min-height:400px;
}

/* @end */



/* @group TABLES */
table.nice{
	border-spacing: 2px 2px;
	border-collapse: separate; 
}
table.nice td{
	padding: 1px 4px;
}
table.nice a {
	border-style: none;
}
table.nice a:hover {
	text-decoration: underline;
}
table.nice tr.line {
	height: 2em;
}

table.grey tr{
	background-color: #f6f6f6;
}
table.grey tr.line {
	background-color: transparent;
}

.smaller {font-size:85%;color:#888;}

/* @end */

table.definition {
	border-spacing: 2px 10px;
	border-collapse: separate; 
}
table.definition th {
	text-align: left;
	vertical-align: top;
	background-color: #f1f1f1;
}
table.definition td {
	border-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}

.examples{
	padding-top: 10px;
}
.vocabulary, .vocabulary a{
	color: black;
	padding-top: 10px;
}
.technical{
	padding-top: 10px;
	font-size: smaller;
}
.technical table{
	margin: 0;
	padding: 0;
}
.technical table th, .technical td{
	color: #999;
	background-color: white;
	padding:0px 10px 0px 0px;
}