- values_to_show_per_row = 3
- rows_to_show = 10
.data_div
  %table.standard.data
    - unique_attributes = data.collect{ |r| r[:attribute] }.uniq
    - unique_attributes.each_with_index do |attribute, index|
      - row_class = (index == unique_attributes.length - 1) ? 'last' : nil
      %tr{ :class => row_class }
        %th= display_uri(attribute)
        %td
          - rows_for_this_attribute = data.select{ |r| r[:attribute] == attribute }
          - text_for_rows = rows_for_this_attribute.collect{ |r| display_text_for_structured_data_row(r, :link_to_overview => true) }
          - if text_for_rows.length > values_to_show_per_row
            - text_for_rows = text_for_rows[0...values_to_show_per_row]
            - text_for_rows << link_to(I18n.t(:more), taxon_data_path(:anchor => attribute.is_a?(KnownUri) ? attribute.uri : attribute))
          = raw text_for_rows.join(", ")
      - if index >= rows_to_show - 1
        - break
  - if unique_attributes.length > rows_to_show
    .see_more
      = link_to(I18n.t(:see_more_on_the_data_tab), taxon_data_path)
