- if @success
  %span{:style => 'color:#408080; padding-left: 2em;'}
    \... email sent!
- else
  %span{:style => 'color:#800000; padding-left: 2em;'}
    / Actually, the user will never see this, because a failure *really* throws a whole lot more info, but... just in case:
    FAILED... Could not find this user.  Sorry.
