- if @success
  %span{:style => 'color:#408080; padding-left: 2em;'}
    =I18n.t(:email_sent_bang)
- else
  %span{:style => 'color:#800000; padding-left: 2em;'}
    / Actually, the user will never see this, because a failure *really* throws a whole lot more info, but... just in case:
    =I18n.t(:filed_couldnt_find_user)
