- if @success
  %span{:style => 'color:#408080; padding-left: 2em;'}
    =I18n.t("____email_sent_")
- else
  %span{:style => 'color:#800000; padding-left: 2em;'}
    / Actually, the user will never see this, because a failure *really* throws a whole lot more info, but... just in case:
    =I18n.t("failed____could_not_find_this_")
