.divider
%br
%h3.preference-header= "Request an API key (optional)"[]

- api_docs_link = '/api/docs#api_key_section'
- if current_user.api_key
  %p#profile_api_key
    Your key is
    %b= current_user.api_key
    %br
    Make sure to 
    = link_to('add it to your API calls', api_docs_link)
-else
  %form#form_api_key{ :method => "post", :action => user_path(current_user.id) }
    %input{ :name => "_method", :type => "hidden", :value=> "put" }
    %input{ :name => "generate_api_key", :type => "hidden", :value=> "true" }
    - button_value = "Generate a key"
    %p 
      If you are interested in using the EOL API you can generate an API key to
      identify your application.
      = link_to('Click here to read more', api_docs_link)
      about adding a key to your API calls
    %br
    %br
    %input{ :type => "submit", :name => "submit", :value => button_value }
