
	<div id="page-separator-general"></div>

    <!-- page title -->
    <div id="page-title">
        <h1><%= "Confirmation Sent"[] %></h1>
        <hr />

    </div>
    <!-- /page title -->
    <div id="page-content" class="clearfix">
        <!-- center page content -->
        <div id="full-page-content">
            A confirmation email was sent to the email address you registered with.  Please check your email and follow the confirmation link to activate your account.
  	  	</div>


        </div>
					
    </div>
