
<div id="page-separator-general"></div>

  <!-- page title -->
  <div id="page-title">
      <h1><%= "Confirmation Failed"[] %></h1>
      <hr />

  </div>
  <!-- /page title -->
  <div id="page-content" class="clearfix">
      <!-- center page content -->
      <div id="full-page-content">
          The account confirmation was not successful.  Please check the link you received in your email and be sure the entire link was pasted into your browser's address bar.
	  	</div>


      </div>
				
  </div>
