#page-separator-general
#page-title
  %h1= I18n.t(:account_confirmation)
  %hr
#page-content.clearfix
  / center page content
  #full-page-content
    - if @user.blank?
      =I18n.t(:sorry_account_confirm_failed_error)
    - else
      =I18n.t(:thanks_your_account_confirmed, :login_link => link_to(I18n.t(:login), :action=>'login'))
