#page-separator-general
#page-title
  %h1= I18n.t(:forgot_password) 
  %hr
#page-content.clearfix
  / center page content
  #full-page-content
    %br
      %p
        =I18n.t("we_have_several_accounts_regis")
      %br
      %p
        =I18n.t("to_clarify_which_accounts_you_")
      %ul{:style => 'margin:2em;'}
        - @users.each do |user|
          %li
            = link_to_remote(user.username, :url => reset_specific_users_password_path(:id => user.id), :failure => "alert('HTTP Error ' + request.status + '!');return(false);", :update => "status_#{user.id}", :method => :post )
            %span{:id => "status_#{user.id}"}
