#page-separator-general
#page-title
  %h1= "Forgot Password"[]
  %hr
#page-content.clearfix
  / center page content
  #full-page-content
    %br
      %p
        We have several accounts registered using that email address. Each account has its own password, and thus each needs to be reset.
      %br
      %p
        To clarify which accounts you want to reset the password for, please click on the username you intend to reset.  An email will then be sent to your email account, to ensure that you have access to the account. Please click on the link in the email to complete the password-resetting process.
      %ul{:style => 'margin:2em;'}
        - @users.each do |user|
          %li
            = link_to_remote(user.username, :url => reset_specific_users_password_path(:id => user.id), :failure => "alert('HTTP Error ' + request.status + '!');return(false);", :update => "status_#{user.id}", :method => :post )
            %span{:id => "status_#{user.id}"}

