%table{:cellpadding => 5, :style => 'margin: 0 10px 10px 30px; width: 90%'}
  %tbody
    %tr
      %td{:width => "48", :valign => 'top'}
        - if user
          = link_to image_tag(user.logo_url(:small, nil, :mail => true),   
            :size => "48x48", :style => 'height: 48px; width: 48px; border: 1px solid #394651;',
            :alt => I18n.t(:comment_show_posters_image_alt, 
            :posters_name => sanitize(user.full_name))), user_url(user)
      %td{:valign => 'top'}= action
