- if item.class.name == 'Comment' # Annoying, but comments really do behave quite differently from the others:
  = render(:partial => 'comment', :locals => { :who => item.user.full_name, :what => item.parent.summary_name, :body => item.body, :comment_link => link_to_item(Kernel.const_get(item.parent_type).find(item.parent_id)) })
- else
  %table{:cellpadding => 5, :style => "border: 0; margin: 0 10px 10px 0;"}
    %tr
      - if item.user
        %td
          = link_to image_tag(item.user.logo_url(:small, nil, :mail => true),
            :size => "48x48", :style => 'height: 48px; width: 48px; border: 1px solid #394651;',
            :alt => I18n.t(:comment_show_posters_image_alt,
            :posters_name => sanitize(item.user.full_name))), user_newsfeed_url(item.user)
      %td
        = render(:partial => "activity_logs/#{item.class.name.underscore}", :locals => { :item => item, :link_style => 'color: #195184' })
%hr{:style => "border: none; border-bottom: 1px solid #d2d9df;clear:both;"}
