@import "mixins";

@function px_to_em($number) {
  @return (1em / 12) * $number;
}

@mixin item_summary {
  clear: both;
  overflow: hidden;
  padding: px_to_em(10) px_to_em(10) px_to_em(10) px_to_em(160);
  border-top: 1px solid #d7dadc;
  &:first-child {
    border-top: none;
  }
  > a {
    &:first-child {
      float: left;
      margin-left: -1 * px_to_em(150);
      display: block;
      width: px_to_em(130);
    }
  }
  img {
    max-width: 100%;
  }
  small {
    font-weight: bold;
  }
  h4 {
    font-size: 1.2em;
    a {
      text-decoration: none;
      color: #28323a;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@mixin filters {
  margin-top: 10px;
  padding: 20px;
  background-color: #f1f4dc;
  border-bottom: 1px solid #ccd399;
  legend {
    font-weight: bold;
    text-transform: uppercase;
    color: #667309;
    padding-bottom: 5px
  }
  label {
    font-weight: bold;
  }
  li {
    padding-bottom: 8px;
  }
  ul {
    padding-left: 10px;
  }
  .no_result > label {
    color: #6f7e8b;
  }
}

form {
  input[type="text"] {
    min-width: 50%;
  }
  &.googly {
    border: 1px solid $grayblue;
    background: $fieldset_light_blue;
    position: relative;
    .actions, dt {
      @include screenreader_accessible;
    }
    div, p, dl, dt, dd, fieldset, label {
      margin: 0;
      padding: 0;
    }
    dl dd input {
      margin: 0;
    }
    dd, p {
      padding: 0.5em;
    }
    .map {
      width: 100%;
      height: (1em / 12) * 400;
    }
  }
}
.feedback {
  position: relative;
  line-height: 150%;
  p {
    color: #394651;
    border: 1px solid #c7d471;
    background-color: #edf6b2;
    background-color: rgba(237, 246, 178, 0.9);
    align: center;
    padding: px_to_em(10);
    &.error {
      border-color: #f2d2cc;
      background-color: #ffeae6;
      background-color: rgba(255, 234, 230, 0.9);
    }
    &.location, &.results {
      position: absolute;
      left: 0;
      margin: 0 10%;
      min-width: 80%;
    }
    &.location {
      top: -360px;
    }
    &.results {
      top: -100px;
    }
    img.loading {
      float: right;
      max-height: 30px;
    }
  }
}
.taxa {
  line-height: 160%;
  li {
    @include item_summary();
  }
}
.filters {
  @include filters;
}
