@import "mixins";

@function px_to_em($number) {
  @return (1em / 12) * $number;
}

@mixin item_summary {
  clear: both;
  overflow: hidden;
  padding: px_to_em(10) px_to_em(10) px_to_em(10) px_to_em(160);
  border-top: 1px solid #d7dadc;
  &:first-child {
    border-top: none;
  }
  > a {
    &:first-child {
      float: left;
      margin-left: -1 * px_to_em(150);
      display: block;
      width: px_to_em(130);
    }
  }
  img {
    max-width: 100%;
  }
  small {
    font-weight: bold;
  }
  h4 {
    font-size: 1.2em;
    a {
      text-decoration: none;
      color: #28323a;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

form {
  &.googly {
    background: $light_blue;
    position: relative;
    .actions, dt {
      @include screenreader_accessible;
    }
    div, p, dl, dt, dd, fieldset, input, label {
      margin: 0;
      padding: 0;
    }
    dd, p {
      padding: 0.5em;
    }
    .map {
      width: 100%;
      height: (1em / 12) * 400;
    }
  }
}
.feedback {
  line-height: 150%;
  p {
    background-color: yellow;
    align: center;
    padding: px_to_em(10);
    &.error {
      background-color: red;
    }
  }
}

.results {
  line-height: 160%;
  li {
    @include item_summary();
  }
}
