/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:  	Tantek Celik, Shane Riley
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/
ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup {
  display: block; }

body, html {
  background: #28323a; }

body {
  font: normal 12px Helvetica, Arial, sans-serif;
  color: white; }
  body #content {
    margin-top: 100px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: #394651 url("/images/v2/bg_not-found.gif") center top no-repeat;
    min-height: 360px;
    text-align: center; }
    body #content h1 {
      font-size: 3em;
      margin: 180px 0 10px 0; }
    body #content h2, body #content p, body #content code {
      font-size: 1.2em;
      line-height: 140%; }
    body #content a {
      color: #90bce4; }
    body #content #message {
      width: 800px;
      margin: 0 auto; }
    body #content #exception {
      background-color: #eeeeee;
      color: black;
      width: 800px;
      margin: 2em auto;
      padding: 1em; }
    body #content form {
      margin: 30px auto 20px auto;
      width: 258px;
      position: relative; }
      body #content form label {
        position: absolute;
        left: -9999px; }
      body #content form .text {
        float: left;
        margin: 0 10px 0 0;
        -moz-border-radius: 180px;
        border-radius: 180px;
        background-color: #fefeff;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ccd2d7, endColorstr=#fefeff);
        background-image: -moz-linear-gradient(100% 100% 90deg, #fefeff, #ccd2d7);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd2d7), to(#fefeff)); }
        body #content form .text input[type="text"] {
          width: 175px;
          height: 18px;
          padding: 6px 5px 6px 38px;
          font-size: 1.16em;
          line-height: 140%;
          color: #394651;
          outline: none;
          border: none;
          background: transparent url("/images/v2/icon_search.png") 9px 50% no-repeat; }
      body #content form input[type="submit"] {
        float: left;
        min-width: 30px;
        min-height: 30px;
        overflow: visible;
        font-size: 0.83em;
        line-height: 28px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        -moz-border-radius: 180px;
        border-radius: 180px;
        background-color: #ccd2d7;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefeff, endColorstr=#ccd2d7);
        background-image: -moz-linear-gradient(100% 100% 90deg, #ccd2d7, #fefeff);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#ccd2d7)); }
        body #content form input[type="submit"]:hover {
          background-color: #dae3eb;
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#dae3eb);
          background-image: -moz-linear-gradient(100% 100% 90deg, #dae3eb, white);
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#dae3eb)); }
        body #content form input[type="submit"]:active {
          background-color: #ccd2d7;
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefeff, endColorstr=#ccd2d7);
          background-image: -moz-linear-gradient(100% 100% 90deg, #ccd2d7, #fefeff);
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#ccd2d7)); }
