%div{"data-role"=>"header"}
  =link_to "Overview", mobile_taxon_path(@taxon_concept.id), "data-icon"=>"grid", "data-direction"=>"reverse"
  %h1=t "mobile.taxa.taxon_media"

%div{"data-role"=>"content"}
  %h3=@taxon_concept.title unless @taxon_concept.title.blank?
  %div.image_container
    = image_tag @exemplar_image.smart_medium_thumb unless @exemplar_image.blank?

  %h3=t "mobile.taxa.images"
  #image_gallery
    -@media.select {|m| m.image?}.map do |m|
      =#link_to image_tag(m.smart_medium_thumb), m.smart_image
      =link_to image_tag(m.smart_thumb), m.smart_image unless m.smart_thumb.blank?

  %h3=t "mobile.taxa.sounds"
  #sounds_gallery
    -@media.select {|m| m.sound?}.map do |m|
      - en_mime_type ||= m.mime_type.label('en')
      - if m.sound_url && m.mime_type
        %audio{:controls => true, :loop => false, :autoplay => false, :preload => 'metadata'}
          %source{:type => en_mime_type, :src => m.sound_url}
    
  %h3=t "mobile.taxa.videos"
  #video_gallery
    -@media.select {|m| m.video?}.map do |m|
      = image_tag 'v2/temporary_for_mockup/video_thumb.png'

#more_buttons{"data-role"=>"content"}
  =link_to t("mobile.taxa.overview"), mobile_taxon_path(@taxon_concept.id), "data-role"=>"button", "data-role"=>"button"
  =link_to t("mobile.taxa.details"), mobile_taxon_details_path(@taxon_concept.id), "data-role"=>"button"
  =#link_to t("mobile.taxa.media"), mobile_taxon_media_path(@taxon_concept.id), "data-role"=>"button"
  =#link_to t("mobile.taxa.maps"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.nomenclature"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.literature"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.community"), "", "data-role"=>"button"
  =#link_to t("mobile.taxa.resources"), "", "data-role"=>"button"

:javascript
  $(document).ready(function() {
    $('#image_gallery a').touchGallery();
  });
  
