= form_tag({}, class: "select_submit", method: :get) do
  %fieldset
    %dl
      %dt
        = label_tag :sort_by, I18n.t(:sort_by_label)
      %dd
        = select_tag :sort_by,
          options_for_select(@page_meta.meta.sort_options,
          @page_meta.meta.sort_by)
  %fieldset.actions
    = submit_tag I18n.t(:sort_by_button), name: nil
