#sidebar

#user.main_container
  = render :partial => 'activity_logs/index', :locals => {:log => @user.activity_log, :form_position => :before_header, :header => I18n.t(:newsfeed), :header_style => 'heading', :allow_filter => true}
