#newsfeed_tab.main_container
  .article.list.updates
    = render :partial => 'comments/new', :locals => {:parent => @user}
    = render :partial => 'activity_logs/index', :locals => {:log => @user.activity_log}
