#sidebar

#user.main_container
  = render :partial => 'feed_items/index', :locals => {:feed => @user.feed, :form_position => :before_header, :header => I18n.t(:newsfeed), :header_style => 'heading', :allow_filter => true}
