%p
  - if note.activity_id == Activity.join.id
    = t(".community_activity_user_joined", :user_name => note.user.full_name, :community_name => note.community.name)
  - elsif note.activity_id == Activity.leave.id
    = t(".community_activity_user_left", :user_name => note.user.full_name, :community_name => note.community.name)
  - elsif note.activity_id == Activity.add_manager.id
    = t(".community_activity_user_made_member_a_manager", :user_name => note.user.full_name,
      :member_name => note.member.user.full_name, :community_name => note.community.name)
  - else
    = t(".community_activity_by_user", :user_name => note.user.full_name,
      :activity_name => note.activity.name, :community_name => note.community.name)
