- most_active = @community.top_active_members
.collection_contributors
  %h3= I18n.t(:most_active_members)
  - if most_active.count <= 0
    .empty
      %p= I18n.t(:no_active_members)
  - else
    %ul
      - most_active.each do |member|
        = render 'members/member_summary', {:member => member, :minimal => true}
