#community_new
  .copy
    %h3= I18n.t(:create_community_about_heading)
    %p= I18n.t(:create_community_about_text, :collection_name => @collection.name)
  = render :partial => 'form', :locals => { :submit_label => I18n.t(:create_community) }
