#report_from_eol
  %h2
    Usage Reports
  %p
    This section allows you to view the latest monthly web page statistics for your content, as well
    as comments and curation activity related to your content.  Use the navigation on the left to select the report.
