
<div id="report_from_eol">
  <h2>Latest Monthly Web Usage Statistics</h2>
  <p>The following statistics represent web page statistics for EOL pages containing your data objects.
    It may take a minute for the report to appear - please be patient.</p>

    <%= render :partial => '/shared/embed_external_page',
               :locals  => {:height => '600',
                            :width  => '100%',
                            :url    => "http://services.eol.org/eol_php_code/applications/google_stats/process.php?path=data/#{@report_date}&agent_id=#{@agent_id}"} %>

</div> 
