:javascript
  function survey_response(user_response) {
      
      new EOL.Effect.disappear('flash-survey', {delay: 0, queue: 'end'});
      new EOL.Effect.disappear('progress-open', { delay: 0.0, duration: 0.5, from: 0.50, to: 0.0});
      document.cookie ='survey_taken=' + user_response + '; expires=31 Dec 2008 23:59:59 UTC; path=/'
        new Ajax.Request('/taxa/survey_response/', {
         parameters: { user_response: user_response, taxon_concept_id: '#{@taxon_concept.id}' }, 
        asynchronous:true, 
        evalScripts:true})
        if (user_response=='yes') {
           window.open('#{$SURVEY_URL}');
        }
  }
  
Help us
%br
%br
Are you interesting in taking a short survey to help us improve this site?
%br
%a{ :href => "javascript:survey_response('yes');" }
  Yes
%br
%a{ :href => "javascript:survey_response('no');" }
  No thanks
%br
%a{ :href => "javascript:survey_response('done');" }
  I've already taken it
