%a.close-button{ :href => "#", :onclick => "javascript:$('#contribute-info').slideUp();return false;"}
= I18n.t(:to_submit_a_species_photograph_for, :taxon => @taxon_name, :flickr_link => link_to(I18n.t(:eol_flickr_group) , 'http://www.flickr.com/groups/encyclopedia_of_life/', :target=>'_blank')) 

