<a class="close-button" href="#" onclick="JavaScript:EOL.Effect.disappear('contribute-info');return false;"></a>
To submit a species description for <%=@taxon_name%>, please use the <%=link_to 'Biopedia','http://starcentral.mbl.edu/biopedia/portal.php?pagetitle=classification&SEARCHNAME='+URI.encode(@taxon_name), :target=>'_blank'%> website.  
You can also submit <a href="#media-center">comments</a> about this species directly on the EOL site using the "Comments" tab near the images.