%a.close-button{ :href => "#", :onclick => "javascript:$('#contribute-info').slideUp();return false;"}
=I18n.t("to_submit_text_content_for_taxon_please_be_sure_you_are_logged", :taxon => @taxon_name)
%span.add_text_button{ :style => "width:20px;height:25px;" }
=I18n.t("icon_near_the_table_of_content")
