%a.close-button{ :href => "#", :onclick => "JavaScript:EOL.Effect.disappear('contribute-info');return false;" }
To submit text content for
= @taxon_name
, please be sure you are logged into EOL and then click the
%span.add_text_button{ :style => "width:20px;height:25px;" }
icon near the table of contents on the left side of the page. You can also submit
%a{ :href => "#media-center" }
  comments
about this species directly on the EOL site using the "Comments" tab near the images.