%a.close-button{ :href => "#", :onclick => "javascript:$('#contribute-info').slideUp();return false;"}
=I18n.t("to_submit_text_content_for")
= @taxon_name
=I18n.t("__please_be_sure_you_are_logge")
%span.add_text_button{ :style => "width:20px;height:25px;" }
=I18n.t("icon_near_the_table_of_content")
%a{ :href => "#media-center" }
  =I18n.t("comments_")
=I18n.t("about_this_species_directly_on")
