<a class="close-button" href="#" onclick="JavaScript:EOL.Effect.disappear('page-help');return false;"></a>
<ol>
	<li>Try searching for a species in the search box to the left.</li>
	<li>Use the classification browser on the right side of the page, click on the names to move to that page.</li>
</ol>
For more help, consult the <%= link_to "FAQ", faq_url %> and <%= link_to "Help", help_url %>.