= javascript_include_merged 'taxa-navigation'
- @include_common_names = false
- in_hierarchy  = true
- hierarchy     = current_node.hierarchy
- entry_kingdom = current_node.kingdom
%ul
  - kingdoms = hierarchy.kingdoms(:include_common_names => @include_common_names, :common_name_language => current_language)
  - for kingdom in kingdoms
    - if entry_kingdom && entry_kingdom.id == kingdom.id
      - ancestors = current_node.ancestors(:include_common_names => @include_common_names, :common_name_language => current_language)
      - hierarchy_entry = ancestors.pop
      = render(:partial => 'navigation/node_with_ancestry_page', :locals => { :in_hierarchy => in_hierarchy, :current_node => current_node, :ancestors => ancestors, :hierarchy_entry => hierarchy_entry, :open => 'open' })
    - else
      %li
        = render(:partial => 'navigation/node_name_page', :locals => { :in_hierarchy => in_hierarchy, :current_node => current_node, :hierarchy_entry => kingdom })
  - if entry_kingdom.blank?
    %li.message
      =I18n.t("name_not_in_select_an_alternate", :hierarchy => hierarchy.label)
