- @include_common_names = (current_user.expertise == "middle")
- @common_name_language = current_user.language
- if @hierarchy_entry.blank?
  - @hierarchy_entry = @taxon_concept.find_ancestor_in_hierarchy(@session_hierarchy)
  - @in_hierarchy = @taxon_concept.in_hierarchy?(@session_hierarchy)
- else
  - @in_hierarchy = true
- @hierarchy = @hierarchy_entry.blank? ? @session_hierarchy : @hierarchy_entry.hierarchy
- entry_kingdom = @hierarchy_entry.blank? ? nil : @hierarchy_entry.kingdom

#taxonomic-text-container
  %ul#taxonomictext
    - kingdoms = @hierarchy.kingdoms(:include_common_names => @include_common_names, :common_name_language => @common_name_language)
    - for kingdom in kingdoms
      - if entry_kingdom && entry_kingdom.id == kingdom.id
        - ancestors = @hierarchy_entry.ancestors(:include_common_names => @include_common_names, :common_name_language => @common_name_language)
        - hierarchy_entry = ancestors.pop
        - unless kingdom == kingdoms.first
          %br
        = render(:partial => 'navigation/node_with_ancestry_page', :locals => { :ancestors => ancestors, :hierarchy_entry => hierarchy_entry, :node_class => 'bold' })
        - unless kingdom == kingdoms.last
          %br
      - else
        %li
          = render(:partial => 'navigation/node_name_page', :locals => { :hierarchy_entry => kingdom, :node_class => 'bold' })
    - if entry_kingdom.blank?
      %br
      %span.message
        Name not in
        = @session_hierarchy.label
        \. Select an alternate hierarchy from the list above
