- hierarchy    = @selected_hierarchy_entry.hierarchy
- entry_root   = @selected_hierarchy_entry.kingdom
%ul
  - roots = hierarchy.kingdoms(:common_name_language => current_language)
  - for root in roots
    - if entry_root && entry_root.id == root.id
      - ancestors = @selected_hierarchy_entry.ancestors(:common_name_language => current_language)
      - hierarchy_entry = ancestors.pop
      = render(:partial => 'navigation/node', :locals => { :ancestors => ancestors, :hierarchy_entry => hierarchy_entry, :open => 'open' })
    - else
      %li= navigation_node(root, :link_to_taxa => false)
