<div id="taxonomic-text-container">
  <ul id="taxonomictext">
  <%- kingdoms              = Hierarchy.default.kingdoms_hash(current_user.expertise, current_user.language) rescue [] %>
  <%- kingdoms.each do |kingdom| %>
    <%# show some visible segregation from other kingdoms if this is our current kingdom%>
    
    <%= render(:partial=>'navigation/tree_view_node',
               :locals=>{:namestring            => kingdom[:name],
                         :italicized_namestring => kingdom[:italicized],
                         :id                    => kingdom[:id],
                         :valid                 => kingdom[:valid],
                         :enable                => kingdom[:enable],
                         :kingdom               => true,
                         :first_kingdom         => kingdom == kingdoms.first,
                         :current_kingdom       =>(kingdom[:id].to_i == @taxon.kingdom.taxon_concept_id),
                         :level                 => 0,
                         :current_node          =>(kingdom[:id].to_i == @taxon.id)
                        }) %>
      <%- if kingdom[:id].to_i == @taxon.kingdom.taxon_concept.id %>
      <%= render(:partial => 'navigation/tree_view_current_kingdom',
                 :locals => {:current_treepath => @taxon.ancestors_hash(current_user.expertise, current_user.language),
                             :children_nodes   => @taxon.children_hash(current_user.expertise, current_user.language).sort { |a,b|
                                 a[:name] <=> b[:name]
                            }}) %>
        <br />
    <%- end %>
    </li>
  <%- end %>
  </ul>
  <%- if @taxon.find_default_hierarchy_ancestor.nil? %>
    <ul><li><br/><b>Name not in 2008 Catalogue of Life</b></li></ul>
  <%- end %>
</div>
