<% kingdoms = Hierarchy.default.kingdoms(current_user) %>



<div id="browser-text">
    <ul>
        <% for kingdom_counter in 0..kingdoms.size-1 %>
	        <%= render(:partial=>'navigation/tree_view_node_for_selection',
		        :locals=>{:kingdom      => true,
		    	    :level        => 0,
		        	:taxonID      => kingdoms[kingdom_counter].taxon_concept_id,
			        :namestring   => kingdoms[kingdom_counter].name(current_user.expertise, current_user.language, :classification),
:current_node => (!@taxon.nil? && !@taxon.entry.nil? && kingdoms[kingdom_counter].id == @taxon.entry.id),
			        :exists       => kingdoms[kingdom_counter].valid,
		    	    :enabled      => kingdoms[kingdom_counter].enable}) -%>
        <% end %>
    </ul>
</div>
