<div id="report_from_eol">
  <h2><%= @page_header %></h2>
  
  <ul>
    <% for act_history in @act_histories -%>

        <% act_date = time_ago_in_words(act_history.created_at) -%>  
        <% current_act = act_history.action_with_object.action_code %>

        <% case act_history.changeable_object_type_id  
             when 1: -%>    <!-- "data_object" -->
             <%= render :partial=> 'statuses_report.html.erb',
                        :locals=>{:act_history => act_history, 
                                  :act_date => act_date, :current_act => current_act} %>
           
          <% when 2: -%>    <!-- "comment" -->
        
            <%= render :partial=> 'comments_report.html.erb',
                    :locals=>{:act_history => act_history, 
                              :act_date => act_date, :current_act => current_act} %>
                   
          <% when 3: -%>    <!-- <p>"tag"</p> -->
           <%# not counts at present -%>
          <% when 4: -%>    <!-- <p>"users_submitted_text"</p> -->   
            <%# not in use yet %>
            <%#= render :partial=> 'user_submitted_text_report.html.erb',
                    :locals=>{:act_history => act_history, 
                              :act_date => act_date, :current_act => current_act} %>
          
        <% end -%> 
      <%# end -%>                                                                                                                 
    <% end -%>                                                                                                                 
  </ul>
</div> 
