.error
  %p{ :style => 'padding-bottom:2em;' }
    =  I18n.t(:general_error_occurred)
    -# Extra tests because errors can be caused by weird things:
    - begin
      - if current_user.is_admin? && defined?(message)
        %p{ :style => 'padding:1em 0;' }
          = I18n.t(:you_are_an_admin_so_i_will_show_you_that_the_error_was)
        %code{ :stye => 'style:block;padding:2em;' }
          = message
    - rescue
      -# Do nothing.  The problem is that the special community CAN be missing in tests.
  - unless defined?(supress_try_again_link)
    %p= link_to I18n.t(:try_your_request_again) , '#', { :onclick=>'javascript:window.location.reload();' }
