- last = ((total - 1) == index)
%li{ :class => (last ? 'last' : nil) }
  - if explore_taxa
    - random_images = explore_taxa.dup
    - random_images.each_with_index do |random_image, i|
      - next if i % total != index
      - next if random_image.nil? || random_image.taxon_concept.nil?
      - random_image.taxon_concept.reset_instance_best_image_cache
      - next if random_image.taxon_concept.exemplar_or_best_image_from_solr.nil?
      - img_url = random_image.taxon_concept.exemplar_or_best_image_from_solr.thumb_or_object('130_130')
      - next if img_url.nil?
      - opacity = (i >= total) ? 0 : 1  # anything on the second row should be invisible in case JS is disabled
      - zindex = (i >= total) ? -1 : 1  # anything on the second row should be in the background in case JS is disabled
      - scientific_name = random_image.taxon_concept.title_canonical
      - common_name = random_image.taxon_concept.preferred_common_name_in_language(current_language)
      - alt_text = scientific_name
      = link_to image_tag(img_url, :alt => alt_text, :"data-scientific_name" => scientific_name, :"data-common_name" => common_name), overview_taxon_path(random_image.taxon_concept_id), :style => "position:absolute; opacity:#{opacity}; z-index: #{zindex};", :height => 130, :width => 130
