<div id="content">
  <div id="page-separator-general"></div>
  <div id="page-title">
    <h1><%= @title %></h1>
    <hr />
  </div>
  <div id="page-content" class="clearfix">
    <div id="full-page-content">
      <h3><%= @date_generated %></h3>
      <% if !@text_to_write.empty? -%>
        <% for dato in @text_to_write -%>
          <img border="0" src="<%= dato.thumb_or_object %>"/>
          <br /><br />
        <% end -%>
      <% else -%>
        No images for this taxon
      <% end -%>
    </div>
  </div>
</div>
