#content
  #page-separator-general
  #page-title
    %h1
      Darwin Core
    %hr
  #page-content.clearfix
    #full-page-content
      %p
        Darwin Core is a standardized set of terms for describing biodiversity data. The 
        %a{ :href => 'http://www.tdwg.org/'}
          Biodiversity Information Standards (BIS)
        group formerly called the Taxonomic Databases Working Group (TDWG) recently ratified the latest version of Darwin Core as an official TDWG standard. Refer to the official
        %a{ :href => "http://rs.tdwg.org/dwc/terms/index.htm" }
          Darwin Core terms list
        for more a complete reference about the Darwin Core standard.
      
      %br
      %p
        The Darwin Core archive is a format for storing these data in a spreadsheet-style format for easy sharing. You can find
        %a{ :href => "http://rs.tdwg.org/dwc/terms/guides/text/index.htm" }
          more information here
        about creating well-formed DwC archives. Several large biodiversity projects are recommending the use of Darwin Core archives for the sharing of biodiversity information such as the
        %a{ :href => "http://www.gbif.org/informatics/standards-and-tools/publishing-data/data-standards/darwin-core-archives/" }
          Global Biodiversity Information Facility (GBIF)
        ,
        %a{ :href => "http://www.globalnames.org/" }
          Global Names Index (GNI)
        and others An EOL sponsored content biodiversity information management system
        %a{ :href => "http://www.lifedesks.org/classifications/" }
          LifeDesks
        are also advocating the use of DwC-A and provide tools for generating the archives.
      
      %br
      %p
        Encyclopedia of Life content partners can now contribute a 
        %a{ :href => "http://code.google.com/p/gbif-ecat/wiki/DwCArchive" }
          Darwin Core (DwC) archive file
        describing a taxonomic classification and related terms (such as taxonomic synonyms and common names). EOL will ingest these classifications and announce them to our administrators for review. Upon verification, the classifications will be made available as alternatives with which users can
        %a{ :href => '/content/page/new_features#browser' }
          browse EOL pages. 
