#content
  #page-separator-general
  #page-title
    %h1
      =I18n.t("darwin_core")
    %hr
  #page-content.clearfix
    #full-page-content
      %p
        =I18n.t("darwin_core_is_a_standardized_") 
        %a{ :href => 'http://www.tdwg.org/'}
          =I18n.t("biodiversity_information_stand")
        =I18n.t("group_formerly_called_the_taxo")
        %a{ :href => "http://rs.tdwg.org/dwc/terms/index.htm" }
          =I18n.t("darwin_core_terms_list")
        =I18n.t("for_more_a_complete_reference_")
      
      %br
      %p
        =I18n.t("the_darwin_core_archive_is_a_f")
        %a{ :href => "http://rs.tdwg.org/dwc/terms/guides/text/index.htm" }
          =I18n.t("more_information_here")
        =I18n.t("about_creating_well_formed_dwc_")
        %a{ :href => "http://www.gbif.org/informatics/standards-and-tools/publishing-data/data-standards/darwin-core-archives/" }
          =I18n.t("global_biodiversity_informatio")
        ,
        %a{ :href => "http://www.globalnames.org/" }
          =I18n.t("global_names_index__gni_")
        =I18n.t("and_others_an_eol_sponsored_co")
        %a{ :href => "http://www.lifedesks.org/classifications/" }
          =I18n.t("lifedesks")
        =I18n.t("are_also_advocating_the_use_of")
      
      %br
      %p
        =I18n.t("encyclopedia_of_life_content_p_") 
        %a{ :href => "http://code.google.com/p/gbif-ecat/wiki/DwCArchive" }
          =I18n.t("darwin_core__dwc__archive_file")
        =I18n.t("describing_a_taxonomic_classif")
        %a{ :href => '/content/page/new_features#browser' }
          =I18n.t("browse_eol_pages")
