#content
  #page-separator-general
  #page-title
    %h1
      =I18n.t("darwin_core")
    %hr
  #page-content.clearfix
    #full-page-content
      %p
        =I18n.t("darwin_core_is_a_standardized_")        
        =I18n.t("the_bis_group_formaly_called")      
      %br
      %p
        =I18n.t("the_darwin_core_archive_is_a_format")      
      %br
      %p
        =I18n.t("encyclopedia_of_life_content_partners_can") 
