<div id="content">
	<div id="page-separator-general"></div>

    <!-- page title -->
    <div id="page-title">
		  	<h1><%="Thank You"[]%></h1>
		<hr />
    </div>
    <!-- /page title -->
		
	    <div id="page-content" class="clearfix">
	        <!-- center page content -->
	        <div id="full-page-content">
				   
				<%="Thank you for supporting the Encyclopedia of Life.  Your information has been submitted and will be processed."[:thanks_for_donation]%>
				<br /><br />
				<%="Please {return} to the EOL homepage"[:return_home,link_to("return"[],:controller=>'content',:action=>'index')]%>
				
			</div>
			
	    </div>
</div>