- @status_code ||= controller.instance_variable_get("@status_code")
- error = "EOL Error: #{@status_code} #{current_url}" rescue "EOL Error"
#message
  = render 'content/error', { :status_code => @status_code, :error => error }
