- cache(:controller=>'content',:part=>'exemplars_' + current_user.language_abbr) do
  #content
    .site_column
      .article.copy.exemplars
        %p=I18n.t("the_pages_below_show_the_kind_")
        %ul.object_list
          - for exemplar in @exemplars
            %li
              = random_image_thumb_partial(exemplar)
              %h2= random_image_linked_name(exemplar)
