:javascript
  function translate() {
    window.location = 'http://translate.google.com/translate?hl=en&ie=UTF-8&u=#{@translate_url}&sl=en&tl=' + $('#language').val();
  }
#content
  .site_column
    .article.copy
      %p=I18n.t("try_google_translate_for_any_o")
      %br
      =I18n.t("view_the_eol_in_")
      %select#language{ :name => "tl" }
        %option{ :value => "ar" }
          =I18n.t("arabic")
        %option{ :value => "bg" }
          =I18n.t("bulgarian")
        %option{ :value => "ca" }
          =I18n.t("catalan")
        %option{ :value => "zh-CN" }
          =I18n.t("chinese")
        %option{ :value => "hr" }
          =I18n.t("croatian")
        %option{ :value => "cs" }
          =I18n.t("czech")
        %option{ :value => "da" }
          =I18n.t("danish")
        %option{ :value => "nl" }
          =I18n.t("dutch")
        %option{ :value => "tl" }
          =I18n.t("filipino")
        %option{ :value => "fi" }
          =I18n.t("finnish")
        %option{ :value => "fr" }
          =I18n.t("french")
        %option{ :value => "de" }
          =I18n.t("german")
        %option{ :value => "el" }
          =I18n.t("greek")
        %option{ :value => "iw" }
          =I18n.t("hebrew")
        %option{ :value => "hi" }
          =I18n.t("hindi")
        %option{ :value => "id" }
          =I18n.t("indonesian")
        %option{ :value => "it" }
          =I18n.t("italian")
        %option{ :value => "ja" }
          =I18n.t("japanese")
        %option{ :value => "ko" }
          =I18n.t("korean")
        %option{ :value => "lv" }
          =I18n.t("latvian")
        %option{ :value => "lt" }
          =I18n.t("lithuanian")
        %option{ :value => "no" }
          =I18n.t("norwegian")
        %option{ :value => "pl" }
          =I18n.t("polish")
        %option{ :value => "pt" }
          =I18n.t("portuguese")
        %option{ :value => "ro" }
          =I18n.t("romanian")
        %option{ :value => "ru" }
          =I18n.t("russian")
        %option{ :value => "sr" }
          =I18n.t("serbian")
        %option{ :value => "sk" }
          =I18n.t("slovak")
        %option{ :value => "sl" }
          =I18n.t("slovenian")
        %option{ :value => "es" }
          =I18n.t("spanish")
        %option{ :value => "sv" }
          =I18n.t("swedish")
        %option{ :value => "uk" }
          =I18n.t("ukrainian")
        %option{ :value => "vi" }
          =I18n.t("vietnamese")
      %input.submit{ :type => "submit", :name => "submit", :onclick => "javascript:translate();", :value => I18n.t("go")  }
