%li
  %p
    = act_history.data_object_type_label
    - if act_history.data_object_type_label == 'Text'
      =I18n.t("for_toc", :toc=> act_history.toc_label)      
    =I18n.t("on_link",: link=> link_to(act_history.taxon_concept_name, {:controller => '/taxa', :action => 'show', :id => act_history.taxon_concept_id}, :target => "_blank"), :act => current_act, :user => curator_or_plain_username(act_history.user), :date=> act_date)    
    - if act_history.data_object_type_label == 'Image'
      %br
      = image_tag act_history.data_object.smart_thumb,  :alt => hh(act_history.taxon_concept_name)
