#report_from_eol
  %h2
    =I18n.t("data_object_statistics")
  %p
    =I18n.t("the_following_report_shows_the")
  - if @no_resources
    %br
    =I18n.t("nothing_to_report")
  - else
    = render :partial => '/shared/embed_external_page', :locals  => {:height => '600', :width  => '100%', :url    => "http://services.eol.org/eol_php_code/applications/partner_stat/index.php?agent_id=#{@agent_id}"}
