#report_from_eol
  %h2
    =I18n.t("monthly_web_usage_statistics")
  %p
    =I18n.t("the_following_statistics_repre_")
    =I18n.t("it_may_take_a_minute_for_the_r")
  = render :partial => '/shared/embed_external_page', :locals  => {:height => '600', :width  => '100%', :url    => "http://services.eol.org/eol_php_code/applications/google_stats/process.php?path=data/#{@report_date}&agent_id=#{@agent_id}"}
