#report_from_eol
  %h2
    = @sub_page_header
  - if @comments.empty?
    =I18n.t("nothing_to_report")
  = will_paginate(@comments)
  %ul
    - for comment in @comments
      - act_date = time_ago_in_words(comment.created_at)
      = render :partial=> 'taxa_comments_report', :locals => {:comment => comment,  :act_date => act_date}
  = will_paginate(@comments)
