#report_from_eol
  %h2
    = @sub_page_header
  %ul
    - for curator_log in @curator_logs
      - if curator_log.changeable_object_type_id == 4
        - act_date = time_ago_in_words(curator_log.created_at)
        - current_act = curator_log.activity.name
        = render :partial=> 'user_submitted_text_report', :locals=>{:curator_log => curator_log,  :act_date => act_date, :current_act => current_act}
