- unless data_object.blank?
  - associations = data_object.data_object_taxa_by_visibility(:preview => false, :invisible => current_user.is_admin? || current_user.is_curator?)
  - unless associations.blank?
    %p
      = raw collect_names_and_status(associations[0..2]).join(' &bull; ')
      - if associations.size > 1
        = '...'
        = link_to raw(I18n.t(:associations_more_link)), data_object
