- data_object ||= @data_object
- unless data_object.blank?
  - # How many, if any of these options do we need?
  - visible ||= true
  - invisible ||= current_user.is_admin? || current_user.is_curator? ? true : false
  - preview ||= true
  - entries = data_object.all_associations(:with_unpublished => true).collect{|e| e if (visible && Visibility.visible == e.visibility) || (invisible && Visibility.invisible == e.visibility) || (preview && Visibility.preview == e.visibility)}
  - if entries.compact.blank?
    %p= I18n.t(:data_object_not_associated_with_any_hierarchies)
  - else
    %ul.review_status
      - entries.each do |entry|
        - next if entry.nil?
        - en_status = entry.vetted.label('en').downcase
        - status = entry.vetted == Vetted.unknown ? I18n.t(:unreviewed) : entry.vetted.label
        %li
          %p{:class => en_status}= status
          - unless entry.class == UsersDataObject
            = link_to entry.name.string, taxon_overview_path(entry.taxon_concept_id)
          - else
            = link_to entry.taxon_concept.quick_scientific_name, taxon_overview_path(entry.taxon_concept_id)
