= render :partial => 'data_objects/license', :locals => { :data_object => data_object }
.copy
  %p.owner
    = render :partial => 'data_objects/owner', :locals => { :data_object => data_object, :linked => true }
  = render :partial => 'data_objects/supplier', :locals => { :data_object => data_object }
