- data_object ||= @data_object
- thumbnail ||= false
- unless data_object.blank?
  - en_mime_type ||= data_object.mime_type.label('en')
  - width = 450
  - if thumbnail
    %p= link_to strip_tags(data_object.best_title.truncate(45)), data_object_path(data_object)
    - width = 20
  - if en_mime_type == 'audio/mpeg'
    = render :partial => 'data_objects/jplayer', :locals => {:data_object => data_object, :en_mime_type => en_mime_type, :thumbnail => thumbnail}

  - if en_mime_type == 'audio/x-wav'
    %embed{:height => "20", :width => "#{width}", :src => "#{data_object.sound_url}", :autoplay => "false"}

-# TODO: find sound players for 3 more sound types. Not priority as we don't have partners providing such audio types.
-# audio/x-ms-wma
-# audio/x-pn-realaudio
-# audio/x-realaudio
