%div{ :class => "description #{data_object.id}" }
  - if (data_object['description'])
    .credit.description
      .credit-caption
        = "Description"[]
      .credit-value
        = data_object['description']
      .footer
