- data_object ||= @data_object
- unless data_object.blank? || data_object.license.blank?
  - if data_object.license.logo_url.blank?
    %span.license= raw(license_title_or_empty(data_object.license))
  - else
    = link_to image_tag('licenses/' + data_object.license.logo_url, :alt => license_title_or_empty(data_object.license)),
      data_object.license.source_url, :rel => :nofollow
