= javascript_include_tag 'new-text'
%p
  %strong
    = I18n.t(:you_must_be) 
    = link_to('logged in', login_path(:params => {:return_to => request.env["HTTP_REFERER"].blank? ? root_url : URI.parse(request.env["HTTP_REFERER"]).path}), {:class => 'login_link'} )
    = I18n.t(:to_add_text) 
