-# owner basically means choose someone responsible for this object
- owner = nil
- if data_object.rights_holder.blank?
  - owner, user = data_object.owner
- else
  - owner = "&copy; #{data_object.rights_holder}"
- unless owner.blank?
  - if defined?(linked) && linked && !user.blank? && !user.id.blank?
    = link_to owner, user_path(user)
  - else
    = owner
