-# owner basically means choose someone responsible for this object
- if orig = data_object.translated_from # Use the original owner.
  - data_object = orig
- if data_object.rights_holder_for_display.blank?
  - owner, user = data_object.owner
- else
  - owner = "#{data_object.rights_holder_for_display}"
  - unless data_object.license && data_object.license.is_public_domain?
    - owner = "&copy; " + owner
- if owner.blank?
  = raw "&nbsp;"
- else
  = raw owner
