-# owner basically means choose someone responsible for this object
- if data_object.rights_holder.blank?
  - owner, user = data_object.owner
- else
  - owner = "#{data_object.rights_holder}"
  - unless data_object.license && data_object.license.is_public_domain?
    - owner = "&copy; " + owner
- if owner.blank?
  = raw "&nbsp;"
- else
  = raw owner
