- linked ||= false
- if data_object.added_by_user?
  - attribution = data_object.users_data_objects[0].user.given_name + data_object.users_data_objects[0].user.family_name
- else
  - attribution = data_object.citable_rights_holder
  - attribution = attribution.nil? ? data_object.best_agents_to_cite : [attribution]
  = citables_to_string(attribution, :linked => linked)