- en_type ||= 'unknown_type'
- data_object ||= @data_object
- unless data_object.blank?
  - entries = data_object.data_object_taxa_by_visibility(:invisible => current_user.is_admin? || current_user.is_curator?)
  - if entries.compact.blank?
    .copy
      %p= I18n.t("#{en_type}_not_associated_with_any_published_entries")
  - else
    %ul.review_status
      - entries.each do |entry|
        - next if entry.nil?
        - en_status = entry.vetted.label('en').downcase
        - status = entry.vetted.curation_label
        %li
          %p{:class => en_status}= status
          = link_to raw(entry.italicized_name), taxon_overview_path(entry.taxon_concept_id)
