.article.list
  .header
    %h3= I18n.t(:revisions)
  %ul
    - revisions.each do |revision|
      - if revision.id == data_object.id
        %li= revision.created_at
      - else
        %li= link_to revision.created_at, data_object_path(revision.id)
