%embed{:type => "application/x-shockwave-flash", :flashvars => "audioUrl=#{sound_url}", 
       :src => "http://www.google.com/reader/ui/3523697345-audio-player.swf", 
       :width => width, :height => "27", :quality => "best" }
