%p
  = I18n.t(:supplier_colon)
  - if data_object.added_by_user? && !data_object.users_data_object.blank?
    = link_to data_object.users_data_object.user.full_name, data_object.users_data_object.user rescue nil
  - else
    = link_to data_object.content_partner.name, data_object.content_partner rescue nil
