- unless @all_results.blank?
  .header
    - start_number = (@all_results.current_page - 1) * @all_results.per_page + 1
    - end_number = [ (start_number + @all_results.per_page - 1), @all_results.total_entries ].min
    %h3= raw(I18n.t(:pagination_range_with_count, :start_number => start_number, :end_number => end_number, :count => @all_results.total_entries))
    = will_paginate @all_results, |
      :previous_label => I18n.t(:pagination_previous_with_count, :count => @all_results.per_page), |
      :next_label => I18n.t(:pagination_next_with_count, :count => @all_results.per_page), |
      :page_links=>false
  %ul
    - @all_results.each do |result|
      - result_instance = result['instance']
      - unless result_instance.nil? # TODO: result_instance is sometimes nil - remove this comment if that is okay, or fix if not.
        - en_type = en_type(result_instance)
        - if en_type == "taxon"
          %li.taxon
            = render "add_association", { :item => result_instance, :data_object => @data_object }
  .footer
    = will_paginate @all_results, |
    :previous_label => I18n.t(:pagination_previous_with_count, :count => @all_results.per_page), |
    :next_label => I18n.t(:pagination_next_with_count, :count => @all_results.per_page), |
    :page_links=>false

