#main
  %div.media
    %h1= @data_object.object_title.html_safe
    %p= @data_object.id
    - if @data_object.image?
      .image
        = link_to(image_tag(@data_object.object_url), @data_object.object_url)
    - @concepts.each do |concept|
      -# = markdown(concept.explain_entries)
      %pre= concept.explain_entries
