= javascript_include_merged 'new-text'
-# Note that this file is ONLY displayed if there's an error.  See the controller for details.
#text_wrapper_
  = render :partial => "content/error", :locals => {:message => @message}
