= content_for :head do
  = javascript_include_merged 'data-object-show'
  -# NOTE - this is non-optimal.  We'd like to load this included in our cached/compressed CSS.  :\  I'm leaving it
  -# because I *assume* that loading a stylesheet from any directory other than stylesheets doesn't work.
  %link{:href=>"/javascripts/jplayer/skin/jplayer.blue.monday.css", :rel=>"stylesheet", :type=>"text/css"}

- en_type ||= en_type(@data_object)
- for_worklist ||= false
- content_for :social_sharing do
  - unless for_worklist
    = render :partial => 'shared/social_sharing'
- # TODO: Looks like HR have moved from using article to text css class - need to check across the site and adjust en_type
#permalink{:class => (en_type == 'article' || en_type == 'link') ? 'text' : en_type}
  = render :partial => "show", :locals => { :for_worklist => for_worklist }
