= content_for :head do
  = javascript_include_tag 'data_object_show'
  = stylesheet_link_tag 'jplayer/skin/jplayer.blue.monday'

- en_type ||= en_type(@data_object)
- for_worklist ||= false
- # TODO: Looks like HR have moved from using article to text css class - need to check across the site and adjust en_type
#permalink{:class => (en_type == 'article' || en_type == 'link') ? 'text' : en_type}
  = render "show", { :for_worklist => for_worklist }
