= form_for @location, { builder: ApplicationHelper::EolFormBuilder } do |f|
  %fieldset.content
    %dl
      %dt= f.label :location
      %dd= f.text_field :location
  %fieldset.actions
    = f.submit
