%h1 Listing locations

%table
  %tr
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Location', new_location_path
