.assistive, #header .assistive {
  position: absolute;
  right: -999em; }

/*
 * Temporary placement of needed CSS for V2
 * I don't want to edit/add to HashRocket's SASS files until they are done making changes
 * so I am temporarily adding some CSS here needed for V2 demo. This CSS should be integrated
 * into HashRocket SASS if it is still needed when design work is complete.
 */
.pagination {
  text-align: left; }
  .pagination a {
    text-decoration: none;
    font-weight: bold; }
  .pagination .prev_page {
    float: right; }
  .pagination .next_page {
    margin-right: 10px; }
  .pagination .disabled {
    color: #616e7a; }

#main .footer {
  clear: both;
  border-top: 1px solid black;
  padding: 10px 0;
  margin: 20px 0 0 0; }

#main .header .pagination {
  position: absolute;
  top: 13px;
  right: 0;
  width: 100%; }
  #main .header .pagination a {
    position: relative !important;
    top: 0 !important;
    right: 0 !important; }

.exemplars ul img, .partners ul img {
  clear: both;
  float: right;
  margin: 0 30px 30px 20px; }

p.status.error {
  border: 1px solid red;
  background: pink; }

#permalink #sidebar ul.review_status p.unknown {
  border: 1px solid #677682;
  background: #8695a1; }

#media_list #main > ul > li .audio {
  position: relative;
  background: #394651 url("/images/v2/icon_sound_tabs.png") no-repeat 50% 20%;
  width: 160px;
  height: 123px;
  margin: 0 0 5px 0;
  text-align: center;
  overflow: hidden; }
  #media_list #main > ul > li .audio p {
    padding: 50px 0 40px 5px; }
    #media_list #main > ul > li .audio p a {
      color: #e2e9ef; }
  #media_list #main > ul > li .audio audio {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    z-index: 1; }
#media_list #main > ul > li p.flag.unknown {
  border: 1px solid #677682;
  background: #8695a1; }
#media_list #main > ul > li > a {
  display: inline-block;
  width: 160px;
  height: 125px;
  overflow: hidden; }
#media_list #main > ul > li form {
  display: block;
  clear: both; }

#taxonomy_detail .average_rating h5 {
  display: inline;
  text-transform: lowercase; }
#taxonomy_detail .average_rating p {
  float: none;
  display: inline; }
#taxonomy_detail .rating h5 {
  display: inline;
  text-transform: lowercase;
  font-size: 0.83em; }
#taxonomy_detail .rating ul {
  display: inline; }

.rating ul li.current_rating_0 {
  position: absolute;
  top: 0;
  right: 0;
  height: 13px;
  font-size: 0;
  text-indent: -8685px;
  text-decoration: none;
  overflow: hidden;
  width: 0;
  background: transparent url("/images/v2/icon_stars.png") right 100% repeat-x; }

.join abbr {
  border: none; }

body > #header .section .actions {
  z-index: 5; }
body > #header .section .session .join {
  float: left;
  text-align: left;
  color: white; }
  body > #header .section .session .join p {
    line-height: 1.4em; }
  body > #header .section .session .join a {
    color: #90bce4; }

#iucn_status {
  margin-bottom: 20px; }
  #iucn_status h3, #iucn_status p {
    display: inline; }

#text_summary .attribution {
  font-size: 0.92em; }
  #text_summary .attribution img {
    float: right;
    margin: 2px 0 0 10px; }

#classifications_summary li {
  overflow: hidden; }
  #classifications_summary li li p {
    font-weight: bold;
    float: right; }
  #classifications_summary li li li p {
    padding-right: 23px !important;
    margin-right: 10px;
    background: transparent url("/languages/ar/images/icon_classification_arrow.png") right 0 no-repeat; }

#taxonomy_detail .article .description {
  padding: 0 0 15px 0;
  line-height: 170%; }
#taxonomy_detail table {
  margin: 20px 0;
  width: 100%; }
  #taxonomy_detail table caption {
    padding: 10px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #666666; }
  #taxonomy_detail table colgroup.count {
    width: 20%; }
  #taxonomy_detail table thead {
    text-align: right; }
    #taxonomy_detail table thead tr {
      border-bottom: 1px solid #cccccc; }
  #taxonomy_detail table .odd {
    background-color: #eeeeee; }

/*
 * TEMPORARY FIX: Forcing image sizes for V2 demo.
 */
#media_summary img {
  max-width: 430px;
  max-height: 310px; }

ul.feed li > a > img {
  width: 50px;
  height: 50px; }

#collections_summary ul li > a > img, #communities_summary ul li > a > img, .collection_contributors ul li > a > img {
  width: 50px;
  height: 50px; }

#header .session img {
  width: 50px;
  height: 50px; }

#collections .collections .article > .header > a > img {
  width: 50px;
  height: 50px; }

#page_heading.with_image .hgroup img {
  max-width: 90px;
  max-height: 90px;
  width: expression(this.width > 90 ? "90px" : true);
  height: expression(this.height > 90 ? "90px" : true); }

#page_heading.profile .hgroup img {
  width: 90px;
  height: 90px; }

#collections.main_container .taxon > img {
  max-width: 90px;
  max-height: 90px;
  width: expression(this.width > 90 ? "90px" : true);
  height: expression(this.height > 90 ? "90px" : true); }

#sidebar .collection_list img {
  width: 35px;
  height: 35px; }
#sidebar.filters dd li.no_results label {
  color: #6f7e8b; }

/* TODO: this hasn't been really thought out and should be changed: */
.heading p#empty {
  font-weight: bold;
  font-size: 1.2em; }

#taxonomy .gallery ul.thumbnails li {
  text-align: center; }
#taxonomy .gallery ul.thumbnails li img {
  max-width: 98px;
  max-height: 68px;
  width: auto;
  height: auto;
  display: inline !important; }

#media_list #main ul li img {
  max-width: 160px;
  max-height: 125px;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto; }
#media_list #sidebar.filters img {
  max-width: 220px;
  max-height: 162px;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto; }

#taxonomy_detail #sidebar img {
  max-width: 260px;
  max-height: 190px;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto; }

ul.object_list li img {
  max-width: 68px;
  max-height: 68px; }

form.comment img {
  height: 50px;
  width: 50px; }
