/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:  	Tantek Celik, Shane Riley
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/
ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup {
  display: block; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 75%;
  color: #394651;
  border-top: 2.7em solid #28323a;
  min-width: 940px;
  direction: rtl; }

body, html {
  background: #394651; }

html {
  overflow-x: hidden; }

a {
  color: #195184; }

.site_column, body > #header .section, body > #footer .section, .thumbnails ul {
  width: 940px;
  margin: 0 auto; }

body > #header a {
  color: white; }
body > #header p.status {
  clear: both;
  padding: 7px 10px;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
  color: #394651;
  border: 1px solid #c7d471;
  background: #edf6b2; }
  body > #header p.status.error {
    border-color: #f2d2cc;
    background: #ffeae6; }
body > #header h1 {
  position: absolute;
  right: 0;
  top: 0.9em;
  z-index: 2; }
  body > #header h1 a {
    display: block;
    width: 125px;
    height: 92px;
    text-indent: -8685px;
    text-decoration: none;
    overflow: hidden;
    background: transparent url("/languages/ar/images/logo.png") 0 0 no-repeat; }
body > #header .section {
  position: relative; }
  body > #header .section .global_navigation {
    position: absolute;
    left: 0;
    top: -2.1em;
    z-index: 1;
    margin-right: 9.6em;
    text-align: left; }
    body > #header .section .global_navigation ul.nav li {
      display: inline;
      padding: 0 7px 0 0;
      text-transform: uppercase; }
      body > #header .section .global_navigation ul.nav li:before {
        padding: 0 0 0 7px;
        font-size: 1.33em;
        vertical-align: -2px;
        content: "•";
        list-style: disc;
        color: #4c5155; }
      body > #header .section .global_navigation ul.nav li:first-of-type:before {
        display: none; }
      body > #header .section .global_navigation ul.nav li a {
        text-decoration: none; }
  body > #header .section .actions {
    position: absolute;
    right: 0;
    top: -2.4em;
    z-index: 3;
    font-size: 0.92em;
    text-transform: uppercase; }
    body > #header .section .actions a {
      display: block;
      text-decoration: none; }
    body > #header .section .actions p {
      padding: 1px;
      border: 1px solid #444749; }
      body > #header .section .actions p a {
        padding: 1px 18px 1px 5px; }
        body > #header .section .actions p a span {
          display: block;
          padding: 0 5px 0 0;
          border-right: 1px solid #444749; }
      body > #header .section .actions p.print {
        float: right; }
        body > #header .section .actions p.print a {
          background: transparent url("/images/v2/icon_paper.png") 111px 2px no-repeat; }
    body > #header .section .actions .language {
      float: right;
      position: relative;
      margin: 0 0 0 10px;
      width: 100px; }
      body > #header .section .actions .language a {
        background: transparent url("/images/v2/icon_dropdown.png") 84px 6px no-repeat; }
      body > #header .section .actions .language ul {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 5;
        width: 100%;
        background: #0a0f13;
        border-top: 1px solid #444749; }
        body > #header .section .actions .language ul li {
          padding: 2px 5px;
          border: 1px solid #444749;
          border-top: none; }
        body > #header .section .actions .language ul a {
          background: transparent;
          direction: ltr;
          text-align: right; }
body > #header form {
  position: relative;
  z-index: 2;
  width: 280px;
  margin: 0 auto;
  padding: 43px 0 0 0; }
  body > #header form label {
    position: absolute;
    right: -9999px; }
  body > #header form .text {
    float: right;
    margin: 0 0 0 10px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background-color: #fefeff;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ccd2d7, endColorstr=#fefeff);
    background-image: -moz-linear-gradient(100% 100% 90deg, #fefeff, #ccd2d7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd2d7), to(#fefeff)); }
  body > #header form input[type="text"] {
    width: 175px;
    height: 1.5em;
    padding: 6px 38px 6px 5px;
    font-size: 1.16em;
    line-height: 140%;
    color: #394651;
    outline: none;
    border: none;
    background: transparent url("/images/v2/icon_search.png") 190px 50% no-repeat; }
  body > #header form input[type="submit"] {
    float: right;
    min-width: 30px;
    min-height: 30px;
    padding: 0 4px;
    overflow: visible;
    font-size: 0.83em;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background-color: #ccd2d7;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefeff, endColorstr=#ccd2d7);
    background-image: -moz-linear-gradient(100% 100% 90deg, #ccd2d7, #fefeff);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#ccd2d7)); }
    body > #header form input[type="submit"]:hover {
      background-color: #dae3eb;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=white, endColorstr=#dae3eb);
      background-image: -moz-linear-gradient(100% 100% 90deg, #dae3eb, white);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#dae3eb)); }
    body > #header form input[type="submit"]:active {
      background-color: #ccd2d7;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefeff, endColorstr=#ccd2d7);
      background-image: -moz-linear-gradient(100% 100% 90deg, #ccd2d7, #fefeff);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefeff), to(#ccd2d7)); }
body > #footer {
  overflow: hidden;
  padding: 0 0 30px 0;
  background: #394651; }
  body > #footer .section {
    padding: 0; }
  body > #footer .copyright {
    float: right;
    padding: 20px 0 0 0;
    text-align: center; }
    body > #footer .copyright h6 {
      padding: 0 0 5px 0; }
      body > #footer .copyright h6 a {
        display: block;
        width: 41px;
        height: 18px;
        text-indent: -8685px;
        text-decoration: none;
        overflow: hidden;
        background: transparent url("/images/v2/logo_footer.png") 0 0 no-repeat; }
    body > #footer .copyright p {
      font-size: 0.83em;
      font-weight: bold;
      color: #6f7e8b; }
  body > #footer .disclaimer {
    color: white;
    background: #566572;
    padding: 10px 20px;
    font-size: 0.92em;
    color: #f0f4f7;
    line-height: 140%;
    text-align: center; }
  body > #footer .global_navigation {
    margin-right: 50px;
    clear: none;
    padding: 20px; }
    body > #footer .global_navigation ul.nav {
      line-height: 160%;
      float: left; }
      body > #footer .global_navigation ul.nav li {
        display: inline;
        padding: 0 7px 0 0;
        text-transform: uppercase; }
        body > #footer .global_navigation ul.nav li:before {
          padding: 0 0 0 7px;
          font-size: 1.33em;
          vertical-align: -2px;
          content: "•";
          list-style: disc;
          color: #6f7e8b; }
        body > #footer .global_navigation ul.nav li:first-of-type {
          padding-right: 0; }
          body > #footer .global_navigation ul.nav li:first-of-type:before {
            display: none; }
        body > #footer .global_navigation ul.nav li a {
          color: white;
          text-decoration: none; }
  body > #footer ul.social_media {
    clear: both;
    float: left; }
    body > #footer ul.social_media li {
      float: left;
      padding: 0 10px 0 0; }
      body > #footer ul.social_media li a {
        display: block;
        width: 25px;
        height: 25px;
        text-indent: -8685px;
        text-decoration: none;
        overflow: hidden;
        background: transparent url("/images/v2/icon_social-media.png") 0 0 no-repeat;
        border: 1px solid #28323a; }
        body > #footer ul.social_media li a.rss {
          background-position: right -25px; }
        body > #footer ul.social_media li a.facebook {
          background-position: right -50px; }
        body > #footer ul.social_media li a.tumblr {
          background-position: right -75px; }
        body > #footer ul.social_media li a.flickr {
          background-position: right -100px; }
        body > #footer ul.social_media li a.youtube {
          background-position: right -125px; }

.thumbnails {
  padding: 10px 0 0 0;
  background: transparent url("/images/v2/bg_thumbnails.png") 0 0 repeat-x; }
  .thumbnails ul {
    position: relative;
    top: 1px;
    z-index: 2; }
    .thumbnails ul li {
      position: relative;
      float: right;
      padding: 0 0 10px 0;
      margin: 0 0 0 20px; }
      .thumbnails ul li img {
        display: block;
        padding: 5px;
        background: transparent url("/images/v2/bg_home_thumbnails.png") repeat;
        background: rgba(255, 255, 255, 0.4);
        width: 130px;
        height: 130px; }
      .thumbnails ul li.last {
        margin: 0; }
      .thumbnails ul li.hover {
        background: transparent url("/images/v2/icon_home-thumb_active.png") 50% 100% no-repeat; }
        .thumbnails ul li.hover img {
          background: rgba(255, 255, 255, 0.6); }
  .thumbnails .term {
    clear: both;
    position: relative;
    z-index: 1;
    padding: 2px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid #93a4b0;
    background: #e5e8eb; }
    .thumbnails .term .site_column, .thumbnails .term body > #header .section, body > #header .thumbnails .term .section, .thumbnails .term body > #footer .section, body > #footer .thumbnails .term .section, .thumbnails .term ul {
      width: 960px;
      padding: 0; }
    .thumbnails .term p {
      font-weight: bold;
      color: #28323a; }

.pagination {
  clear: both;
  text-align: left;
  font-weight: bold;
  margin: 0 0 10px 0; }
  .pagination span, .pagination a {
    margin: 0 0 0 4px;
    line-height: 180%;
    padding: 2px 5px;
    border: 1px solid #cad3db;
    color: #394651; }
    .pagination span.gap, .pagination a.gap {
      border: none; }
    .pagination span.prev_page, .pagination a.prev_page {
      float: right; }
    .pagination span.prev_page, .pagination span.next_page, .pagination a.prev_page, .pagination a.next_page {
      border: none;
      background: none;
      margin: 0; }
    .pagination span.current, .pagination a.current {
      background: #62707d;
      border-color: #394651;
      color: white; }
  .pagination a {
    text-decoration: none;
    background: #f3f7fa; }
    .pagination a:hover {
      border-color: #394651; }
    .pagination a.prev_page:hover, .pagination a.next_page:hover {
      text-decoration: underline; }
  .pagination span.prev_page, .pagination span.next_page {
    color: #616e7a; }
  .pagination span.disabled {
    font-weight: normal;
    color: #cad3db; }
  .pagination + ul {
    border-top: 1px solid #d4dce2;
    margin-top: 12px; }

ul + .pagination {
  border-top: 1px solid #d4dce2;
  padding: 12px 0 0 0;
  margin: 0; }

table.standard tbody th[scope="row"] {
  background-color: #eff2f4;
  text-align: left;
  padding: 0 10px; }

#tabs_bar {
  margin: 0 20px; }
  #tabs_bar ul li {
    display: inline-block; }
    #tabs_bar ul li.active {
      border-color: #93a4b0 #93a4b0 white #93a4b0; }

.main_container .heading {
  overflow: hidden;
  margin-bottom: 20px; }
  .main_container .heading h3 {
    float: right;
    padding: 5px; }
  .main_container .heading form {
    float: left; }
  .main_container .heading fieldset {
    display: inline-block;
    margin: 0; }

#admin_overview.main_container, #cms_index.main_container {
  border: none;
  padding: 0; }

#cms_index ul {
  border-top: 3px solid #93a4b0;
  clear: both;
  margin-top: 30px; }
  #cms_index ul ul {
    margin-top: 0;
    border: none; }
  #cms_index ul li {
    overflow: hidden;
    border-top: 2px solid #93a4b0; }
    #cms_index ul li li {
      border-top: 1px solid #93a4b0;
      margin-right: 20px; }
    #cms_index ul li h3 {
      font-size: 1.2em;
      float: right;
      margin: 20px 0 5px; }
    #cms_index ul li .actions {
      text-align: left;
      margin: 15px 0 0; }
      #cms_index ul li .actions form, #cms_index ul li .actions input, #cms_index ul li .actions form div, #cms_index ul li .actions a.button {
        margin: 0;
        display: inline-block; }
      #cms_index ul li .actions form, #cms_index ul li .actions a.button {
        margin: 0 0 5px 3px; }
      #cms_index ul li .actions input.delete {
        font-weight: normal; }
      #cms_index ul li .actions a.button {
        padding: 3px 10px;
        font-size: 0.92em; }
      #cms_index ul li .actions input[disabled="disabled"] {
        cursor: default;
        background-image: none; }
    #cms_index ul li .translations {
      clear: both;
      margin: 0 0 20px 10px; }
      #cms_index ul li .translations li {
        border: none;
        margin: 5px 0; }

#content_page_new, #content_page_edit {
  width: 640px;
  margin: 0 auto; }
  #content_page_new h3, #content_page_edit h3 {
    margin-top: 50px; }
  #content_page_new fieldset, #content_page_edit fieldset {
    padding-top: 10px; }
    #content_page_new fieldset dt, #content_page_edit fieldset dt {
      margin: 0; }
      #content_page_new fieldset dt p, #content_page_new fieldset dt label, #content_page_new fieldset dt ol, #content_page_new fieldset dt ol li, #content_page_edit fieldset dt p, #content_page_edit fieldset dt label, #content_page_edit fieldset dt ol, #content_page_edit fieldset dt ol li {
        margin-bottom: 0; }
    #content_page_new fieldset dd, #content_page_edit fieldset dd {
      margin: 0 0 10px 0; }
      #content_page_new fieldset dd input[type="text"], #content_page_edit fieldset dd input[type="text"] {
        width: 308px;
        height: 22px;
        padding: 2px 5px;
        font: normal 1em Helvetica, Arial, sans-serif;
        border: 1px solid #cad3db;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f0f4f7, endColorstr=white);
        background-image: -moz-linear-gradient(100% 100% 90deg, white, #f0f4f7);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f4f7), to(white)); }
      #content_page_new fieldset dd textarea, #content_page_edit fieldset dd textarea {
        width: 600px;
        height: 200px; }
      #content_page_new fieldset dd.metadata input[type="text"], #content_page_edit fieldset dd.metadata input[type="text"] {
        width: 600px; }
    #content_page_new fieldset .checkbox p, #content_page_edit fieldset .checkbox p {
      font-weight: normal; }
    #content_page_new fieldset input[type="submit"], #content_page_edit fieldset input[type="submit"] {
      padding: 7px 10px;
      font-size: 1em; }
  #content_page_new form div input[type="submit"].delete, #content_page_edit form div input[type="submit"].delete {
    margin-top: 30px; }

#sidebar .filters form dd input[type="text"] {
  width: 118px; }
#sidebar .filters form dd select {
  width: 120px; }
#sidebar .filters.small fieldset.actions {
  padding: 0;
  margin: 10px 0 0 0; }

#content_partners.main_container .header {
  border-bottom: 1px solid #394651;
  text-align: center; }
  #content_partners.main_container .header h2 {
    margin: 0 0 15px 0;
    font-size: 1.33em; }
#content_partners.main_container > ul {
  margin-top: 20px; }
  #content_partners.main_container > ul > li {
    line-height: 140%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cad3db; }
    #content_partners.main_container > ul > li img {
      max-width: 68px;
      max-height: 68px;
      width: expression(this.width > 68 ? "68px" : true);
      height: expression(this.height > 68 ? "68px" : true); }
    #content_partners.main_container > ul > li h3 {
      font-size: 1.33em;
      margin-bottom: 3px; }
    #content_partners.main_container > ul > li h5 {
      font-size: 1.16em;
      margin-bottom: 8px; }
    #content_partners.main_container > ul > li ul.resources li {
      background: #f3f7fa;
      border: 1px solid #cad3db;
      padding: 8px 10px 0 10px; }
      #content_partners.main_container > ul > li ul.resources li.unknown, #content_partners.main_container > ul > li ul.resources li.request_publish {
        border-color: #c7d471;
        background: #edf6b2; }
      #content_partners.main_container > ul > li ul.resources li.upload_failed, #content_partners.main_container > ul > li ul.resources li.validation_failed, #content_partners.main_container > ul > li ul.resources li.processing_failed {
        background: #ffeae6;
        border-color: #f2d2cc; }
  #content_partners.main_container > ul dl {
    margin: 0 0 5px 0;
    overflow: hidden;
    line-height: 140%; }
    #content_partners.main_container > ul dl.notes {
      clear: both;
      margin-right: 10px; }
    #content_partners.main_container > ul dl dt {
      clear: both;
      float: right;
      padding-left: 0.5em;
      font-weight: bold; }
  #content_partners.main_container > ul form label.select {
    font-weight: bold; }
    #content_partners.main_container > ul form label.select input[type="select"] {
      width: 100px; }
  #content_partners.main_container > ul .resource_status {
    float: right;
    width: 220px;
    margin-right: 10px; }
    #content_partners.main_container > ul .resource_status dl {
      line-height: 160%;
      margin: 0; }
    #content_partners.main_container > ul .resource_status form, #content_partners.main_container > ul .resource_status form div {
      display: inline-block; }
    #content_partners.main_container > ul .resource_status form div {
      margin: 7px 0; }
  #content_partners.main_container > ul .settings {
    float: left;
    width: 200px; }
  #content_partners.main_container > ul + .footer {
    border-top: 1px solid #394651;
    padding-top: 12px; }

#content_partners_statistics .heading {
  text-align: center; }
#content_partners_statistics fieldset.download {
  text-align: left; }
#content_partners_statistics table caption {
  font-size: 1.08em;
  margin-bottom: 5px; }
#content_partners_statistics table th {
  width: 25%; }

#content.statistics .site_column, #content.statistics body > #header .section, body > #header #content.statistics .section, #content.statistics body > #footer .section, body > #footer #content.statistics .section, #content.statistics .thumbnails ul, .thumbnails #content.statistics ul {
  width: 100%; }
#content.statistics .main_container {
  border: none; }
  #content.statistics .main_container fieldset {
    display: inline-block; }
    #content.statistics .main_container fieldset.actions {
      margin-right: 10px; }
  #content.statistics .main_container table tbody td {
    text-align: left; }
#content.statistics #statistics_overall table {
  width: 40%;
  margin-bottom: 40px; }
