body > #header .section .actions {
  direction: ltr; }
  body > #header .section .actions .language p.ar, body > #header .section .actions .language li.ar a {
    direction: rtl; }

#page_heading .site_column {
  direction: ltr; }
  #page_heading .site_column .hgroup {
    direction: rtl; }

#profile_notifications .copy form fieldset dd {
  float: none; }

#worklist .filters fieldset, #worklist .filters dl {
  direction: ltr; }
#worklist .filters dt, #worklist .filters dd {
  direction: rtl; }
