-# TODO = the "q: ''" in this search url is superfluous, but without it the path is not built...
-# suspect it should be: = form_tag search_url, method: 'get', role: 'search', id: 'simple_search' do
%form{ id: "simple_search", action: search_url(q: ''), method: "get", role: "search" }
  %h2.assistive= I18n.t(:search_the_site)
  %fieldset
    %label.assistive{ for: :autocomplete_q }= I18n.t(:search_field_label)
    .text
      -# TODO - what is data-include-site_search for?  I don't see it referenced anywhere. Can we remove it?
      = autocomplete_field :autocomplete, 'q', autocomplete_taxon_search_path,
        placeholder: I18n.t(:search_placeholder),
        'data-include-site_search' => 'form#simple_search',
        maxlength: "250", title: I18n.t(:search_input_advisory_information),
        name: 'q', 'data-min-length' => 3

    %input{ type: "submit", name: "search", value: I18n.t(:go), data_error: I18n.t(:must_provide_search_term_error), data_unchanged: I18n.t(:search_placeholder) }
