<!-- This partial is no longer used (at least for this iteration) -->
<div id="sub-header" class="clearfix">

	<!-- filter content -->
	<p class="hide">Filter content</p>

	<div id="fc-biome" class="filter-content">
		<div class="fc-header">
			<h4 id="biome">Biome<span></span></h4>
			<span>
				<a href="#" title="All" class="all">All<span></span></a> 
				<a href="#" title="Filter" class="filter">Filter<span></span></a>				
			</span>			
		</div>
		<div class="fc-nav">
			<table>
				<tr>
					<td>
						<a href="#"><span>Coastal </span> (169,733)</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><span>Marine </span> (230,880)</a>
					</td>
				</tr>
				<tr>
					<td class="selected">
						<a href="#"><span>Polar </span> (12, 837)</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><span>Polar </span> (12, 837)</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><span>Polar </span> (12, 837)</a>
					</td>
				</tr>
			</table>
		</div>
		<hr />
	</div>

	<div id="fc-geography" class="filter-content">
		<div class="fc-header">
			<h4 id="geo">Geography<span></span></h4>
			<span>
				<a href="#" title="All" class="all">All<span></span></a> 
				<a href="#" title="Filter" class="filter">Filter<span></span></a>				
			</span>			
		</div>
		<div class="fc-nav">
			<table>
				<tr>
					<td class="selected">
						<a href="#"><span>Arctic </span> (5,729)</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><span>Antartica </span> (8,658)</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><span>North America </span> (235,549)</a>
					</td>
				</tr>
			</table>
		</div>
		<hr />
	</div>

	<div id="fc-organism" class="filter-content">
		<div class="fc-header">
			<h4 id="type">Type of Organism<span></span></h4>
			<span>
				<a href="#" title="All" class="all">All<span></span></a> 
				<a href="#" title="Filter" class="filter">Filter<span></span></a>				
			</span>			
		</div>
		<div class="fc-nav">
			<table>
				<tr>
					<td class="selected">
						<a href="#"><span>Animals </span> (1,270,000)</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><span>Fungi </span> (64,000)</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><span>Plants </span> (265,000)</a>
					</td>
				</tr>
			</table>
		</div>
		<hr />
	</div>		

	<!-- /filter content -->	

	<!-- /search -->			
	<div id="wrapper-search">
		<h4 id="search">Search<span></span></h4>
		<fieldset>
			<input name="type" type="radio" value="life" class="radio" />
			<span>Life Form</span>
			<input name="type" type="radio" value="environment" class="radio" />
			<span>Environment</span>
		</fieldset>
		<fieldset>					
			<input type="text" class="left text" />
			<input type="image"  alt="FIND" src="/images/fc_find.gif" class="right" />
		</fieldset>
		<hr />
	</div>
	<!-- /search -->
</div>